
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
<!-- <link rel="stylesheet" href="/css/semantic.min1.css"> -->
<!-- <script src="//cdn.jsdelivr.net/g/jquery,semantic-ui,handlebarsjs,jquery.ui"></script> -->



<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<link rel="stylesheet" href="js/vendor/chartist/chartist-plugin-legend.css">
   <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
   <script src="js/vendor/chartist/chartist-plugin-legend.js" charset="utf-8"></script>
   <script src="js/vendor/chartist/chartist-plugin-pointlabels.min.js" charset="utf-8"></script> -->


<script src="js/vendor/jquery@3.1.1,handlebarsjs@4.0.5.js"></script>
<script src="js/vendor/semantic.min.js"></script>

<!-- <script src="//cdn.jsdelivr.net/sortable/1.5.0-rc1/Sortable.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script> -->



<script src="js/vendor/path.min.js"></script>
<script src="js/vendor/calendar.js"></script>
 <link rel="stylesheet" href="css/main.css">
