<template>
    <el-date-picker
            :picker-options="{firstDayOfWeek:1}"

            v-model="val"
            :type="type"
            :size="size"
            :format="format"
            :editable="editable"
            :clearable="clearable"
            :placeholder="placeholder"
            :prefix-icon="xxx"
            v-on:input="changeDate">
    </el-date-picker>
</template>
<script>
    import moment from 'moment'

    export default {
        props: {
            type: {
                default() {
                    return 'date'
                }
            },
            size: {
                default() {
                    return 'small'
                }
            },
            editable: {
                default() {
                    return true
                }
            },
            clearable: {
                default() {
                    return true
                }
            },

            placeholder: {
                default() {
                    return 'Дата'
                }
            },
            required: {
                default() {
                    return false
                }
            },
            format: {
                default() {
                    return 'yyyy-MM-dd'
                }
            },
            value: {
                default() {
                    return null
                }
            },
        },
        data() {
            return {
                val: this.value,
            }
        },
        methods: {
            changeDate: function (val) {
                if (val) {
                    if (this.type == 'daterange') {
                        this.$emit('input', moment(val[0]).format('YYYY-MM-DD'))
                        this.$emit('enddate', moment(val[1]).format('YYYY-MM-DD'))
                    } else if (this.type == 'date') {
                        this.$emit('input', moment(val).format('YYYY-MM-DD'))
                    } else {
                        this.$emit('input', moment(val).format('YYYY-MM-DD H:mm:ss'))
                    }
                }
            }
        },
    }
</script>