<template>
	<div class="ui input left icon">
		<i class="calendar icon"></i>
		<input name="future"  type="text" placeholder="След. контакт">
	</div>
</template>
<script>
	export default {
		props:['date'],
		mounted: function() {
			var self = this
			$(this.$el).calendar({
				type: 'datetime',
				firstDayOfWeek: 1, 
				touchReadonly: true,
				onChange: function(date, text) {
					self.$emit('changeDate',[(date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2))]);
				},
				text: {
					days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
					months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
					monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
					today: 'Сегодня',
					now: 'Сейчас',
					am: 'AM',
					pm: 'PM'
				},
			})
			if (this.date) $(this.$el).calendar('set date',this.date)
		},
	}
</script>