<template>
	<div ref="calendar" id="calendar"></div>
</template>

<script>
	require('fullcalendar')
	require('fullcalendar/dist/locale/ru')

	export default {
		props: {
			locale:{
				default(){
					return 'ru'
				}
			},
			events: {
				default() {
					return []
				},
			},
			views: {
				default() {
					return {agendaFourDay: {
						type: 'list',
						duration: { days: 7 },
						buttonText: '4 day'
					}}
				},
			},
			eventSources: {
				default() {
					return []
				},
			},

			editable: {
				default() {
					return true
				},
			},

			selectable: {
				default() {
					return true
				},
			},

			selectHelper: {
				default() {
					return true
				},
			},

			header: {
				default() {
					return {
						left:   'prev,next today',
						center: 'title',
						right:  ''
					}
				},
			},

			defaultView: {
				default() {
					return 'month'
				},
			},

			sync: {
				default() {
					return false
				}
			},
		},

		mounted() {
			const cal = $(this.$el),
			self = this

			cal.fullCalendar({
				locale: this.locale,
				header: this.header,
				defaultView: this.defaultView,
				editable: this.editable,
				selectable: this.selectable,
				selectHelper: this.selectHelper,
				aspectRatio: 2,
				views: this.views,
				timeFormat: 'HH:mm',
				events: self.events,
				eventSources: self.eventSources,

				eventRender(event, element) {
					if (this.sync) {
						self.events = cal.fullCalendar('clientEvents')
					}
				},

				eventDestroy(event) {
					if (this.sync) {
						self.events = cal.fullCalendar('clientEvents')
					}
				},

				eventClick(event) {
					$(self.$el).trigger('event-selected', event)
				},

				eventDrop(event) {
					$(self.$el).trigger('event-drop', event)
				},

				eventResize(event) {
					$(self.$el).trigger('event-resize', event)
				},

				select(start, end, jsEvent) {
					$(self.$el).trigger('event-created', {
						start,
						end,
						allDay: !start.hasTime() && !end.hasTime(),
					})
				},
			})
		},

		watch: {
			events: {
				deep: true,
				handler(val) {
					$(this.$el).fullCalendar('removeEvents')
					$(this.$el).fullCalendar('addEventSource', this.events)
				},
			}
		},

		events: {
			'remove-event'(event) {
				$(this.$el).fullCalendar('removeEvents', event.id)
			},
			'rerender-events'(event) {
				$(this.$el).fullCalendar('rerenderEvents')
			},
			'refetch-events'(event) {
				$(this.$el).fullCalendar('refetchEvents')
			},
			'render-event'(event) {
				$(this.$el).fullCalendar('renderEvent', event)
			},
			'reload-events'() {
				$(this.$el).fullCalendar('removeEvents')
				$(this.$el).fullCalendar('addEventSource', this.events)
			},
			'rebuild-sources'() {
				$(this.$el).fullCalendar('removeEvents')
				this.eventSources.map(event => {
					$(this.$el).fullCalendar('addEventSource', event)
				})
			},
		},

	}
</script>

<style src="../../node_modules/fullcalendar/dist/fullcalendar.css"> </style>