<template>
	<select :id="id" :name="name" :multiple="multiple == true" class="ui fluid dropdown">
		<option></option>
		<option v-for="item in items" :value="item[index]">
		{{item_view_function(item)}}
		</option>
	</select>
</template>
<script>

	export default {
		props: {
			item_view:{
				default(){
					return {
						fields:['name'],
						separator:' ',
					}
				}
			},
			index:{
				default(){
					return 'id'
				}
			},
			id:{
				default(){
					return null
				}
			},
			name:{
				default(){
					return ''
				}
			},
			multiple:{
				default(){
					return true
				}
			},
			label:{
				default(){
					return ''
				}
			},
			items:{
				default(){
					return {}
				}
			},
			value:{
				default (){
					return null
				}
			},
		},
		mounted() {
			var self = this
			$(this.$el).dropdown({
				onChange: (value, text, $choice) => {
					this.$emit('input', value);
				}
			});
			$(this.$el).dropdown('set selected',this.value)
		},
		watch: {
			value: function (val) {
				$(this.$el).dropdown('clear')
				$(this.$el).dropdown('set selected',val)
			},
			items: function (val) {
				$(this.$el).dropdown('clear')
				$(this.$el).dropdown('set selected',this.value)
			},
		},
		methods: {
			item_view_function: function(item) {
				var item_string = ''
				for (var field in this.item_view.fields){
					if (item[this.item_view.fields[field]]) item_string += item[this.item_view.fields[field]] + this.item_view.separator
				}
				return item_string;
			},
	    }
	}
</script>