<template lang="html">
<div>
  <draggable
  :list="list" :options="options" :move="onmove" :change="onchange"
   v-bind:class="isemptylist" @end="onend" @start="onstart">
  <slot><div :class="{'dragging': dragging}">Пустой список</div></slot>
  </draggable>
</div>
</template>
<!-- sortable trashbin -->
<!-- http://jsbin.com/petimu/1/edit?html,css,js,output -->

<script>

export default {
  props:['list','list_id','list_status_id','options','onmove','onend','onchange','onstart','dragging'],
  methods:{
  },
  computed:{
    isemptylist(){
      var ret='';
      if (this.list.length==0) ret='empty_segments';
      return ret;
  }
}
}
</script>


<style lang="" scoped>
  .dragging {
    border: 1px dashed rgb(134, 134, 134);
    padding: 1em;
  }
.empty_segments{
  padding: 1em;
  opacity: 0.3!important;
}
</style>
