<template>
	<div>
		<div class="ui horizontal fitted divider"></div>

		<div id="top_nav" class="ui stackable menu">
			<a v-on:click="goback" class="item"><i class="chevron left icon"></i>Назад</a>

		<!-- <div class="ui item search">
			<div class="ui left icon input">
				<input class="prompt" autofocus placeholder="Поиск..." type="text">
				<i class="search link icon"></i>
			</div>
		</div> -->


		<router-link to="/orgs" class="item" id="menu-firms"><i class="list layout grey icon"></i>Организации</router-link>

		<router-link to="/projects" class="item"><i class="block sitemap grey icon"></i>Проекты</router-link>

		<!-- <router-link :to="{ name: 'simple_todo', params: { user_id: user.user_id }}" class="item"><i class="cubes grey icon"></i>Задачи</router-link> -->

				<router-link to="/simple_todo" class="item"><i class="cubes  grey icon"></i>Задачи</router-link>

				<router-link v-if="user.user_id == 1" to="/calls" class="item"><i class="call grey  icon"></i>Звонки</router-link>


		<!-- <div v-if="user.user_id == 1" class="ui pointing dropdown link item" id="admin_menu"> -->
			<!-- <i class="dropdown icon"></i> -->
			<!-- <span class="text"><i class="setting grey icon"></i></span> -->
			<!-- <div class="menu"> -->
				<!-- товары отключил, что-то на них ругался бабель при компиляции -->
				<!-- <router-link to="/products" class="item"><i class="block shop grey icon"></i>Товары</router-link> -->
			<!-- <a href="/old#users" class="item"><i class="user blue icon"></i>Пользователи</a> -->
				<!-- <a href="/old#deps" class="item"><i class="block layout blue icon"></i>Направления</a> -->

			<!-- </div> -->
		<!-- </div> -->

<div class="right item">

		<div class="ui dropdown link" id="user_menu">
			<!--<span class="text">++</span>-->
			<span class="xx-text">{{user.name}} {{user.surname}}</span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<a id="menu-logout" href="/logout" class="item"><i class="sign out icon"></i>Выйти</a>
				<router-link to="/stats" class="item"><i class="dashboard grey icon"></i>Статистика</router-link>
				<router-link to="/deps" class="item"><i class="block layout grey icon"></i>Направления</router-link>
				<!--<a  href="#/push" class="item"><i class="alarm outline icon"></i>Уведомления</a>-->
				<!--<router-link to="/todos" class="item"><i class="block checked calendar icon"></i>Календарь</router-link>-->

			<div v-if="user.user_id == 1">
	<router-link to="/users" class="item"><i class="users grey icon"></i>Пользователи</router-link>

			</div>
			</div>
		</div>

</div>


	</div>
	<div class="ui horizontal fitted divider"></div>
</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex'
	export default {
		name: 'top_nav',
		computed: mapGetters({
			user: 'userData'
		}),
		mounted: function() {
			$('#user_menu').dropdown({
                action: 'combo',
				
			});
			// $('#admin_menu').dropdown({});
		},
		methods: {
			goback: function() {
				window.history.back();
			}
		}
	}
</script>
<style lang="">
	#top_nav .item,
	#top_nav .active {
		transition: all .15s;
	}

	/*#top_nav .active .icon {
		color: rgb(67, 171, 27);
	}*/

	#org_search select {
		padding-bottom: 2px!important;
	}
</style>
