<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kavkaz CRM</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <!-- <link rel="stylesheet" href="/css/semantic.min1.css"> -->
    <!-- <script src="//cdn.jsdelivr.net/g/jquery,semantic-ui,handlebarsjs,jquery.ui"></script> -->
    
    
    
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="js/vendor/chartist/chartist-plugin-legend.css">
       <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
       <script src="js/vendor/chartist/chartist-plugin-legend.js" charset="utf-8"></script>
       <script src="js/vendor/chartist/chartist-plugin-pointlabels.min.js" charset="utf-8"></script> -->
    
    
    <script src="js/vendor/jquery@3.1.1,handlebarsjs@4.0.5.js"></script>
    <script src="js/vendor/semantic.min.js"></script>
    
    <!-- <script src="//cdn.jsdelivr.net/sortable/1.5.0-rc1/Sortable.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script> -->
    
    
    
    <script src="js/vendor/path.min.js"></script>
    <script src="js/vendor/calendar.js"></script>
     <link rel="stylesheet" href="css/main.css">
    
</head>



<body>
    <div id="main_topnav" class="ui container"></div>


    <div class="ui horizontal divider"></div>


    <div id="main_container" class="ui container">
        <div class="ui active inverted dimmer">
              <div class="ui text loader"><a href="/">Загрузка...</a></div>

        </div>
    </div>
    <br>
    <script id="handlebars-actionedit" type="text/x-handlebars-template">
        <div id="app-actionedit" class="js-app">
    
    
            <div class="ui segment my_form">
                <h5>{{name_short}}, {{datetime1}}</h5>
                <form id="action_editform" class="ui form" method="POST">
                    <div class="inline fields">
    
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="action_type_id" value="1" checked="" type="radio" {{#xif " action_type_id == 1 "}}checked{{/xif}}>
                                <label>Звонок</label>
                            </div>
                        </div>
    
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="action_type_id" value="2" type="radio" {{#xif " action_type_id == 2 "}}checked{{/xif}}>
                                <label>E-mail</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="action_type_id" value="3" type="radio" {{#xif " action_type_id == 3 "}}checked{{/xif}}>
                                <label>Встреча</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <textarea name="txt" rows="10" placeholder="Опишите действие" required>{{txt}}</textarea>
                    </div>
                    <!-- <input type="date" placeholder="След. контакт"> -->
                    <div class="three fields">
    
                        <div class="field"><input name="contact_person" type="text" value="{{contact_person}}" placeholder="Менеджер клиента, имя"></div>
    
                        <div class="ui calendar field" id="">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input name="future" type="text" placeholder="След. контакт" value="{{future}}">
    
                            </div>
                        </div>
                        <div class="field">
                            <div id="task_id" class="ui selection dropdown">
                                <input type="hidden" name="task_id">
                                <i class="dropdown icon"></i>
                                <div class="default text">Задача</div>
                                <div class="menu">
                                    {{#each tasks.tasks}}
    
                                    <div class="item" data-value="{{task_id}}">{{label}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                    <button class="ui green labeled icon button" type="submit"><i class="edit icon"></i>Редактировать</button>
    
                    <div class="my_float_right inline field">
                        <div class="ui toggle checkbox">
                            <input name="delete" tabindex="0" class="hidden" type="checkbox">
                            <label>Удалить</label>
                        </div>
                    </div>
    
                </form>
            </div>
    
    
        </div>
    </script>
    
        <script id="handlebars-activity" type="text/x-handlebars-template">
        <div id="app-fav" class="js-app">
    
    
            <div id="menu_users" class="ui segment" >
    
              <div class="ui calendar field">
                  <div class="ui input left icon">
                      <i class="calendar icon"></i>
                      <input id="calendar_deps" name="future" type="text" placeholder="События по месяцам">
                  </div>
              </div>
    
            </div>
    
    
    
            <div id="calendar-segments" class="ui segments">
    
    
    
              {{#each actions}}
              <div class="ui segment">
    
                  <span class="my_contact_person">{{name}}</span>&nbsp;<a class="my_title_name" href="#firms/{{org_id}}/item">{{name_short}}</a> {{txt}}
                    <span class="my_label_task">{{label}}</span>
                  <span class="my_contact_person">{{contact_person}}</span>
                  <span class="my_label">{{datetime1}}</span>
    
                  {{#if future}}<span class="my_label my_grey">{{future}}</span>{{/if}}
    
    
              </div>
              {{else}}
              <div class="ui segment">Список пуст</div>
              {{/each}}
    
    
            </div>
    
        </div>
    </script>
    
        <script id="handlebars-calendar-list" type="text/x-handlebars-template">
    
    
    
    
    
    
    {{#each actions}}
    <div class="ui segment">
    
        <span class="my_contact_person">{{name}}</span>&nbsp;<a class="my_title_name" href="#firms/{{org_id}}/item">{{name_short}}</a> {{txt}}
            <span class="my_label_task">{{label}}</span>
        <span class="my_contact_person">{{contact_person}}</span>
        <span class="my_label">{{datetime1}}</span>
    
        {{#if future}}<span class="my_label my_grey">{{future}}</span>{{/if}}
    
        <!-- {{dep}} -->
    
    
    </div>
    {{else}}
    <div class="ui segment">Список пуст</div>
    {{/each}}
    
    
    </script>
    
        <script id="handlebars-calendar" type="text/x-handlebars-template">
        <div id="app-calendar" class="js-app">
    
            <div id="menu_calendar" class="ui segment">
            
                <div class="ui stackable secondary menu">
                    <div class="item">
    
                        <select id="select_user" name="user_id" class="ui dropdown">
                    <option value="all_users">Все пользователи</option>
                    {{#each users}}
                    <option  value="{{user_id}}">{{name}} {{surname}}</option>
                    {{/each}}
                    </select>
                    </div>
                    <div class="item">
                        <select id="select_task" name="task_id" class="ui dropdown">
                    <option value="all_tasks">Все задачи</option>
                    {{#each tasks}}
                    <option  value="{{task_id}}">{{label}}</option>
                    {{/each}}
                    </select></div>
                    <div class="item">
                        <div id="calendar_widget" class="ui calendar field">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input id="calendar_users" name="future" type="text" placeholder="События по месяцам">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div id="calendar_filter_button" class="ui green animated button" tabindex="0">
                            <div class="visible content">Фильтровать</div>
                            <div class="hidden content">
                                <i class="right arrow icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- <table class="ui celled table">
                    <tbody>
                        {{#each groupbyusers}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{count}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table> -->
            </div>
    
    
            <div id="calendar-segments" class="ui segments">
                <!-- [AJAX ВСТАВКА ТУТ] -->
            </div>
    
        </div>
    </script>
    
        <script id="handlebars-calendar" type="text/x-handlebars-template">
        <div id="app-fav" class="js-app">
    
    
            <div class="ui top attached tabular menu">
              <a class="item" data-tab="tab_actions">События</a>
              <!-- <a class="item" data-tab="tab_deps">Направления</a> -->
              <!-- <a class="item" data-tab="tab_graph">График</a> -->
              <a class="item" href="#calendar/tasks" data-tab="tab_tasks">Задачи</a>
    
            </div>
            <div id="menu_tasks" class="ui bottom attached tab segment" data-tab="tab_tasks">
    
               <div class="ui stackable secondary menu">
                  <div class="item">
    
                    <select id="select_task" name="task_id" class="ui dropdown">
                    <option value="_all">Все задачи</option>
                    {{#each tasks}}
                    <option  value="{{task_id}}">{{label}}</option>
                    {{/each}}
                    </select>
                  </div>
    
                  <!-- <div class="item">
                      <div class="ui calendar field">
                          <div class="ui input left icon">
                              <i class="calendar icon"></i>
                              <input  id="calendar_users" name="future" type="text" placeholder="События по месяцам">
                          </div>
                      </div>
                  </div> -->
    
    
              </div>
            </div>
    
            <div id="menu_users" class="ui bottom attached tab segment" data-tab="tab_actions">
    
               <div class="ui stackable secondary menu">
                  <div class="item">
    
                    <select id="select_user" name="user_id" class="ui dropdown">
                    <option value="_all">Все пользователи</option>
                    {{#each users}}
                    <option  value="{{user_id}}">{{name}} {{surname}}</option>
                    {{/each}}
                    </select>
                  </div>
    
                  <div class="item">
                      <div class="ui calendar field">
                          <div class="ui input left icon">
                              <i class="calendar icon"></i>
                              <input  id="calendar_users" name="future" type="text" placeholder="События по месяцам">
                          </div>
                      </div>
                  </div>
    
              </div>
    
                            <table class="ui celled table">
                              <tbody>
                              {{#each groupbyusers}}
                                  <tr>
                                  <td>{{name}}</td>
                                  <td>{{count}}</td>
                                </tr>
                                {{/each}}
                              </tbody>
                            </table>
            </div>
    
            <!-- <div id="menu_deps" class="ui bottom attached tab segment active" data-tab="tab_deps">
               <div class="ui stackable secondary menu">
              <div class="item">
                <select id="select_dep" name="dep_id" class="ui dropdown">
                    <option value="_all">Все направления</option>
                      {{#each deps}}
                    <option  value="{{dep_id}}">{{dep}}</option>
                      {{/each}}
                </select>
    
              </div>
    
              <div class="item">
                  <div class="ui calendar field">
                      <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input id="calendar_deps" name="future" type="text" placeholder="События по месяцам">
                      </div>
                  </div>
              </div>
    
    
              </div>
           </div> -->
    
    <!-- <div  class="ui bottom attached tab segment" data-tab="tab_graph">
    <div class="ct-chart ct-double-octave"></div>
    </div> -->
    
    
            <div id="calendar-segments" class="ui segments">
            <!-- [AJAX ВСТАВКА ТУТ] -->
            </div>
    
        </div>
    </script>
    
        <script id="handlebars-depadd" type="text/x-handlebars-template">
    
        <div id="app-depadd" class="js-app">
    
            <div class="ui segment my_form">
              <h3>Новое направление</h3>
                <div class="ui form">
                    <form id="depadd_form" type="post" action="">
                        <input autofocus name="dep" placeholder="Направление" type="text">
        <div class="ui horizontal  divider"></div>
                        <button type="submit" class="ui positive labeled icon button">
                        Добавить
                        <i class="plus icon"></i>
                    </button>
                    </form>
                </div>
            </div>
    
        </div>
    
    </script>
    
        <script id="handlebars-depedit" type="text/x-handlebars-template">
    
        <div id="app-depedit" class="js-app">
    
            <div class="ui segment my_form">
              <h3>Редактировать направление</h3>
                <div class="ui form">
                    <form id="depedit_form" type="post" action="">
                        <input value="{{dep}}" name="dep" placeholder="Направление" type="text">
        <div class="ui horizontal  divider"></div>
                        <button type="submit" class="ui positive labeled icon button">
                        Сохранить
                        <i class="write icon"></i>
                    </button>
    
    
                                        <div class="my_float_right inline field">
                                            <div class="ui toggle checkbox">
                                                <input name="delete" tabindex="0" class="hidden" type="checkbox">
                                                <label>Удалить</label>
                                            </div>
    
                    </form>
                </div>
            </div>
    
        </div>
    
    </script>
    
        <script id="handlebars-deps" type="text/x-handlebars-template">
    
        <div id="app-deps" class="js-app">
          <h3>Направления</h3>
    
    <a class="ui green basic  labeled icon button" href="#depadd"><i class="plus icon"></i>Добавить</a>
    
          <table class="ui  celled table">
    
            <tbody>
                {{#each deps}}
              <tr>
                <td><a class="my_title_name" href="#dep/{{dep_id}}">{{dep}}</a> <span class="my_grey">{{count}} организаций </span></td>
    
              </tr>
                {{/each}}
    
            </tbody>
          </table>
    
        </div>
    
    </script>
    
        <script id="handlebars-director" type="text/x-handlebars-template">
    
        <div id="app-director" class="js-app">
    
            <div class="ui menu">
    
                <a class="item" href="#tasks"><i class="ui write green icon "></i> Редактировать цели</a>
    
            </div>
    
      
    
    <div class="ui styled fluid accordion">
            {{#each tasks}}
            <div class="title">
             <i class="dropdown icon"></i>
             {{label}}
           </div>
           <div class="content">
             <p class="transition hidden">
               <table class="ui celled selectable table">
                   <thead>
                       <tr>
                           <th class="eight wide">
                             <!-- <span class="my_popup" data-title="{{deadline}}" data-content="{{info}}" data-position="right center">{{label}}</span> -->
                             Всего
                              <a href="#calendar/all_users/{{task_id}}/all_months">{{count}}</a>
    
    
                           </th>
                           <th class="two wide"><span class="my_grey">10/16 <a href="#calendar/all_users/{{task_id}}/2016-10-01">{{colsum10}} </a></span></th>
                           <th class="two wide"><span class="my_grey">11/16 <a href="#calendar/all_users/{{task_id}}/2016-11-01">{{colsum11}} </a></span></th>
                           <th class="two wide"><span class="my_grey">12/16 <a href="#calendar/all_users/{{task_id}}/2016-12-01">{{colsum12}} </a></span></th>
    
                       </tr>
                   </thead>
    
    
                   {{#each data}}
                   <tbody>
                       <tr>
                           <td>{{name}} <a href="#calendar/{{user_id}}/{{../task_id}}/all_months">{{rowsum}}</a></td>
    
                           <td {{#xif " m10<5"}}class="negative" {{/xif}} {{#xif " m10==15"}}class="warning" {{/xif}} {{#xif " m10>80"}}class="positive" {{/xif}}><a href="#calendar/{{user_id}}/{{../task_id}}/2016-10-01">{{m10}}</a></td>
                           <td {{#xif " m11<5"}}class="negative" {{/xif}} {{#xif " m11==15"}}class="warning" {{/xif}} {{#xif " m11>80"}}class="positive" {{/xif}}><a href="#calendar/{{user_id}}/{{../task_id}}/2016-11-01">{{m11}}</a></td>
                           <td {{#xif " m12<5"}}class="negative" {{/xif}} {{#xif " m12==15"}}class="warning" {{/xif}} {{#xif " m12>80"}}class="positive" {{/xif}}><a href="#calendar/{{user_id}}/{{../task_id}}/2016-12-01">{{m12}}</a></td>
    
                       </tr>
                       {{/each}}
                   </tbody>
    
    
               </table>
             </p>
           </div>
    
    
            {{/each}}
    </div>
    
        </div>
    
    </script>
    
        <script id="handlebars-firmadd" type="text/x-handlebars-template">
        <div id="app-firmadd" class="js-app">
    
            <div id="app-firmadd-responce" class="ui segment" style="display:none">
                <h3 class="js-title">%%название организации%%</h3>
                <div class="ui grey">Организация успешно добавлена.</div> <br>
                <a class="js-goto ui green basic labeled icon button" href=""><i class="write icon"></i>Карточка организации</a>
                <div class="ui horizontal divider"></div>
                <!-- <div class="ui horizontal divider"></div> -->
                <button class="js-addonemore ui tiny grey basic labeled icon button"><i class="plus  icon"></i>Добавить еще организацию</button>
            </div>
    
    
    
    
            <div id="app-firmadd-form" class="ui segment my_form">
                <h3 class="ui header">Новая организация</h3>
                <div class="ui form">
                    <form action="" id="firmadd_form">
                        <div class="inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="1" checked="" type="radio">
                                    <label>Холодный</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="2" type="radio">
                                    <label>Постоянный</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="3" type="radio">
                                    <label>Особый</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="4" type="radio">
                                    <label>Конкурент</label>
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="5" type="radio">
                                    <label>Поставщик</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="6" type="radio">
                                    <label>Закрыт</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="7" type="radio">
                                    <label>Отказ</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="8" type="radio">
                                    <label>Другой профиль</label>
                                </div>
                            </div>
                        </div>
    
                        <div class="three fields">
                            <div class="field">
                                <label>Название</label>
                                <input autofocus name="name_short" placeholder="Название" type="text" value="" required>
                            </div>
                            <div class="field">
                                <label>email</label>
                                <input name="email" placeholder="email" type="email" value="">
                            </div>
                            <div class="field">
                                <label>Сайт</label>
                                <input name="site" placeholder="Сайт" type="text" value="">
                            </div>
                        </div>
    
    
                        <div class="fields">
                            <div class="four wide field">
                                <label>Телефон 1</label>
                                <input name="phone1" placeholder="Телефон" type="text" value="" required>
                            </div>
                            <div class="six wide field">
                                <label>Имя 1</label>
                                <input name="person1" placeholder="Менеджер" type="text" value="">
                            </div>
                            <div class="six wide field">
                                <label>Примечание 1</label>
                                <input name="person1title" placeholder="например: должность" type="text" value="">
                            </div>
                        </div>
    
                        <div class="fields">
                            <div class="four wide field">
                                <label>Телефон 2</label>
                                <input name="phone2" placeholder="Телефон" type="text" value="">
                            </div>
                            <div class="six wide field">
                                <label>Имя 2</label>
                                <input name="person2" placeholder="Менеджер" type="text" value="">
                            </div>
                            <div class="six wide field">
                                <label>Примечание 2</label>
                                <input name="person2title" placeholder="" type="text" value="">
                            </div>
                        </div>
    
    
                        <div class="fields">
                            <div class="four wide field">
                                <label>Телефон 3</label>
                                <input name="phone3" placeholder="Телефон" type="text" value="">
                            </div>
                            <div class="six wide field">
                                <label>Имя 3</label>
                                <input name="person3" placeholder="Руководитель" type="text" value="">
                            </div>
                            <div class="six wide field">
                                <label>Примечание 3</label>
                                <input name="person3title" placeholder="" type="text" value="">
                            </div>
                        </div>
    
    
    
                        <div class="fields">
                            <div class="three wide field">
                                <label>Страна</label>
                                <!-- <input name="city" placeholder="Адрес" type="text" value=""> -->
                                <select id="country_id" required name="country_id" class="ui search dropdown">
                                <option value="1285" selected>Россия</option>
                                <option value="1317">Украина</option>
                                <option value="1302">Беларусь</option>
                                <option value="1290">Казахстан</option>
    
                            </select>
                            </div>
                            <div class="three wide field">
                                <label>Город</label>
    
    
                                <div id="city" class="ui search">
                                    <div class="ui icon input">
                                        <input name="city" class="prompt" type="text" placeholder="Город...">
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
    
    
                                <!-- <select id="city_id" required name="city_id" class="ui search dropdown">
                                        <option value="0"></option>
                                        <option value="1">Ростов-на-Дону</option>
                                        <option value="2">Краснодар</option>
                                        <option value="3">Москва</option>
                                        <option value="4">Санкт-Петербург</option>
    
                                    </select> -->
    
    
                            </div>
                            <div class="ten wide field">
                                <label>Адрес</label>
                                <input name="address_fact" placeholder="Адрес" type="text" value="">
                            </div>
                        </div>
    
    
    
                        <div class="field">
                            <select id="select_dep" name="deps[]" multiple="" class="ui fluid dropdown">
                            <option value="">Направления</option>
                              {{#each deps}}
                              <option value="{{dep_id}}">{{dep}}</option>
                              {{/each}}
    
                          </select>
                        </div>
    
    
                        <div class="field">
                            <label>Примечание</label>
                            <textarea name="info" rows="2"></textarea>
                        </div>
    
                        <div class="ui error message"></div>
    
    
                        <button class="ui green labeled icon button" type="submit"><i class="checkmark  icon"></i>Добавить</button>
                        <!-- <div class="ui positive labeled icon button"> -->
                        <!-- <i class="checkmark icon"></i>Сохранить     </div> -->
                    </form>
                </div>
            </div>
    
    
    
        </div>
    </script>
    
        <script id="handlebars-firmedit" type="text/x-handlebars-template">
        <div id="app-firmedit" class="js-app">
            <!-- <div class="ui horizontal divider"></div> -->
            <div class="ui segment my_form">
                <h3>{{firm_info.name_short}}</h3>
                <div class="ui form">
                    <form id="firmedit_form" action="">
                        <div class="inline fields">
    
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="1" {{#xif " firm_info.status_id == 1 "}}checked{{/xif}} type="radio">
                                    <label>Клиент</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="2" {{#xif " firm_info.status_id == 2 "}}checked{{/xif}} type="radio">
                                    <label>Постоянный</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="3" {{#xif " firm_info.status_id == 3 "}}checked{{/xif}} type="radio">
                                    <label>Особый</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="4" {{#xif " firm_info.status_id == 4 "}}checked{{/xif}} type="radio">
                                    <label>Конкурент</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="5" {{#xif " firm_info.status_id == 5 "}}checked{{/xif}} type="radio">
                                    <label>Поставщик</label>
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="6" {{#xif " firm_info.status_id == 6 "}}checked{{/xif}} type="radio">
                                    <label>Закрыт</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="7" {{#xif " firm_info.status_id == 7 "}}checked{{/xif}} type="radio">
                                    <label>Отказ</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="status" value="8" {{#xif " firm_info.status_id == 8 "}}checked{{/xif}} type="radio">
                                    <label>	Другой профиль</label>
                                </div>
                            </div>
                        </div>
    
    
    
    
                        <div class="three fields">
                            <div class="field">
                                <label>Название</label>
                                <input name="name_short" requied placeholder="Название" type="text" value="{{firm_info.name_short}}">
                            </div>
                            <div class="field">
                                <label>email</label>
                                <input name="email" placeholder="email" type="text" value="{{firm_info.email}}">
                            </div>
                            <div class="field">
                                <label>Сайт</label>
                                <input name="site" placeholder="Сайт" type="text" value="{{firm_info.site}}">
                            </div>
                        </div>
    
          
                                            <div class="fields">
                                                <div class="four wide field">
                                                    <label>Телефон 1</label>
                                                    <input name="phone1" placeholder="Телефон" type="text" value="{{firm_info.phone1}}" required>
                                                </div>
                                                <div class="six wide field">
                                                    <label>Имя 1</label>
                                                    <input name="person1" placeholder="Менеджер" type="text" value="{{firm_info.person1}}">
                                                </div>
                                                <div class="six wide field">
                                                    <label>Примечание 1</label>
                                                    <input name="person1title" placeholder="например: должность" type="text" value="{{firm_info.person1title}}">
                                                </div>
                                            </div>
    
                                            <div class="fields">
                                                <div class="four wide field">
                                                    <label>Телефон 2</label>
                                                    <input name="phone2" placeholder="Телефон" type="text" value="{{firm_info.phone2}}">
                                                </div>
                                                <div class="six wide field">
                                                    <label>Имя 2</label>
                                                    <input name="person2" placeholder="Менеджер" type="text" value="{{firm_info.person2}}">
                                                </div>
                                                <div class="six wide field">
                                                    <label>Примечание 2</label>
                                                    <input name="person2title" placeholder="" type="text" value="{{firm_info.person2title}}">
                                                </div>
                                            </div>
    
    
                                            <div class="fields">
                                                <div class="four wide field">
                                                    <label>Телефон 3</label>
                                                    <input name="phone3" placeholder="Телефон" type="text" value="{{firm_info.phone3}}">
                                                </div>
                                                <div class="six wide field">
                                                    <label>Имя 3</label>
                                                    <input name="person3" placeholder="Руководитель" type="text" value="{{firm_info.person3}}">
                                                </div>
                                                <div class="six wide field">
                                                    <label>Примечание 3</label>
                                                    <input name="person3title" placeholder="" type="text" value="{{firm_info.person3title}}">
                                                </div>
                                            </div>
    
    
                        <div class="fields">
    
    
                            <div class="four wide field">
                                <label>Город</label>
                                <input name="city" placeholder="Адрес" type="text" value="{{firm_info.city}}">
                            </div>
                            <div class="twelve wide field">
                                <label>Адрес</label>
                                <input name="address_fact" placeholder="Адрес" type="text" value="{{firm_info.address_fact}}">
                            </div>
    
    
                        </div>
    
                        <div class="field">
                            <!-- <input name="gender" type="hidden" value="0,1"> -->
                            <select id="select_dep" name="deps[]" multiple="" class="ui fluid dropdown">
                            <option value="">Подразделения</option>
                              {{#each deps}}
                              <option {{#xif " selected > 0 "}}selected{{/xif}} value="{{dep_id}}">{{dep}}</option>
                              {{/each}}
    
                          </select>
                        </div>
    
                        <div class="field">
                            <label>Примечание</label>
                            <textarea name="info" rows="2">{{firm_info.info}}</textarea>
                        </div>
    
                        <button type="submit" class="ui positive labeled icon button">
                          Сохранить
                          <i class="write icon"></i>
                      </button>
    
    
                        <div class="my_float_right inline field">
                            <div class="ui toggle checkbox">
                                <input name="delete" tabindex="0" class="hidden" type="checkbox">
                                <label>Удалить</label>
                            </div>
                        </div>
                    </form>
                    <!-- <div class="ui submit green button">Редактировать</div> -->
    
                </div>
    
    
            </div>
        </div>
    </script>
    
        <script id="handlebars-firmitem" type="text/x-handlebars-template">
        <div id="app-firmitem" class="js-app">
    
            <div class="ui segment">
    
                <h2>{{firm_info.name_short}} {{#if firm_info.is_in_fav}}
                <i class="my_favlink link icon yellow star" data-orgid="{{firm_info.org_id}}" data-isinfav="{{is_in_fav}}"></i>
    
                {{else}}
               <i class="my_favlink link icon empty grey star" data-orgid="{{firm_info.org_id}}" data-isinfav="{{is_in_fav}}"></i>
                {{/if}}
    
                </h2>
                <span class="my_status my_grey">{{status}}</span>
                <span class=" ui basic tiny label my_grey">{{firm_info.name}}</span> {{#each deps}} {{#xif " selected > 0 "}}
                <div class="my_label">{{dep}}</div>{{/xif}} {{/each}}
    
    <div class="ui horizontal my_divider divider"></div>
    
                <span class="item">{{firm_info.phone1}} {{firm_info.person1}}
    
        <a href="mailto:{{firm_info.email}}"> <i class="mail icon"></i>{{firm_info.email}}</a>
            <a class="item" href="http://{{firm_info.site}}" target="_blank">{{firm_info.site}}</a>
          </span>
    
                <div class="ui horizontal divider"></div>
                {{#if editable}}
                <a class="ui tiny green basic button" href="#firms/{{firm_info.org_id}}/edit"><i class="green edit icon"></i>Редактировать</a> {{/if}}
    
                <!-- <div class="ui basic tiny label my_grey"></div> -->
            </div>
    
    
    
    
            <div id="actions" class="ui attached segments">
    
                <div class="ui segment my_form">
                    <h3>События</h3> {{#if editable}}
                    <form id="actions_addform" class="ui form" method="POST">
                        <div class="inline fields">
    
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="action_type_id" value="1" checked="" type="radio">
                                    <label>Звонок</label>
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="action_type_id" value="2" type="radio">
                                    <label>E-mail</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="action_type_id" value="3" type="radio">
                                    <label>Встреча</label>
                                </div>
                            </div>
                            <!-- <div class="field">
                                <div class="ui radio checkbox">
                                    <input class="hidden" name="action_type_id" value="4" type="radio">
                                    <label>Задача</label>
                                </div>
                            </div> -->
                        </div>
                        <div class="field">
                            <textarea autofocus name="txt" rows="2" placeholder="Опишите действие" required></textarea>
                        </div>
                        <div class="three fields">
    
                            <div class="field">
                                <input name="contact_person" type="text" value="{{firm_info.person1}}" placeholder="Менеджер клиента, имя">
                            </div>
    
                            <div class="ui calendar field" id="">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input name="future" type="text" placeholder="След. контакт">
                                </div>
                            </div>
    
                            <div class="field">
                              <select id="task_id" name="task_id" class="ui dropdown">
                               <!-- <div class="default text">Gender</div> -->
                                        {{#each tasks}}
                              <option  value="{{task_id}}" {{#xif " task_id==1"}} selected {{/xif}} >{{label}}</option>
                              {{/each}}
                              </select>
    
    
    
    
                            </div>
    
                        </div>
    
    
                        <button class="ui green tiny labeled icon button" type="submit"><i class="checkmark  icon"></i>Добавить</button>
    
                    </form>
                </div>
                {{/if}}
    
    
    
    
                <!-- шаблон для свежедобавленного элемента. jQuery клонирует, наполняет данными и вставляет ниже -->
                <div class="my_action my_hover ui segment" style="display:none">
                    <span class="action__date ui basic tiny label"></span>
                    <span class="action__future ui basic tiny label my_grey"></span>
                    <span class="action__text"></span>
                    <span class="action__person my_contact_person"></span>
                    <span class="action__task my_label_task"></span>
      <div class="action__editicon my_hover_action ui bottom right attached big my_bg_white label"><a href=""><i class="write grey icon"></i></a></div>
                </div>
    
    
                {{#each actions}}
                <div class="my_action my_hover ui segment">
                    <span class="action__date ui basic tiny label">{{datetime1}}</span> {{#if future}}
                    <span class="action__future ui basic tiny label my_grey">{{future}}</span> {{/if}}
                    <span class="my_grey">{{name}}</span>
                    <span class="action__text">{{txt}}</span>
                    <span class="action__person my_contact_person">{{contact_person}}</span>
                    {{#if label}}<span class="action__task my_label_task">{{label}}</span>{{/if}}
                    <div class="action__editicon my_hover_action ui bottom right attached big my_bg_white label"><a href="#action/{{action_id}}"><i class="write grey icon"></i></a></div>
                </div>
                {{else}}
    
                <div class="ui segment">
                    <span class="my_grey">Активности нет</span>
                </div>
                {{/each}}</div>
    
    
    
    
        </div>
    </script>
    
        <script id="handlebars-firms" type="text/x-handlebars-template">
        <div id="app-firms" class="js-app">
    
    
    
            <div id="firms-submenu" class="ui top attached small stackable pointing menu">
    
                <!-- {{#if ui_show_all}}{{/if}} -->
                <a href="#firms/all" class="grey item">Все</a>
                <a href="#firms/mine" class="grey item">Мои</a>
                <a href="#firms/fav" class="grey item">Избранные</a>
    
                <a href="#firms/contact" class="grey item">
    
                    По активности</a>
                <a href="#firms/next" class="grey item">
                    <!-- <i class="angle down icon"></i> -->
                    По плану</a>
                <!-- <a href="#firms/fav" class="grey item">
                    <i class="empty heart icon"></i>Избранные </a> -->
                <a href="#firmadd" class="right item">
                    <i class="add green icon"></i>Добавить организацию</a>
    
    
    
            </div>
    
            <div class="ui bottom attached segment segments">
                {{#each firms}}
                <div class="ui segment">
                    <!--a class="ui red ribbon label">{{title}}</a-->
    
                    <div class="my_title"><a class="my_title_name" href="#firms/{{org_id}}/item">{{name_short}}</a>
                      {{#if is_in_fav}}
                    <i class="my_favlink link icon yellow star" data-orgid="{{org_id}}" data-isinfav="{{is_in_fav}}"></i>
    
                    {{else}}
                   <i class="my_favlink link icon empty grey star" data-orgid="{{org_id}}" data-isinfav="{{is_in_fav}}"></i>
                    {{/if}}
    
                       <!-- #if ui_is_vip <i-xx class="icon small yellow star"></i-xx> /if -->
    
                    </div>
                    {{phone1}} {{phone2}} {{phone3}} <br> <a class="my_grey2" href="mailto:{{email}}">{{email}}</a>
                    <div class="ui horizontal fitted divider"></div>
    
                    <!-- <span class="my_label">{{deps}}</span> -->
    
                    {{#if txt}}
                        <br>  <span class="my_label">{{name}}</span> <span class="my_label_task">{{label}}</span>
                          {{txt}} <span   class="my_contact_person">{{contact_person}}</span>
                        <!-- <div class="ui basic tiny label" title="Дата последней активности">{{datetime1}}</div> -->
                        <span class="my_label">{{datetime1}}</span>
    
                    {{#if future}}
                        <span class="my_label my_grey">{{future}}</span> {{/if}}
                         {{else}}
                        <span class="my_grey">Нет событий</span>
                    {{/if}}
    
                </div>
                {{else}}
                <li>Список пуст</li>
                {{/each}}
            </div>
    
    
    
            <div class="ui stackable mini secondary  menu">
                <!-- <div class="disabled item">...</div> -->
                {{#if pre_perpage}}
                <a href="#firms/{{sortby}}/{{pre_perpage}}" class="item"><i class="arrow left icon"></i>Предыдущие {{perpage}}</a> {{/if}}
    
                <span class="header item">{{list_info}}</span> {{#if next_perpage}}
                <a href="#firms/{{sortby}}/{{next_perpage}}" class="item">Следующие {{perpage}} <i class="arrow right icon"></i></a> {{/if}}
    
            </div>
    
        </div>
    </script>
    
        <script id="handlebars-topnav" type="text/x-handlebars-template">
    
    
        <div class="ui horizontal fitted divider"></div>
    
    
        <div id="menu" class="ui stackable menu">
    
            <div class="ui item search">
                <div class="ui left icon input">
                    <input class="prompt" autofocus placeholder="Поиск..." type="text">
                    <i class="search link icon"></i>
                </div>
            </div>
    
    
            <a href="/#/todos" class="item"><i class="block checked calendar icon"></i>Задачи</a>
            <a href="/#/orgs" class="item" id="menu-firms"><i class="list layout icon"></i>Организации</a>
            <a href="/#/projects" class="item"><i class="block sitemap icon"></i>Проекты</a>
    
    
    
            <!-- <a id="menu-firms" href="#firms/all" class=" item">
                <i class="list layout blue icon"></i>Организации</a> -->
    
            <!-- <a id="menu-activity" href="#activity" class="item">
                <i class="call blue icon"></i>Мои события
            </a> -->
    
            {{#if admin}}
            <!-- <a id="menu-calendar" href="#calendar" class="item">
                <i class="calendar blue icon"></i>Отчеты</a> -->
          {{/if}} {{#if admin}}
    
            <div class="ui pointing dropdown link right item">
                <span class="text"><i class="setting grey icon"></i>Администратор</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <!-- <a href="#tasks" class="item"><i class="block wizard blue icon"></i>Задачи</a> -->
                    <a href="#users" class="item"><i class="user blue icon"></i>Пользователи</a>
    
                    <a href="#deps" class="item"><i class="block layout blue icon"></i>Направления</a>
                    <!-- <a href="/app2#/projects" class="item"><i class="block layout blue icon"></i>Проекты</a> -->
    
    
      <a id="menu-director" href="#director" class="item"><i class="calendar blue icon"></i>Продуктивность</a>
    
                </div>
            </div>
    
    
            {{/if}}
            <!-- data-tooltip="Выход из системы"  data-position="left center" -->
            <a id="menu-logout" href="logout" class="right item">
                <i class="sign out icon"></i>{{login}}</a>
    
        </div>
    
    
    </script>
    
        <script id="handlebars-msg" type="text/x-handlebars-template">
    
    
      <div id="app-msg"  class="js-app">
         <div class="ui horizontal divider"></div> 
      Сообщения! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fuga officiis iure laborum vero est!
    </div>
    
    </script>
    
        <script id="handlebars-projects" type="text/x-handlebars-template">
    
        <div id="app-projects" class="js-app">
            <h3>Проекты</h3>
    
            <a class="ui green basic labeled icon button" href="#project/add"><i class="plus icon"></i>Добавить проект</a>
    
            <table class="ui  celled table">
                <tbody>
      {{#each projects}}
                    <tr>
                        <td>{{#if hide}}<span class="my_label_notice">Закрыто</span>{{/if}} <a class="my_title_name" href="#projects/{{@index}}">{{title}}</a>
    
                           <span class="my_label_attention">{{deadline}}</span>
    
                            <span class="my_grey">{{action_count}} событий</span> <br />
    <div class="ui horizontal my_divider divider"></div>
                          <span class="my_label my_grey">{{created}}</span> {{info}}
                        </td>
                    </tr>
      {{/each}}
                </tbody>
            </table>
     
        </div>
    
    </script>
    
        <script id="handlebars-projectadd" type="text/x-handlebars-template">
    
        <div id="app-projectadd" class="js-app">
    
            <div class="ui segment my_form">
              <h3>Новый проект</h3> 
                <div class="ui form">
                    <form id="projectadd_form" type="post" action="">
                      <div class="ui field">
                          <input autofocus name="title" placeholder="Название проекта" type="text">
                      </div>
                      <div class="ui field">
                          <input name="info" placeholder="Описание" type="text">
                      </div>
                        <button type="submit" class="ui positive labeled icon button">
                        Добавить
                        <i class="plus icon"></i>
                    </button>
                    </form>
                </div>
            </div>
    
        </div>
    
    </script>
    
        <script id="handlebars-projectitem" type="text/x-handlebars-template">
    
        <div id="app-projectitem" class="js-app">
            <h1>{{project_title}}</h1> {{project_info}} <br><br>
            <a class="ui green basic labeled icon button" href="#projects/{{project_id}}/addstage"><i class="plus icon"></i>Добавить этап</a>
            <div class="ui horizontal my_divider divider"></div>
            {{#each stages}}
            <div class="ui segment">
                <h3><i class="ui hand paper grey icon my_grabbing"></i> <a href=""  class="my_stage_title">{{stage_title}}</a> <span class="my_header_label">{{stage_deadline}}</span></h3> {{stage_info}}
    
                <div id="todos{{stage_id}}" class="ui segments">
                    {{#each todos}}
                    <div class="ui segment">
                        <i class="my_grabbing2 content grey icon"></i>
                        <a href=""><b>{{todo_title}}</b></a>. {{todo_info}} <span class="my_label">{{todo_deadline}}</span>
                    </div>
                    {{/each}}
                    <div class="ui segment">Добавить</div>
                </div>
    
            </div>
            <div class="ui horizontal divider"></div>
            {{/each}}
    
        </div>
    
        </div>
    
    </script>
    
        <script id="handlebars-taskadd" type="text/x-handlebars-template">
    
        <div id="app-taskadd" class="js-app">
    
            <div class="ui segment my_form">
                <h3>Новая цель</h3>
                <div class="ui form">
                    <form id="taskadd_form" type="post" action="">
    
                  <div class="inline fields">
                          <div class="six wide field"> <input autofocus name="label" placeholder="Короткое описание (метка)" type="text">
                    </div>
                    <div class="ui calendar six wide field" id="">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="deadline" type="text" placeholder="Конечная дата">
                        </div>
                    </div>
                  </div>
    
                        <div class="twelve wide field">
                            <textarea autofocus name="info" rows="2" placeholder="Опишите задачу подробно" required></textarea>
                        </div>
    
                        <div class="inline fields">
                            <!-- <label></label> -->
                            <div class="four wide field">
                                <input type="text" placeholder="Отчетов в месяц, цель">
                            </div>
                            <div class="four wide field">
                                <input type="text" placeholder="Ударник каптруда!">
                            </div>
                            <div class="four wide field">
                                <input type="text" placeholder="Унылый минимум">
                            </div>
    
                        </div>
                        <button type="submit" class="ui positive labeled icon button">Добавить<i class="plus icon"></i>
                    </button>
                    </form>
                </div>
            </div>
    
        </div>
    
    </script>
    
        <script id="handlebars-taskedit" type="text/x-handlebars-template">
    
        <div id="app-taskedit" class="js-app">
    
            <div class="ui segment my_form">
                <h3>Редактировать цель</h3>
                <div class="ui form">
                    <form id="taskedit_form" type="post" action="">
                  <div class="field">      <input value="{{label}}" name="label" placeholder="Задача" type="text"></div>
     <div class="field">
    <textarea name="info">{{info}}</textarea>
    </div>
    
    <div class="ui calendar field" id="">
        <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input name="deadline" type="text" placeholder="Конечная дата" value="{{deadline}}">
        </div>
    </div>
                        <button type="submit" class="ui positive labeled icon button">Сохранить<i class="write icon"></i>
                    </button>
    
    
                        <div class="my_float_right inline field">
                            <div class="ui toggle checkbox">
                                <input name="delete" tabindex="0" class="hidden" type="checkbox">
                                <label>Закрыть</label>
                            </div>
    
                    </form>
                    </div>
                </div>
    
            </div>
    
    </script>
    
        <script id="handlebars-tasks" type="text/x-handlebars-template">
    
        <div id="app-tasks" class="js-app">
            <h3>Целевые контакты</h3>
    
            <a class="ui green basic labeled icon button" href="#tasks/add"><i class="plus icon"></i>Добавить</a>
    
            <table class="ui  celled table">
                <tbody>
                    {{#each tasks}}
                    <tr>
                        <td>{{#if hide}}<span class="my_label_notice">Закрыто</span>{{/if}} <a class="my_title_name" href="#tasks/{{task_id}}">{{label}}</a>
    
                           <span class="my_label_attention">{{deadline}}</span>
    
                            <span class="my_grey">{{action_count}} событий</span> <br />
    <div class="ui horizontal my_divider divider"></div>
                          <span class="my_label my_grey">{{created}}</span> {{info}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    
        </div>
    
    </script>
    
        <script id="handlebars-user1" type="text/x-handlebars-template">
    
    
        <div id="app-users" class="js-app">
            <div class="ui horizontal fitted divider"></div>
    
            <div class="ui segment my_form">
                <h3>{{name}} {{surname}}</h3>
                <div class="ui form">
                    <form id="useredit_form" type="post" action="">
                        <div class="four fields">
                            <div class="field">
                                <label>Имя</label>
                                <input name="name" requied placeholder="Название" type="text" value="{{name}}">
                            </div>
                            <div class="field">
                                <label>Отчество</label>
                                <input name="middlename" placeholder="Отчество" type="text" value="{{middlename}}">
                            </div>
                            <div class="field">
                                <label>Фамилия</label>
                                <input name="surname" placeholder="Фамилия" type="text" value="{{surname}}">
                            </div>
    
                            <div class="field">
                                <label>Телефон 1</label>
                                <input name="phone1" placeholder="Телефон 1" type="text" value="{{phone1}}">
                            </div>
                            <div class="field">
                                <label>Телефон 2</label>
                                <input name="phone2" placeholder="Телефон 2" type="text" value="{{phone2}}">
                            </div>
    
                        </div>
                        <div class="four fields">
                            <div class="field">
                                <label data-content="Менеджер видит события всех направлений, к которым есть доступ. Администратор может устанавливать роли" data-variation="very wide">Статус
                                  <!-- <i class="ui grey icon help" ></i> -->
                                </label>
    
                                <select data-content="Менеджер видит события всех направлений, к которым есть доступ. Администратор может устанавливать роли" required name="user_level" class="ui search dropdown">
                                  {{#select user_level}}
    
                                  <option value="1">Стажер</option>
                                  <option value="2">Пользователь</option>
                                  <option value="3">Менеджер</option>
                                  <option value="4">Администратор</option>
    
                                  {{/select}}
              </select>
    
                            </div>
    
    
                            <div class="field">
                                <label>Логин</label>
                                <input name="login" placeholder="Логин" type="text" value="{{login}}">
                            </div>
                            <div class="field">
                                <label>Пароль</label>
                                <input name="password" placeholder="Пароль" type="text" value="{{password}}">
                            </div>
    
                            <div class="field">
                                <label>email</label>
                                <input name="email" placeholder="e-mail" type="text" value="{{email}}">
                            </div>
    
                        </div>
    
                        <table class="ui basic table">
                            <thead>
                                <th>Доступ</th>
                                <th><span class="my_popup" data-content="Возможность добавлять и редактировать только свои организации">Свои организации</span></th>
                                <th><span class="my_popup" data-content="Просмотр данных по всем (и чужим) организациям направления">Просмотр всех</span></th>
                                <th><span class="my_popup" data-content="Возможность редактировать чужие организации">Редактирование всех</span></th>
                            </thead>
                            {{#each deps}}
                            <tr>
                                <td>{{this.dep}}
                                </td>
                                <td>
                                    <div class="ui toggle checkbox">
                                        <input {{#xif " this.levels[1] == 1 "}}checked{{/xif}} name="level[{{@key}}][]" value="1" type="checkbox" tabindex="0" class="hidden">
    
                                    </div>
                                </td>
                                <td>
                                    <div class="ui toggle checkbox">
                                        <input {{#xif " this.levels[2] == 2 "}}checked{{/xif}} name="level[{{@key}}][]" value="2" type="checkbox" tabindex="0" class="hidden">
    
                                    </div>
                                </td>
                                <td>
                                    <div class="ui toggle checkbox">
                                        <input {{#xif " this.levels[3] == 3 "}}checked{{/xif}} name="level[{{@key}}][]" value="3" type="checkbox" tabindex="0" class="hidden">
                                        <!-- <label>Toggle</label> -->
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </table>
    
    
    
                        <button type="submit" class="ui positive labeled icon button">
                        Сохранить
                        <i class="write icon"></i>
                    </button>
    
              {{#xif " this.user_id != 1 "}}
                        <div class="my_float_right inline field">
                            <div class="ui toggle checkbox">
                                <input name="delete" tabindex="0" class="hidden" type="checkbox">
                                <label>Удалить</label>
                            </div>
                        </div>
              {{/xif}}
    
                    </form>
                </div>
    
    
    
            </div>
    
    </script>
    
        <script id="handlebars-useradd" type="text/x-handlebars-template">
    
    
        <div id="app-useradd" class="js-app">
            <!-- <div class="ui horizontal fitted divider"></div> -->
    
            <h3>Новый пользователь</h3>
            <div class="ui segment my_form">
                <div class="ui form">
                    <form id="useradd_form" type="post" action="">
                        <div class="four fields">
                            <div class="field">
                                <label>Имя</label>
                                <input autofocus name="name" required placeholder="Имя" type="text" value="{{name}}">
                            </div>
                            <div class="field">
                                <label>Отчество</label>
                                <input name="middlename" placeholder="Отчество" type="text" value="{{middlename}}">
                            </div>
                            <div class="field">
                                <label>Фамилия</label>
                                <input name="surname" placeholder="Фамилия" type="text" value="{{surname}}">
                            </div>
    
                            <div class="field">
                                <label>Телефон 1</label>
                                <input name="phone1" placeholder="Телефон 1" type="text" value="{{phone1}}">
                            </div>
                            <div class="field">
                                <label>Телефон 2</label>
                                <input name="phone2" placeholder="Телефон 2" type="text" value="{{phone2}}">
                            </div>
    
                        </div>
                        <div class="three fields">
    
                            <div class="field">
                                <label>Доступ</label>
                                <select name="user_level" class="ui search dropdown">
                  <option value="1">Стажер</option>
                  <option value="2">Пользователь</option>
                  <option value="3">Менеджер</option>
                  <option value="4">Администратор</option>
    
              </select>
    
                            </div>
    
    
                            <div class="field">
                                <label>Логин</label>
    
                                <div class="ui icon input">
             <!-- <input type="text" name="username" placeholder="Username"> -->
             <input required name="login" placeholder="Логин" type="text" value="{{login}}">
             <i class="user icon"></i>
           </div>
    
                            </div>
                            <div class="field">
                                <label>Пароль</label>
                                    <div class="ui icon input">
                                      <i class="lock icon"></i>
                                <input required name="password" placeholder="Пароль" type="text" value="{{password}}">
                              </div>
                            </div>
    
                            <div class="field">
                                <label>Email</label>
                                <div class="ui icon input">
                                <i class="mail icon"></i>
                                <input name="email" placeholder="e-mail" type="text" value="{{email}}">
                            </div>
      </div>
                        </div>
    
                        <table class="ui basic table">
                            <thead>
                                <th>Доступ</th>
                                <th>Свои организации</th>
                                <th>Просмотр всех</th>
                                <th>Редактирование всех</th>
                            </thead>
                            {{#each deps}}
                            <tr>
                                <td>{{dep}}</td>
                                <td>
                                    <div class="ui toggle checkbox">
                                        <input name="level[{{dep_id}}][]" value="1" type="checkbox" tabindex="0" class="hidden">
    
                                    </div>
                                </td>
                                <td>
                                    <div class="ui toggle checkbox">
                                        <input name="level[{{dep_id}}][]" value="2" type="checkbox" tabindex="0" class="hidden">
    
                                    </div>
                                </td>
                                <td>
                                    <div class="ui toggle checkbox">
                                        <input name="level[{{dep_id}}][]" value="3" type="checkbox" tabindex="0" class="hidden">
                                        <!-- <label>Toggle</label> -->
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </table>
    
                        <!-- {{#each deps}}
            <div class="inline fields">
        <label>{{dep}}</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dep{{dep_id}}" checked="checked">
            <label>Без доступа</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dep{{dep_id}}">
            <label>Стажёр</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dep{{dep_id}}">
            <label>Пользователь</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dep{{dep_id}}">
            <label>Руководитель</label>
          </div>
        </div>
      </div>
    
    {{/each}} -->
    
                        <button type="submit" class="ui positive labeled icon button">
                        Добавить
                        <i class="write icon"></i>
                    </button>
    
    
                    </form>
                    <!-- <div class="ui submit green button">Редактировать</div> -->
                </div>
            </div>
    
    
    
        </div>
    
    </script>
    
        <script id="handlebars-users" type="text/x-handlebars-template">
    
    
      <div id="app-users"  class="js-app">
    <!-- <div class="ui horizontal fitted divider"></div> -->
    <h3>Пользователи</h3>
    
    <a class="ui green basic  labeled icon button" href="#useradd"><i class="plus icon"></i>Добавить</a>
        <table class="ui selectable celled table">
          <thead>
            <tr>
              <th></th>
              <th>Доступны направления</th>
              <th>Уровень</th>
                <th>Логин</th>
              <th class="">Пароль</th>
            </tr>
          </thead>
          <tbody>
              {{#each users}}
            <tr>
              <td><a class="my_title_name" href="#user/{{user_id}}">{{name}} {{surname}}</a></td>
              <td>{{deps}}</td>
                <td>{{user_level_name}}</td>
                  <td>{{login}}</td>
              <td class="">
    
                {{password}}</td>
            </tr>
              {{/each}}
    
          </tbody>
        </table>
    
    
      <!-- <div class="ui bottom attached segment segments">
    
          <div class="ui segment">
        <div class="ui header"></div>
    
          </div>
    
      </div> -->
    
    </div>
    
    </script>
    
    <script src="js/main.js"></script>

</body>

</html>
