
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/g/vue.router,sortable,jquery,momentjs@2.17.1(moment-with-locales.min.js)"></script>
<script src="https://cdn.jsdelivr.net/underscorejs/1.8.3/underscore.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
<script src="js/vendor/semantic.min.js"></script>
<script src="js/vendor/calendar.js"></script>
<!-- <script src="js/vendor/vue-fullcalendar.js" charset="utf-8"></script> -->
 
<!-- <script src="https://fullcalendar.io/js/fullcalendar-3.1.0/locale-all.js" charset="utf-8"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css"> -->



<link rel="stylesheet" href="css/main.css">
