<script id="handlebars-firmitem" type="text/x-handlebars-template">
    <div id="app-firmitem" class="js-app">

        <div class="ui segment">

            <h2>{{firm_info.name_short}} {{#if firm_info.is_in_fav}}
            <i class="my_favlink link icon yellow star" data-orgid="{{firm_info.org_id}}" data-isinfav="{{is_in_fav}}"></i>

            {{else}}
           <i class="my_favlink link icon empty grey star" data-orgid="{{firm_info.org_id}}" data-isinfav="{{is_in_fav}}"></i>
            {{/if}}

            </h2>
            <span class="my_status my_grey">{{status}}</span>
            <span class=" ui basic tiny label my_grey">{{firm_info.name}}</span> {{#each deps}} {{#xif " selected > 0 "}}
            <div class="my_label">{{dep}}</div>{{/xif}} {{/each}}

<div class="ui horizontal my_divider divider"></div>

            <span class="item">{{firm_info.phone1}} {{firm_info.person1}}

    <a href="mailto:{{firm_info.email}}"> <i class="mail icon"></i>{{firm_info.email}}</a>
        <a class="item" href="http://{{firm_info.site}}" target="_blank">{{firm_info.site}}</a>
      </span>

            <div class="ui horizontal divider"></div>
            {{#if editable}}
            <a class="ui tiny green basic button" href="#firms/{{firm_info.org_id}}/edit"><i class="green edit icon"></i>Редактировать</a> {{/if}}

            <!-- <div class="ui basic tiny label my_grey"></div> -->
        </div>




        <div id="actions" class="ui attached segments">

            <div class="ui segment my_form">
                <h3>События</h3> {{#if editable}}
                <form id="actions_addform" class="ui form" method="POST">
                    <div class="inline fields">

                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="action_type_id" value="1" checked="" type="radio">
                                <label>Звонок</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="action_type_id" value="2" type="radio">
                                <label>E-mail</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="action_type_id" value="3" type="radio">
                                <label>Встреча</label>
                            </div>
                        </div>
                        <!-- <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="action_type_id" value="4" type="radio">
                                <label>Задача</label>
                            </div>
                        </div> -->
                    </div>
                    <div class="field">
                        <textarea autofocus name="txt" rows="2" placeholder="Опишите действие" required></textarea>
                    </div>
                    <div class="three fields">

                        <div class="field">
                            <input name="contact_person" type="text" value="{{firm_info.person1}}" placeholder="Менеджер клиента, имя">
                        </div>

                        <div class="ui calendar field" id="">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input name="future" type="text" placeholder="След. контакт">
                            </div>
                        </div>

                        <div class="field">
                          <select id="task_id" name="task_id" class="ui dropdown">
                           <!-- <div class="default text">Gender</div> -->
                                    {{#each tasks}}
                          <option  value="{{task_id}}" {{#xif " task_id==1"}} selected {{/xif}} >{{label}}</option>
                          {{/each}}
                          </select>




                        </div>

                    </div>


                    <button class="ui green tiny labeled icon button" type="submit"><i class="checkmark  icon"></i>Добавить</button>

                </form>
            </div>
            {{/if}}




            <!-- шаблон для свежедобавленного элемента. jQuery клонирует, наполняет данными и вставляет ниже -->
            <div class="my_action my_hover ui segment" style="display:none">
                <span class="action__date ui basic tiny label"></span>
                <span class="action__future ui basic tiny label my_grey"></span>
                <span class="action__text"></span>
                <span class="action__person my_contact_person"></span>
                <span class="action__task my_label_task"></span>
  <div class="action__editicon my_hover_action ui bottom right attached big my_bg_white label"><a href=""><i class="write grey icon"></i></a></div>
            </div>


            {{#each actions}}
            <div class="my_action my_hover ui segment">
                <span class="action__date ui basic tiny label">{{datetime1}}</span> {{#if future}}
                <span class="action__future ui basic tiny label my_grey">{{future}}</span> {{/if}}
                <span class="my_grey">{{name}}</span>
                <span class="action__text">{{txt}}</span>
                <span class="action__person my_contact_person">{{contact_person}}</span>
                {{#if label}}<span class="action__task my_label_task">{{label}}</span>{{/if}}
                <div class="action__editicon my_hover_action ui bottom right attached big my_bg_white label"><a href="#action/{{action_id}}"><i class="write grey icon"></i></a></div>
            </div>
            {{else}}

            <div class="ui segment">
                <span class="my_grey">Активности нет</span>
            </div>
            {{/each}}</div>




    </div>
</script>
