<script id="handlebars-firmedit" type="text/x-handlebars-template">
    <div id="app-firmedit" class="js-app">
        <!-- <div class="ui horizontal divider"></div> -->
        <div class="ui segment my_form">
            <h3>{{firm_info.name_short}}</h3>
            <div class="ui form">
                <form id="firmedit_form" action="">
                    <div class="inline fields">

                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="1" {{#xif " firm_info.status_id == 1 "}}checked{{/xif}} type="radio">
                                <label>Клиент</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="2" {{#xif " firm_info.status_id == 2 "}}checked{{/xif}} type="radio">
                                <label>Постоянный</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="3" {{#xif " firm_info.status_id == 3 "}}checked{{/xif}} type="radio">
                                <label>Особый</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="4" {{#xif " firm_info.status_id == 4 "}}checked{{/xif}} type="radio">
                                <label>Конкурент</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="5" {{#xif " firm_info.status_id == 5 "}}checked{{/xif}} type="radio">
                                <label>Поставщик</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="6" {{#xif " firm_info.status_id == 6 "}}checked{{/xif}} type="radio">
                                <label>Закрыт</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="7" {{#xif " firm_info.status_id == 7 "}}checked{{/xif}} type="radio">
                                <label>Отказ</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="8" {{#xif " firm_info.status_id == 8 "}}checked{{/xif}} type="radio">
                                <label>	Другой профиль</label>
                            </div>
                        </div>
                    </div>




                    <div class="three fields">
                        <div class="field">
                            <label>Название</label>
                            <input name="name_short" requied placeholder="Название" type="text" value="{{firm_info.name_short}}">
                        </div>
                        <div class="field">
                            <label>email</label>
                            <input name="email" placeholder="email" type="text" value="{{firm_info.email}}">
                        </div>
                        <div class="field">
                            <label>Сайт</label>
                            <input name="site" placeholder="Сайт" type="text" value="{{firm_info.site}}">
                        </div>
                    </div>

      
                                        <div class="fields">
                                            <div class="four wide field">
                                                <label>Телефон 1</label>
                                                <input name="phone1" placeholder="Телефон" type="text" value="{{firm_info.phone1}}" required>
                                            </div>
                                            <div class="six wide field">
                                                <label>Имя 1</label>
                                                <input name="person1" placeholder="Менеджер" type="text" value="{{firm_info.person1}}">
                                            </div>
                                            <div class="six wide field">
                                                <label>Примечание 1</label>
                                                <input name="person1title" placeholder="например: должность" type="text" value="{{firm_info.person1title}}">
                                            </div>
                                        </div>

                                        <div class="fields">
                                            <div class="four wide field">
                                                <label>Телефон 2</label>
                                                <input name="phone2" placeholder="Телефон" type="text" value="{{firm_info.phone2}}">
                                            </div>
                                            <div class="six wide field">
                                                <label>Имя 2</label>
                                                <input name="person2" placeholder="Менеджер" type="text" value="{{firm_info.person2}}">
                                            </div>
                                            <div class="six wide field">
                                                <label>Примечание 2</label>
                                                <input name="person2title" placeholder="" type="text" value="{{firm_info.person2title}}">
                                            </div>
                                        </div>


                                        <div class="fields">
                                            <div class="four wide field">
                                                <label>Телефон 3</label>
                                                <input name="phone3" placeholder="Телефон" type="text" value="{{firm_info.phone3}}">
                                            </div>
                                            <div class="six wide field">
                                                <label>Имя 3</label>
                                                <input name="person3" placeholder="Руководитель" type="text" value="{{firm_info.person3}}">
                                            </div>
                                            <div class="six wide field">
                                                <label>Примечание 3</label>
                                                <input name="person3title" placeholder="" type="text" value="{{firm_info.person3title}}">
                                            </div>
                                        </div>


                    <div class="fields">


                        <div class="four wide field">
                            <label>Город</label>
                            <input name="city" placeholder="Адрес" type="text" value="{{firm_info.city}}">
                        </div>
                        <div class="twelve wide field">
                            <label>Адрес</label>
                            <input name="address_fact" placeholder="Адрес" type="text" value="{{firm_info.address_fact}}">
                        </div>


                    </div>

                    <div class="field">
                        <!-- <input name="gender" type="hidden" value="0,1"> -->
                        <select id="select_dep" name="deps[]" multiple="" class="ui fluid dropdown">
                        <option value="">Подразделения</option>
                          {{#each deps}}
                          <option {{#xif " selected > 0 "}}selected{{/xif}} value="{{dep_id}}">{{dep}}</option>
                          {{/each}}

                      </select>
                    </div>

                    <div class="field">
                        <label>Примечание</label>
                        <textarea name="info" rows="2">{{firm_info.info}}</textarea>
                    </div>

                    <button type="submit" class="ui positive labeled icon button">
                      Сохранить
                      <i class="write icon"></i>
                  </button>


                    <div class="my_float_right inline field">
                        <div class="ui toggle checkbox">
                            <input name="delete" tabindex="0" class="hidden" type="checkbox">
                            <label>Удалить</label>
                        </div>
                    </div>
                </form>
                <!-- <div class="ui submit green button">Редактировать</div> -->

            </div>


        </div>
    </div>
</script>
