<script id="handlebars-firmadd" type="text/x-handlebars-template">
    <div id="app-firmadd" class="js-app">

        <div id="app-firmadd-responce" class="ui segment" style="display:none">
            <h3 class="js-title">%%название организации%%</h3>
            <div class="ui grey">Организация успешно добавлена.</div> <br>
            <a class="js-goto ui green basic labeled icon button" href=""><i class="write icon"></i>Карточка организации</a>
            <div class="ui horizontal divider"></div>
            <!-- <div class="ui horizontal divider"></div> -->
            <button class="js-addonemore ui tiny grey basic labeled icon button"><i class="plus  icon"></i>Добавить еще организацию</button>
        </div>




        <div id="app-firmadd-form" class="ui segment my_form">
            <h3 class="ui header">Новая организация</h3>
            <div class="ui form">
                <form action="" id="firmadd_form">
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="1" checked="" type="radio">
                                <label>Холодный</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="2" type="radio">
                                <label>Постоянный</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="3" type="radio">
                                <label>Особый</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="4" type="radio">
                                <label>Конкурент</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="5" type="radio">
                                <label>Поставщик</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="6" type="radio">
                                <label>Закрыт</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="7" type="radio">
                                <label>Отказ</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input class="hidden" name="status" value="8" type="radio">
                                <label>Другой профиль</label>
                            </div>
                        </div>
                    </div>

                    <div class="three fields">
                        <div class="field">
                            <label>Название</label>
                            <input autofocus name="name_short" placeholder="Название" type="text" value="" required>
                        </div>
                        <div class="field">
                            <label>email</label>
                            <input name="email" placeholder="email" type="email" value="">
                        </div>
                        <div class="field">
                            <label>Сайт</label>
                            <input name="site" placeholder="Сайт" type="text" value="">
                        </div>
                    </div>


                    <div class="fields">
                        <div class="four wide field">
                            <label>Телефон 1</label>
                            <input name="phone1" placeholder="Телефон" type="text" value="" required>
                        </div>
                        <div class="six wide field">
                            <label>Имя 1</label>
                            <input name="person1" placeholder="Менеджер" type="text" value="">
                        </div>
                        <div class="six wide field">
                            <label>Примечание 1</label>
                            <input name="person1title" placeholder="например: должность" type="text" value="">
                        </div>
                    </div>

                    <div class="fields">
                        <div class="four wide field">
                            <label>Телефон 2</label>
                            <input name="phone2" placeholder="Телефон" type="text" value="">
                        </div>
                        <div class="six wide field">
                            <label>Имя 2</label>
                            <input name="person2" placeholder="Менеджер" type="text" value="">
                        </div>
                        <div class="six wide field">
                            <label>Примечание 2</label>
                            <input name="person2title" placeholder="" type="text" value="">
                        </div>
                    </div>


                    <div class="fields">
                        <div class="four wide field">
                            <label>Телефон 3</label>
                            <input name="phone3" placeholder="Телефон" type="text" value="">
                        </div>
                        <div class="six wide field">
                            <label>Имя 3</label>
                            <input name="person3" placeholder="Руководитель" type="text" value="">
                        </div>
                        <div class="six wide field">
                            <label>Примечание 3</label>
                            <input name="person3title" placeholder="" type="text" value="">
                        </div>
                    </div>



                    <div class="fields">
                        <div class="three wide field">
                            <label>Страна</label>
                            <!-- <input name="city" placeholder="Адрес" type="text" value=""> -->
                            <select id="country_id" required name="country_id" class="ui search dropdown">
                            <option value="1285" selected>Россия</option>
                            <option value="1317">Украина</option>
                            <option value="1302">Беларусь</option>
                            <option value="1290">Казахстан</option>

                        </select>
                        </div>
                        <div class="three wide field">
                            <label>Город</label>


                            <div id="city" class="ui search">
                                <div class="ui icon input">
                                    <input name="city" class="prompt" type="text" placeholder="Город...">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>


                            <!-- <select id="city_id" required name="city_id" class="ui search dropdown">
                                    <option value="0"></option>
                                    <option value="1">Ростов-на-Дону</option>
                                    <option value="2">Краснодар</option>
                                    <option value="3">Москва</option>
                                    <option value="4">Санкт-Петербург</option>

                                </select> -->


                        </div>
                        <div class="ten wide field">
                            <label>Адрес</label>
                            <input name="address_fact" placeholder="Адрес" type="text" value="">
                        </div>
                    </div>



                    <div class="field">
                        <select id="select_dep" name="deps[]" multiple="" class="ui fluid dropdown">
                        <option value="">Направления</option>
                          {{#each deps}}
                          <option value="{{dep_id}}">{{dep}}</option>
                          {{/each}}

                      </select>
                    </div>


                    <div class="field">
                        <label>Примечание</label>
                        <textarea name="info" rows="2"></textarea>
                    </div>

                    <div class="ui error message"></div>


                    <button class="ui green labeled icon button" type="submit"><i class="checkmark  icon"></i>Добавить</button>
                    <!-- <div class="ui positive labeled icon button"> -->
                    <!-- <i class="checkmark icon"></i>Сохранить     </div> -->
                </form>
            </div>
        </div>



    </div>
</script>
