<script id="handlebars-firms" type="text/x-handlebars-template">
    <div id="app-firms" class="js-app">



        <div id="firms-submenu" class="ui top attached small stackable pointing menu">

            <!-- {{#if ui_show_all}}{{/if}} -->
            <a href="#firms/all" class="grey item">Все</a>
            <a href="#firms/mine" class="grey item">Мои</a>
            <a href="#firms/fav" class="grey item">Избранные</a>

            <a href="#firms/contact" class="grey item">

                По активности</a>
            <a href="#firms/next" class="grey item">
                <!-- <i class="angle down icon"></i> -->
                По плану</a>
            <!-- <a href="#firms/fav" class="grey item">
                <i class="empty heart icon"></i>Избранные </a> -->
            <a href="#firmadd" class="right item">
                <i class="add green icon"></i>Добавить организацию</a>



        </div>

        <div class="ui bottom attached segment segments">
            {{#each firms}}
            <div class="ui segment">
                <!--a class="ui red ribbon label">{{title}}</a-->

                <div class="my_title"><a class="my_title_name" href="#firms/{{org_id}}/item">{{name_short}}</a>
                  {{#if is_in_fav}}
                <i class="my_favlink link icon yellow star" data-orgid="{{org_id}}" data-isinfav="{{is_in_fav}}"></i>

                {{else}}
               <i class="my_favlink link icon empty grey star" data-orgid="{{org_id}}" data-isinfav="{{is_in_fav}}"></i>
                {{/if}}

                   <!-- #if ui_is_vip <i-xx class="icon small yellow star"></i-xx> /if -->

                </div>
                {{phone1}} {{phone2}} {{phone3}} <br> <a class="my_grey2" href="mailto:{{email}}">{{email}}</a>
                <div class="ui horizontal fitted divider"></div>

                <!-- <span class="my_label">{{deps}}</span> -->

                {{#if txt}}
                    <br>  <span class="my_label">{{name}}</span> <span class="my_label_task">{{label}}</span>
                      {{txt}} <span   class="my_contact_person">{{contact_person}}</span>
                    <!-- <div class="ui basic tiny label" title="Дата последней активности">{{datetime1}}</div> -->
                    <span class="my_label">{{datetime1}}</span>

                {{#if future}}
                    <span class="my_label my_grey">{{future}}</span> {{/if}}
                     {{else}}
                    <span class="my_grey">Нет событий</span>
                {{/if}}

            </div>
            {{else}}
            <li>Список пуст</li>
            {{/each}}
        </div>



        <div class="ui stackable mini secondary  menu">
            <!-- <div class="disabled item">...</div> -->
            {{#if pre_perpage}}
            <a href="#firms/{{sortby}}/{{pre_perpage}}" class="item"><i class="arrow left icon"></i>Предыдущие {{perpage}}</a> {{/if}}

            <span class="header item">{{list_info}}</span> {{#if next_perpage}}
            <a href="#firms/{{sortby}}/{{next_perpage}}" class="item">Следующие {{perpage}} <i class="arrow right icon"></i></a> {{/if}}

        </div>

    </div>
</script>
