[v-cloak] {
  display: none;
}
/* https://vuejs.org/v2/api/#v-cloak */


.project_todo__status_id1 {
  /*Создан*/
    background-color: rgb(239, 248, 254)!important;
}


.project_todo__status_id2 {
    /*В работе*/
    background-color: rgb(255, 254, 238)!important;
}

.project_todo__status_id3 {
    /*Пауза*/
    background-color: rgb(249, 249, 249)!important;
}

.project_todo__status_id4 {
    /*Сделано*/
    background-color: rgb(243, 250, 235)!important;
}

.project_todo__status_id5 {
    /*Отменено*/
    background-color: rgb(235, 250, 246)!important;
}

.project_todo__status_id6 {
    /*Проблема*/
    background-color: rgb(255, 234, 233)!important;
}


/* ** ** мои некоторые добавки к SemanticUI */

.my_grey {
    color: #adadad!important;
}

.my_grey2 {
    color: #919191!important;
}

.my_bg_white {
    background-color: white!important;
}
.my_bg_grey{
    background-color: #eaeaea!important;
}

.my_form input, .my_form textarea {
    background-color: #fbfbfb!important;
}

.my_float_right {
    float: right;
}
.my_fontweight_400{
  font-weight: 400;
}
.my_status {
    margin-top: -1em;
}

.my_title_name {
    font-size: 120%;
    border-bottom: 1px solid #e0e0e0;
    color: #2898bd;
    transition: all 0.3s;
}

.my_contact_person {
    font-size: 90%;
    font-variant: small-caps;
}

.my_header_label {
    font-size: 90%;
    font-weight: 400;
    color: #858585;
}

.my_divider {
    margin: 5px!important;
}

a.my_title_name:hover {
    color: #006cd6!important;
    border: none;
}

.my_title {
    margin-bottom: 10px;
}

.my_label, .my_label_attention {
    display: inline-block;
    font-size: 80%;
    border: 1px solid #efefef;
    border-radius: 1px;
    padding: 0.1em 0.3em;
    color: #929292;
    /*margin: 0 0 1px 2px;*/
}

.my_label_attention {
    color: #d07511;
    border: 1px solid #f7dfc6;
    border-radius: 4px;
}

.my_label_notice {
    color: #99a069;
    border: 1px solid #dedc99;
    border-radius: 4px;
    background-color: #fcffea;
    padding: 2px 5px;
    font-size: 90%;
    margin: 0 5px;
}

.my_label_task {
    border: 1px solid #d6d6d6;
    padding: 1px 4px;
    border-radius: 3px;
    color: #848484;
    font-size: 90%;
    margin-right: 3px;
}

.my_label_task:empty {
    display: none;
}

.my_popup[data-content] {
    border-bottom: 1px dashed grey;
    cursor: help;
}


/* всплываюие иконки при наведении  [TODO] при мобильном экране показывать их сразу, т.к. на мобильном нет hover  */

.my_hover:hover .my_hover_action {
    display: block!important;
}

.my_hover_action {
    display: none!important;
}

.my_bottom_margin{
  margin-bottom: 1em!important;
}
/*.favlist_star_selected {
  animation: hvr-icon-pop 0.4s 1 ease;
}
.favlist_star_unselected {
  animation: hvr-icon-push 0.4s 1 ease-out;
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}*/

body {
    background-color: #fbfbfb;
}


/* переопределение стилей семантика  */
.ui.dimmer{
      /*background-color: rgba(0, 0, 0, 0.34)!important;*/
}
.ui.radio.checkbox .box, .ui.radio.checkbox label {
    padding-left: 1.5em!important;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.container {
        width: 97%!important;
    }
}
