<script id="handlebars-depadd" type="text/x-handlebars-template">

    <div id="app-depadd" class="js-app">

        <div class="ui segment my_form">
          <h3>Новое направление</h3>
            <div class="ui form">
                <form id="depadd_form" type="post" action="">
                    <input autofocus name="dep" placeholder="Направление" type="text">
    <div class="ui horizontal  divider"></div>
                    <button type="submit" class="ui positive labeled icon button">
                    Добавить
                    <i class="plus icon"></i>
                </button>
                </form>
            </div>
        </div>

    </div>

</script>
