<script id="handlebars-depedit" type="text/x-handlebars-template">

    <div id="app-depedit" class="js-app">

        <div class="ui segment my_form">
          <h3>Редактировать направление</h3>
            <div class="ui form">
                <form id="depedit_form" type="post" action="">
                    <input value="{{dep}}" name="dep" placeholder="Направление" type="text">
    <div class="ui horizontal  divider"></div>
                    <button type="submit" class="ui positive labeled icon button">
                    Сохранить
                    <i class="write icon"></i>
                </button>


                                    <div class="my_float_right inline field">
                                        <div class="ui toggle checkbox">
                                            <input name="delete" tabindex="0" class="hidden" type="checkbox">
                                            <label>Удалить</label>
                                        </div>

                </form>
            </div>
        </div>

    </div>

</script>
