<script id="handlebars-deps" type="text/x-handlebars-template">

    <div id="app-deps" class="js-app">
      <h3>Направления</h3>

<a class="ui green basic  labeled icon button" href="#depadd"><i class="plus icon"></i>Добавить</a>

      <table class="ui  celled table">

        <tbody>
            {{#each deps}}
          <tr>
            <td><a class="my_title_name" href="#dep/{{dep_id}}">{{dep}}</a> <span class="my_grey">{{count}} организаций </span></td>

          </tr>
            {{/each}}

        </tbody>
      </table>

    </div>

</script>
