<template lang="html">
    <div>
        <div  v-if="(project.date_start && project.deadline)" class="outer">
            <div class="inner">
                <table>
                    <tr>
                        <th class="project">
                            с {{project.date_start | moment("D MMMM") }} по {{project.deadline | moment("D MMMM") }}
                            <br>дней:{{ diff_days }}
                        </th>
                        <td v-for="day in diff_days" v-html="format(day)">{{day}}</td>
                    </tr>
                    <tr v-for="stage in stages">
                        <th class="stage"><span
                                v-bind:class="'stage_status project_todo__status_id'+stage.project_status_id">
              {{$store.state.project_todo_statuses[stage.project_status_id].status}}</span> <br>
                            {{stage.title}}
                        </th>
                        <td v-for="day in diff_days"
                            :class="stageClass(stage.date_start,stage.deadline,day,stage.project_status_id)"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        props: ['project', 'stages'],
        data() {
            return {}
        },
        computed: {
            diff_days() {
                var a = moment(this.project.deadline).diff(this.project.date_start, 'days');
                return a + 1;
            },
        },
        methods: {
            format(day) {
                var d = '';
                var out = '';

                if (day == 1) d = moment(this.project.date_start);
                else d = moment(this.project.date_start).add(day - 1, 'd');

                if (moment(d).isoWeekday() > 5) out = '<span style="color:#c52d1b;">' + d.format("D MMM") + '</span>'; else out = d.format("D MMM");
                return out;
            },
            stageClass(start, finish, day_num, project_status_id) {
                var current_date = moment(this.project.date_start).add(day_num, 'd');
                var active = moment(current_date).isBetween(start, finish, 'day', '[]');
                if (active) {
                    return 'active_stage project_todo__status_id' + project_status_id;
                }
            }
        },
    }
</script>


<style lang="css" scoped>

    .active_stage {
        /*background-color: green;*/
        border-bottom: 1px solid grey;
    }

    .stage_status {
        text-transform: none;
        padding: 3px;
        border-radius: 3px;
        display: inline-block;
    }

    table {
        /*table-layout: fixed; */
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    td {
        padding: 5px;
    }

    td, th {
        /*vertical-align: top;*/
        border-left: 1px solid #ccc;
        padding: 10px;

        height: 4em;
        font-weight: normal;

    }

    th {
        position: absolute;
        left: 0;
        width: 300px;
        text-align: left;
    }

    th.project {
        font-weight: bold;
    }

    th.stage {
        /*text-transform: uppercase;*/
        font-size: 90%;
    }

    .outer {
        position: relative
    }

    .inner {
        overflow-x: scroll;
        overflow-y: visible;
        /*width:800px; */
        margin-left: 300px;
    }
</style>