<template>
	<div>
		<div class="ui top stackable menu">
			<span class="item project_todo__todo_title">
				<b>История изменеия проектов</b>
			</span>
		</div>
		<table class="ui celled table">
			<thead>
				<tr>
					<td>
						Время <i v-on:click="sort('datetime',true)" class="sort ascending icon"></i> <i v-on:click="sort('datetime',false)" class="sort descending icon"></i>
					</td>
					<td>
						Пользователь <i v-on:click="sort('name',true)" class="sort ascending icon"></i><i v-on:click="sort('name',false)" class="sort descending icon"></i>
					</td>
					<td>
						Событие <i v-on:click="sort('event',true)" class="sort ascending icon"></i><i v-on:click="sort('event',false)" class="sort descending icon"></i>
					</td>
					<td>
						Проект <i v-on:click="sort('project_title',true)" class="sort ascending icon"></i><i v-on:click="sort('project_title',false)" class="sort descending icon"></i>
					</td>
					<td>
						Комментарий <i v-on:click="sort('comment',true)" class="sort ascending icon"></i> <i v-on:click="sort('comment',false)" class="sort descending icon"></i>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(event, index) in history">
					<td>{{event.datetime}}</td>
					<td>{{event.name}}</td>
					<td>{{event.event}}</td>
					<td>
						<a v-bind:href="'#project/'+event.project_id">{{event.project_title}}</a>
					</td>
					<td>
						{{event.comment}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>
	export default {
		name: 'Project_history',
		template: "#tmpl_project_history",
		data: function() {
			return {
				history:{
				},
				accessTime:0,
			};
		},
		created: function (){
			var id = this.$route.params.id
			var url = id ? 'project/'+id+'/history' : 'project/history'
			$.getJSON(url,this.accessTime, (data) => {
				this.history = data.data
				this.sort('datetime',false)
				this.accessTime = data.accessTime
			});
		},
		methods:{
			sort: function (prop, asc) {
				this.history = this.history.sort(function(a, b) {
					if (asc) {
						return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
					} else {
						return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
					}
				});
			},
		}
	}
</script>