<template lang="html">
  <div>
      <div class="ui top stackable menu">
          <span class="item">
      <b>Проекты</b>
        </span>
          <span class="item">
      <a href="#" v-on:click.prevent="showAddModal()"><i class="plus green icon"></i>Добавить проект</a>
      </span>
    <div class="right menu">
        <span class="item" >
        <a href="#/projects/history"><i class="calendar grey icon"></i>История изменений</a>
        </span>
    </div>
      </div>

      <div class="ui styled fluid accordion">

          <div v-for="(project, index) in projects" v-bind:key="project.project_id">
              <div class="title">
                  <i class="dropdown icon"></i> {{project.title}} 
                  <span class="my_float_right"><span class="ui label my_bg_light_grey">{{project.date_start | formatDate }}</span>
                   <span class="ui label my_bg_light_grey">{{project.deadline | formatDate}}</span>
                    <span class="my_fontweight_400">
                   <div class="" v-bind:class="'ui horizontal label project_todo__status_id'+project.project_status_id">{{project.count_done_stages}} / {{project.count_stages}}</div>
                </span>
                  
                  </span>  
                

              </div>
              <div class="content">
                        <table class="ui very basic table">
                          <thead>
                              <tr>
                                  <th class="eight wide">
                    
                                  </th>
                                  <th class="two wide"><span class="my_grey">Начало</span></th>
                              <th class="two wide"><span class="my_grey">Окончание</span></th>
                              <th class="two wide"><span class="my_grey">Задачи</span></th>
                              </tr>
                              </thead>
                            <tbody>
                                  <tr>
                                      <td>
                                      {{project.info}}  <span v-if="project.user_ids" v-for="user_id in project.user_ids" class="my_label_task">{{users[user_id].name}} {{users[user_id].surname}}</span>

                                      </td>
                                      <td>{{project.date_start | formatDate }} <br>
                                        <span class="my_small_grey">{{project.date_start | moment("from") }}</span></td>
                                      <td>{{project.deadline | formatDate }}<br>
                                          <span class="my_small_grey">{{project.deadline | moment("from") }}</span>
                                      </td>
                                      <td>{{ project.count_todos }}</td>
                                  </tr>
  <tr><td colspan="4">

  <div class="my_bottom_margin">
    <a class="ui green tiny button" v-bind:href="'#/project/' + project.project_id"><i class="rocket icon"></i>Смотреть проект</a>
  <div class="my_float_right tiny basic ui buttons">
  <button class="ui button" v-on:click="editItemModal(index)"><i class="blue edit icon"></i>Редактировать</button>
  <button class="ui button" v-on:click="removeItem(index)"><i class="remove grey icon"></i>Удалить</button>
  </div>
  </div>

  <div class="ui tiny disabled progress" v-bind:data-percent="procentDone(project.count_done_stages, project.count_stages)">
  <div class="bar"></div>
  <div class="label" style="text-align:left">завершено на {{ procentDone(project.count_done_stages, project.count_stages) }}%, {{project.count_done_stages}} этапа из {{project.count_stages}} сделаны</div>
  </div>


                                      </td>
                              </tr>
                              </tbody>
                      </table>
              </div>
          </div>
          <!-- </p> -->
      </div>



      <!-- add popup -->
      <div id="projects_addform_modal" class="ui modal">
          <i class="close icon"></i>
          <div class="header">
              Добавить проект
          </div>
          <div class="content">
              <form id="projects_addform" class="ui form" @submit.prevent="addItem">
                  <div class="fields">
                      <div class="six wide field"><label>Название</label>
                          <input required name="title" placeholder="Название проекта" type="text" v-model="newitem.title">
                      </div>
                      <div class="five wide field"><label>Начало</label>
                          <el-date-picker :picker-options="{firstDayOfWeek:1}" value-format="yyyy-MM-dd" v-model="newitem.date_start"
                                          placeholder="Старт, дата"  prefix-icon="xxx"></el-date-picker>
                          <!--<div id="project_addform_calendar_date_start" class="ui calendar field">-->
                              <!--<div class="ui input left icon">-->
                                  <!--<i class="calendar icon"></i>-->
                                  <!--<input name="date_start" type="text" placeholder="Старт, дата">-->
                              <!--</div>-->
                          <!--</div>-->

                      </div>
                      <div class="five wide field"><label>Окончание проекта</label>
                          <el-date-picker :picker-options="{firstDayOfWeek:1}" value-format="yyyy-MM-dd" v-model="newitem.deadline"
                                          placeholder="Старт, дата"  prefix-icon="xxx"></el-date-picker>
                          <!--<div id="project_addform_calendar_deadline" class="ui calendar field">-->
                              <!--<div class="ui input left icon">-->
                                  <!--<i class="calendar icon"></i>-->
                                  <!--<input name="deadline" type="text" placeholder="Дэдлайн">-->
                              <!--</div>-->
                          <!--</div>-->
                      </div>
                  </div>
                  <textarea rows=3 class="field" placeholder="Описание проекта" name="info" type="text" v-model="newitem.info"></textarea>

                  <div class="field"> <label for="">Исполнители</label>
                      <!--<select id="project_addform_dropdown_users" name="users" multiple="" class="ui fluid dropdown">-->
                        <!--<option  v-for="(user, index) in users" v-bind:value="user.user_id">-->
                        <!--{{user.name}} {{user.surname}}-->
                        <!--</option>-->
                        <!--</select>-->
{{newitem.user_ids}}

          <!--<template v-for="user in $store.state.users">-->
             <!--{{user.user_id}} -  {{user.name}} {{user.surname}}-->
          <!--</template>-->

                      <el-select v-model="newitem.user_ids" multiple placeholder="Исполнители" style="width:100%">
                          <el-option
                                  v-for="user in $store.state.users"
                                  :key="user.user_id"
                                  :label="user.name"
                                  :value="user.user_id">
                          </el-option>
                      </el-select>


                  </div>
                  <button class="ui button" type="submit">Добавить</button>
              </form>

          </div>

      </div>
      <!-- add popup -->


      <!-- edit popup -->
      <div id="projects_edit_modal" class="ui modal">
          <i class="close icon"></i>
          <div class="header">
              Редактировать проект &laquo;{{edititem.title}}&raquo;
          </div>
          <div class="content">
              <form id="projects_editform" class="ui form" @submit.prevent="editItemModalSubmit">
                  <div class="fields">
                      <div class="six wide field"><label>Название</label>
                          <input required name="title" placeholder="Название проекта" type="text" v-model="edititem.title">
                      </div>

                      <div class="five wide field"><label>Начало</label>
                          <el-date-picker :picker-options="{firstDayOfWeek:1}" value-format="yyyy-MM-dd" v-model="edititem.date_start"
                                          placeholder="Старт, дата"  prefix-icon="xxx"></el-date-picker>

                          <!--<div id="project_editform_calendar_date_start" class="ui calendar field">-->
                              <!--<div class="ui input left icon">-->
                                  <!--<i class="calendar icon"></i>-->
                                  <!--<input name="date_start" type="text" placeholder="Старт, дата">-->
                              <!--</div>-->
                          <!--</div>-->

                      </div>
                      <div class="five wide field"><label>Окончание проекта</label>
                          <el-date-picker :picker-options="{firstDayOfWeek:1}" value-format="yyyy-MM-dd" v-model="edititem.deadline"
                                          placeholder="Дэдлайн" prefix-icon="xxx"></el-date-picker>

                          <!--<div id="project_editform_calendar_deadline" class="ui calendar field">-->
                              <!--<div class="ui input left icon">-->
                                  <!--<i class="calendar icon"></i>-->
                                  <!--<input name="deadline" type="text" placeholder="Дэдлайн">-->
                              <!--</div>-->
                          <!--</div>-->

                      </div>

                  </div>
                  <textarea rows=3 class="field" placeholder="Описание проекта" name="info" type="text" v-model="edititem.info"></textarea>
                  <div class="field"> <label for="">Исполнители</label>

                      <el-select v-model="edititem.user_ids" multiple placeholder="Исполнители" style="width:100%">
                          <el-option
                                  v-for="user in $store.state.users"
                                  :key="user.user_id"
                                  :label="user.name"
                                  :value="user.user_id">
                          </el-option>
                      </el-select>

                      <!--<select v-model="edititem.user_ids" id="project_editform_dropdown_users" name="
                      " multiple="" class="ui fluid dropdown">-->
                        <!--<option v-for="(user, index) in users" v-bind:value="user.user_id">-->
                        <!--{{user.name}} {{user.surname}}-->
                        <!--</option>-->
                        <!--</select>-->

                  </div>


                  <button class="ui button" type="submit">Редактировать</button>
              </form>

          </div>

      </div>
      <!-- edit popup -->



            <!-- del modal popup -->
            <div class="ui basic modal" id="projects_delete_modal">
                <div class="ui icon header">
                    <i class="trash outline icon"></i> Удалить &laquo;{{delete_modal_msg1}}&raquo;?
                </div>
                <div class="content">
                    <p>{{delete_modal_msg2}}</p>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i> Отмена
                    </div>
                    <div class="ui green ok inverted button">
                        <i class="checkmark icon"></i> Удалить
                    </div>
                </div>
            </div>
            <!-- del modal popup -->

  </div>
</template>

<script>
export default {
  name: 'Projects',
  // template: "#tmpl_projects",

  data: function() {
    return {
      projects: [],
      users: this.$store.state.users,
      delete_modal_msg1: '',
      delete_modal_msg2: '',
      edititem: {
        title: '',
        info: '',
        date_start: '',
        deadline: '',
        user_ids:[]
      },
      newitem: {
        title: '',
        info: '',
        date_start: '',
        deadline: '',
        count_done_stages: 0,
        count_stages: 0,
        count_todos: 0,
        user_ids: []
      },
      statuses: {
        1: {
          status_id: 1,
          status: "Создан",
        },
        2: {
          status_id: 2,
          status: "В работе",
        },
        3: {
          status_id: 3,
          status: "Пауза",
        },
        4: {
          status_id: 4,
          status: "Сделано!",
        },
        5: {
          status_id: 5,
          status: "Отменено",
        },
        6: {
          status_id: 6,
          status: "Проблема",
        }

      },
    };
  },

  created: function() {
    $.getJSON('project', (data) => this.projects = data.projects);
  },

  mounted: function() {
    var self = this;

    // $('#project_addform_dropdown_users').dropdown({
    //   onChange: function(value, text, $choice) {
    //     self.newitem.user_ids = value;
    //   }
    // });

    $('.ui.accordion').accordion({
      onOpen: function() {
          $('.ui.progress').progress();
      }
    });


  },
  methods: {
    showAddModal: function() {
      var self = this;

      $('#projects_addform_modal').modal('show');

      // $('#project_addform_calendar_deadline').calendar({
      //   type: 'date',
      //   startCalendar: $('#project_addform_calendar_date_start'),
      //   onChange: function(date, text) {
      //     if (date) self.newitem.deadline = moment(date).format('YYYY-MM-DD');
      //   }
      // });

      // $('#project_addform_calendar_date_start').calendar({
      //   type: 'date',
      //   endCalendar: $('#project_addform_calendar_deadline'),
      //   onChange: function(date, text) {
      //     if (date) self.newitem.date_start = moment(date).format('YYYY-MM-DD');
      //   },
      // });
      //
      // $('#project_addform_calendar_date_start').calendar('set date', (new Date()));



    },
    addItem: function() {

      $.post(
        'project', this.newitem,
        (success) => {

            // this.$set(this.projects, success.insert_id, success.item[0]);
            this.projects.push(success.item[0]);
            // this.$set(this.projects, success.insert_id, this.newitem);
            // console.log(success.insert_id)
          this.newitem.info = '';
          this.newitem.title = '';
          this.newitem.deadline = '';
          this.newitem.date_start = '';
          this.newitem.user_ids = [];
          $('#project_addform_dropdown_users').dropdown('clear'); // типа reset  формы
          $('.ui.calendar').calendar('clear'); // типа reset  формы

          // закрываем попап
          $('#projects_addform_modal').modal('hide');



        }, 'json'
      );

    },
    removeItem: function(index) {
      // var self = this;

      // подсказка, что именно удаляем, для попапа
      this.delete_modal_msg1  = this.projects[index].title;
      this.delete_modal_msg2 = this.projects[index].info;

      $('#projects_delete_modal')
        .modal({
          onApprove: () => {
            $.ajax({
              url: 'project/' + this.projects[index].project_id,
              type: 'DELETE',
              success: (result) => {
                  this.$delete(this.projects, index); // удаляем из модели
              }
            });
          }
        })
        .modal('show');

    },
    editItemModal: function(index) {

      this.edititem = this.projects[index];


      $('#projects_edit_modal').modal({
        onVisible: function() {
          // $('#project_editform_dropdown_users').dropdown() // пришлось ставить сюда на onVisible, просто ниже, как календарики, дропдаун срабатывал частично (не выбирал уже выбранное)
        }
      }).modal('show');

      //
      // $('#project_editform_calendar_deadline').calendar({
      //   type: 'date',
      //   startCalendar: $('#project_editform_calendar_date_start'),
      //   onChange: (date, text) => {
      //     if (date) this.edititem.deadline = moment(date).format('YYYY-MM-DD');
      //   }
      // });
      //
      // $('#project_editform_calendar_deadline').calendar('set date', this.edititem.deadline);
      //
      //
      // $('#project_editform_calendar_date_start').calendar({
      //   type: 'date',
      //   endCalendar: $('#project_editform_calendar_deadline'),
      //   onChange: (date, text) => {
      //     if (date) this.edititem.date_start = moment(date).format('YYYY-MM-DD');
      //   }
      // });
      //
      // $('#project_editform_calendar_date_start').calendar('set date', this.edititem.date_start);


    },
    editItemModalSubmit: function() {
      $.ajax({
        method: "PUT",
        url: 'project/' + this.edititem.project_id,
        data: this.edititem,
        dataType: "json",
        success: function(data, status) {
          if (data.success) {
            $('#projects_edit_modal').modal('hide')

          } else {
            alert('Ошибка отправки!')
          }
        }
      });

    },
    procentDone: function(done, total) {
      if (done && total) {

        var percent = Math.round((done / total) * 100);
      } else {
        var percent = 0
      }

      return percent
    }

  },
  filters: {
    formatDate: function(value) {
      if (!value) return '';
      var ret = moment(value).format('DD-MM-YYYY');
      return ret;
    }
  }
}
</script>