<template>
	<div>
		<h2 class="ui header">
			<div class="sub header">проект</div>
			{{project.title}}
		</h2> {{project.info}}
		<br>
		<div class="project_todo__dates">Создан: {{project.deadline | formatDate }} <br> Срок выполнения: {{project.created | formatDate }}</div>
		<div class="ui horizontal divider"></div>


		<div class="ui top stackable menu">
			<span class="item project_todo__todo_title">
				<b>Затраченное время</b>
			</span>

		</div>
		<div v-for="stage in stages">

			<div class="ui horizontal divider"></div>
			<h4>{{stage.title}}</h4>
			 {{stage.info}}

			<table class="ui celled basic table">
				<thead>
					<tr class="my_bg_grey my_th">
						<td class="eight wide" rowspan="2">Задача</td>
						<td colspan="2">Время</td>
						<td colspan="2">Стоимость</td>
					</tr>
					<tr>
						<td class="two wide"><span class="my_grey">По плану</span></td>
						<td class="two wide"><span class="my_grey">По факту</span></td>
						<td class="two wide"><span class="my_grey">По плану</span></td>
						<td class="two wide"><span class="my_grey">По факту</span></td>
					</tr>
				</thead>
				<tbody>

					<tr v-for="todo in stage.todos">
						<td><span>{{todo.title}}</span> <br>{{todo.info}}</td>
						<td>{{todo.hours_estimate}}</td>
						<td>{{todo.hours_spent}}</td>
						<td>{{todo.cost_estimated}}</td>
						<td>{{todo.cost}}</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</template>
<script >
	export default{
		name: 'Project_estimated_time',
		data: function() {
			return {
				project: {},
				stages: {
					todos: {}
				},
				users: {},
			}
		},
		created: function() {
			var self = this

			$.getJSON('users', (data) => {
				this.users = data.users

				$.getJSON('project/' + this.$route.params.id, (data) => {
					this.project = data.data[this.$route.params.id];
				});

				$.getJSON('project_todo/?project_id=' + this.$route.params.id, (data) => {
					if (Object.keys(data.data).length > 0) {this.stages = data.data;}
					for (var stage in self.stages){

						for(var todo in self.stages[stage].todos){
							var cost_estimated = 0
							var cost = 0
							for (var user in self.stages[stage].todos[todo].user_ids){
								var cost = cost + self.stages[stage].todos[todo].hours_spent * self.users[self.stages[stage].todos[todo].user_ids[user]].hour_rate
								var cost_estimated = cost_estimated + self.stages[stage].todos[todo].hours_estimate * self.users[self.stages[stage].todos[todo].user_ids[user]].hour_rate
							}
							self.$set(self.stages[stage].todos[todo],'cost_estimated',cost_estimated)
							self.$set(self.stages[stage].todos[todo],'cost',cost)
						}
					}
				});

			});
		},

		filters: {
			formatDate: function(value) {
				if (!value) return '';
				var ret = moment(value).format('DD-MM-YYYY');
				return ret;
			}
		},
	}
</script>
