<template>
	<div class=" comments project_comments">
		<table class="ui celled table">
			<tbody>
				<tr class="comment project_comment" v-for="(comment, index) in comments" >
				<td>
					<b>{{comment.name}}</b> <i>{{comment.timestamp | formatDate}}</i><br>
					<i>{{comment.title}}</i> {{comment.content}}
				</td>
				</tr>
			</tbody>
		</table>
		<!-- <h4>Добавить коментарий</h4> -->
		<form id="project_todo_addform" class="ui form" @submit.prevent="addItem">
			<div class="six wide field">
				<label>Заголовок</label>
				<input required name="title" type="text" v-model="newitem.title">
			</div>
			<div class="field">
				<label>Сообщение</label>
				<textarea rows=3 class="field" placeholder="Сообщение" name="content" type="text" v-model="newitem.content"></textarea>
			</div>
			<button class="ui button" type="submit">Добавить комментарий</button>
		</form>
	</div>
</template>
<script>
	export default{
		name: 'Project_comments',
		props: ['project_id'],
		data: function() {
			return {
				comments:Object,
				newitem:{
					content:'',
					title:''
				}
			};
		},
		created: function () {
			$.getJSON('project_comment?project_id='+this.$parent.$route.params.project_id, (data) => this.comments = data.data);
		},
		methods:{
			addItem: function() {
				$.post('project_comment/add?project_id='+this.project_id,this.newitem ,(data) => {
					Vue.set(this.comments,data.data.id,data.data)
				},'json');
				this.newitem.content = ''
				this.newitem.title = ''
			}
		},
		filters: {
				formatDate: function(value) {
						if (!value) return '';
						ret = moment(value).format('DD-MM-YYYY');
						return ret;
				}
		}
	}
</script>