<template>

	<form class="ui form" v-on:submit.prevent="doFilter">
		<div class="ui action input" id="org_search">
			<input type="text" placeholder="Поиск.." v-model.trim="filterText" id="org_search_str">
			<button class="ui attached right labeled icon green button" id="org_search_button" type="submit">
			Искать<i class="left search icon"></i></button> 
			<!--<button class="btn btn-primary" @click="resetFilter">Сброс</button> -->
		</div>
	</form>
</template>

<script>
export default {
	data () {
		return {
			filterText: ''
		}
	},
	methods: {
		doFilter () {
			this.$events.fire('filter-set', this.filterText)
		},
		resetFilter () {
			this.filterText = ''  // clear the text in text input
			this.$events.fire('filter-reset')
		}
	}
}
</script>
<style type="text/css">
	#org_search_button{
width: 127px
}
#org_search_str{
width: 50%
}
#org_search{
width: 100%
}
</style>