<template>
	<div >
		<div class="ui top stackable menu">
			<span v-if="(!$route.params.id)" class="item"><b>Добавление товара</b></span>
			<span v-if="($route.params.id)" class="item"><b>Редактирование товара</b></span>
		</div>
		<div class="ui segment">
			
			<div class="ui form">
				<form id="productedit_form" v-on:submit.prevent="edit()">

					<div class="field">
						<label>Название</label>
						<input v-model="product.name" >
					</div>
					<div class="three fields">
						<div class="field">
							<label>Количество </label>
							<input type="number" v-model="product.reserve">
						</div>
						<div class="field">
							<label>Резерв </label>
							<input type="number" v-model="product.balance">
						</div>
						<div class="field">
							<label>Ед. </label>
							<input type="text" v-model="product.unit">
						</div>
					</div>




					<div class="three fields">
						<div class="field">
							<label>Цена </label>
							<input placeholder="Цена" type="number" v-model="product.price1">
						</div>
						<div class="field">
							<label>Цена 2 </label>
							<input placeholder="Цена" type="number" v-model="product.price2">
						</div>
						
					</div>


					<div class="fields">


						<div class="two wide field">
							<label>Группа 1</label>
							<multiselect :items="groups" v-model="product.product_group_id" multiple="false"></multiselect>
						</div>
						<div class="two wide field">
							<label>Группа 2</label>
							<multiselect :items="groups" v-model="product.product_group_id" multiple="false"></multiselect>
						</div>
						<div class="two wide field">
							<label>Группа 3</label>
							<multiselect :items="groups" v-model="product.product_group_id" multiple="false"></multiselect>
						</div>
						<div class="two wide field">
							<label>Группа 4</label>
							<multiselect :items="groups" v-model="product.product_group_id" multiple="false"></multiselect>
						</div>
						<div class="two wide field">
							<label>Группа 5</label>
							<multiselect :items="groups" v-model="product.product_group_id" multiple="false"></multiselect>
						</div>


					</div>

<!-- 					<div class="field">
						 <input name="gender" type="hidden" value="0,1">
						<select id="select_dep" name="deps[]" multiple="" class="ui fluid dropdown">
							<option value="">Подразделения</option>
							<option v-for="dep in deps" :value="dep.dep_id">{{dep.dep}}</option>

						</select>
					</div> -->

					<div class="field">
						<label>Примечание</label>
						<textarea v-model="product.comment" rows="3"></textarea>
					</div>

					<div class="field">
						<label>Описание</label>
						<textarea v-model="product.description" rows="3"></textarea>
					</div>
					<div class="field">
						<label>Спецификации</label>
						<textarea v-model="product.specification" rows="3"></textarea>
					</div>
					<button v-if="$route.params.id" type="submit" class="ui positive labeled icon button">
						Сохранить
						<i class="write icon"></i>
					</button>
					<button v-if="!$route.params.id" type="submit" class="ui positive labeled icon button">
						Добавить
						<i class="write icon"></i>
					</button>

					<div v-if="$route.params.id" class="my_float_right inline field">
						<div class="ui toggle checkbox">
							<input tabindex="0" v-model="product.hide" type="checkbox">
							<label>Удалить</label>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</template>
<script>
	export default{
		name: 'Product_edit',
		data: function() {
			return {
				product:{},
				groups:[],
			};
		},
		computed: {
			id:function(){
				return this.$route.params.id ? this.$route.params.id : 0
			}
		},
		created: function() {
			$.getJSON('product/'+this.id,(data) => this.product = data)
		},
	}
</script>