<template>
	<div>
		<div class="ui top stackable menu">
			<span class="item">	<b >Товары</b></span>
			<a href="#products/add" class="item"><i class="plus green icon"></i>Добавить</a>
		</div>
		<Products_filter></Products_filter> 
		
		<div class="ui container">
			<vuetable 
			ref="vuetable" 
			api-url="product" 
			:fields="fields"
			@vuetable:cell-clicked="onCellClicked" 
			pagination-path=""
			:append-params="moreParams"
			@vuetable:pagination-data="onPaginationData"
			>
		</vuetable>
		<div class="vuetable-pagination ui basic segment grid">
      <vuetable-pagination-info ref="paginationInfo"
      infoTemplate="Показаны товары от {from} до {to} из {total}"
      ></vuetable-pagination-info>

      <vuetable-pagination ref="pagination"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>
    </div>
	</div>
</div>
</template>
<script>
	import Vue from 'vue'
	import Vuetable from 'vuetable-2/src/components/Vuetable'
	import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
	import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
	import product_balance from './product_balance'
	Vue.component('product_balance', product_balance)
	import Products_filter from './products_filter'
	Vue.component('Products_filter', Products_filter)
	export default {
		components: {
			Vuetable,
			VuetablePagination,
			VuetablePaginationInfo
		},

		data(){
			return {
				moreParams: {},

				fields: [
					{
						name: '__checkbox',
						titleClass: 'center aligned',
						dataClass: 'center aligned'
					}, 
					{
						name: 'name',
						title: 'Название',
						titleClass: 'center aligned',
						dataClass: 'left aligned',
						sortField: 'name'
					},
					{
						name: 'product_group_id',
						title: 'ID Группы товара',
						titleClass: 'center aligned',
						dataClass: 'center aligned',
						sortField: 'product_group_id'
					},
					{
						name: 'price1',
						title: 'Цена',
						sortField: 'price1'
					},
					{
						name: '__component:product_balance',
						title: 'Склад/Резерв',
						titleClass: 'center aligned',
						dataClass: 'center aligned',
						sortField: 'balance'
					},
					]
				}
			},

			methods: {
				onCellClicked (data, field, event) {
					console.log('cellClicked: ', field.name)
					this.$refs.vuetable.toggleDetailRow(data.id)
				},
				onPaginationData (paginationData) {
					this.$refs.pagination.setPaginationData(paginationData)
					this.$refs.paginationInfo.setPaginationData(paginationData) 
				},
				onChangePage (page) {
					this.$refs.vuetable.changePage(page)
				}
			},
			events: {
				'filter-set' (filterText) {
					this.moreParams = {
						'filter': filterText
					}
					Vue.nextTick( () => this.$refs.vuetable.refresh())
				},
				'filter-reset' () {
					this.moreParams = {}
					this.$refs.vuetable.refresh()
					Vue.nextTick( () => this.$refs.vuetable.refresh())
				}
			}
		}
	</script>