<template>
	<span>{{rowData.balance}}/{{rowData.reserve}} {{rowData.unit}}</span>
</template>

<script>
	export default {
		props: {
			rowData: {
				type: Object,
				required: true
			},
			rowIndex: {
				type: Number
			}
		},
	}
</script>