<script type="text/x-template" id="tmpl_todos">
	<div>
		<div class="ui top stackable menu">
			<span class="item"><b>Задачи</b></span>
			<span class="item"><a href="#" v-on:click.prevent="sort('project_status_id')" class="grey">По статусу</a></span>
		</div>
		<div class="ui bottom attached segment segments">
			<div v-for="todo in todos" v-bind:key="todo.id" class="ui segment">
				<a class="my_title_name" :href="'#project/'+todo.project_id+'?a_name=todo_'+todo.project_todo_id">{{todo.title}}</a>
				{{todo.info}} Срок окончания: {{todo.deadline}}
			</div>
		</div>

<div id="calendar"></div> 

	</div>
</script>
