<script type="text/x-template" id="tmpl_user">


	<div id="app-users" class="js-app">
		<div class="ui horizontal fitted divider"></div>

		<div class="ui top stackable menu">
			<span class="item">
				<b >{{user.name}} {{user.surname}}</b>

			</span>
			<span class="item">
				<a :href="'#user/' + user.user_id + '/edit'" class="ui blue basic">Редактировать</a>

			</span>

		</div>
		
		<div class="ui segment my_form">
			<div class="ui form">
				<form id="useredit_form" type="post" action="">
					<div class="four fields">
						<div class="field">
							<label>Имя</label>
							<input name="name" requied placeholder="Название" type="text" v-model="user.name">
						</div>
						<div class="field">
							<label>Отчество</label>
							<input name="middlename" placeholder="Отчество" type="text" v-model="user.middlename">
						</div>
						<div class="field">
							<label>Фамилия</label>
							<input name="surname" placeholder="Фамилия" type="text" v-model="user.surname">
						</div>

						<div class="field">
							<label>Телефон 1</label>
							<input name="phone1" placeholder="Телефон 1" type="text" v-model="user.phone1">
						</div>
						<div class="field">
							<label>Телефон 2</label>
							<input name="phone2" placeholder="Телефон 2" type="text" v-model="user.phone2">
						</div>

					</div>
					<div class="four fields">
						<div class="field">
							<label data-content="Менеджер видит события всех направлений, к которым есть доступ. Администратор может устанавливать роли" data-variation="very wide">Статус
							  <!-- <i class="ui grey icon help" ></i> -->
						  </label>

						  <select data-content="Менеджер видит события всех направлений, к которым есть доступ. Администратор может устанавливать роли" required name="user_level" v-model="user.user_level" class="ui search dropdown">
							  <option value="1">Стажер</option>
							  <option value="2">Пользователь</option>
							  <option value="3">Менеджер</option>
							  <option value="4">Администратор</option>
						  </select>

					  </div>


					  <div class="field">
						<label>Логин</label>
						<input name="login" placeholder="Логин" type="text" v-model="user.login">
					</div>
					<div class="field">
						<label>Пароль</label>
						<input name="password" placeholder="Пароль" type="text" v-model="user.password">
					</div>

					<div class="field">
						<label>email</label>
						<input name="email" placeholder="e-mail" type="text" v-model="user.email">
					</div>

				</div>
				<div class="four fields">
					<div class="field">
						<label>Стоимость часа</label>
						<div class="ui icon input">
						  <i class="lock icon"></i>
						  <input required name="hour_rate" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Стоимость часа" type="text" v-model="user.hour_rate">
					  </div>
				  </div>
				  <div class="field">
					<label>Внешняя стоимость %</label>
					<div class="ui icon input">
					  <i class="lock icon"></i>
					  <input required name="hour_rate_margin" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Внешняя стоимость %" type="text" v-model="user.hour_rate_margin">
				  </div>
			  </div>

<!--                     <table class="ui basic table">
						<thead>
							<th>Доступ</th>
							<th><span class="my_popup" data-content="Возможность добавлять и редактировать только свои организации">Свои организации</span></th>
							<th><span class="my_popup" data-content="Просмотр данных по всем (и чужим) организациям направления">Просмотр всех</span></th>
							<th><span class="my_popup" data-content="Возможность редактировать чужие организации">Редактирование всех</span></th>
						</thead>
						
					</table> -->



<!--                     <button type="submit" class="ui positive labeled icon button">
					Сохранить
					<i class="write icon"></i>
				</button> -->

<!--                     <div v-if="user.user_id != 1" class="my_float_right inline field">
						<div class="ui toggle checkbox">
							<input name="delete" tabindex="0" class="hidden" type="checkbox">
							<label>Удалить</label>
						</div>
					</div>
				-->
			</form>
		</div>



	</div>

</script>
