<script type="text/x-template" id="tmpl_users">

	<div id="app-users"  class="js-app">
		<!-- <div class="ui horizontal fitted divider"></div> -->

 <div class="ui top stackable menu">
            <span class="item">
                <b >Пользователи</b>

            </span>
<span class="item">
                <a class="ui green basic  labeled icon " href="#users/add"><i class="plus icon"></i>Добавить</a>

            </span>
            <span class="item">
                <a href="#users/vacations" class="ui blue basic ">Отпуска | Больничные</a>

            </span>
        </div>

		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th></th>
					<th>Доступны направления</th>
					<th>Уровень</th>
					<th>Логин</th>
					<th class="">Пароль</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(user, index) in users" :key="index">
					<td><a class="my_title_name" :href="'#user/'+index">{{user.name}} {{user.surname}}</a></td>
					<td>{{user.deps}}</td>
					<td>{{user.user_level_name}}</td>
					<td>{{user.login}}</td>
					<td class="">

						{{user.password}}</td>
					</tr>

				</tbody>
			</table>
		</div>

	</script>
