<script type="text/x-template" id="tmpl_useradd">

    <div id="app-useradd" class="js-app">
        <!-- <div class="ui horizontal fitted divider"></div> -->
 <div class="ui top stackable menu">
            <span class="item">
                <b v-if="!this.$route.params.id">Новый пользователь</b>
                <b v-if="this.$route.params.id">Редактирование</b>
            </span>

        </div>

        <div class="ui segment my_form">
            <div class="ui form">
                <form id="useradd_form" type="post" action="" @submit.prevent="postItem">
                    <div class="four fields">
                        <div class="field">
                            <label>Имя</label>
                            <input autofocus name="name" required placeholder="Имя" type="text" v-model="user.name">
                        </div>
                        <div class="field">
                            <label>Отчество</label>
                            <input name="middlename" placeholder="Отчество" type="text" v-model="user.middlename">
                        </div>
                        <div class="field">
                            <label>Фамилия</label>
                            <input name="surname" placeholder="Фамилия" type="text" v-model="user.surname">
                        </div>

                        <div class="field">
                            <label>Телефон 1</label>
                            <input name="phone1" placeholder="Телефон 1" type="text" v-model="user.phone1">
                        </div>
                        <div class="field">
                            <label>Телефон 2</label>
                            <input name="phone2" placeholder="Телефон 2" type="text" v-model="user.phone2">
                        </div>

                    </div>
                    <div class="three fields">

                        <div class="field">
                            <label>Доступ</label>
                            <select v-model="user.user_level" name="user_level" class="ui search dropdown">
              <option  value="1">Стажер</option>
              <option value="2">Пользователь</option>
              <option value="3">Менеджер</option>
              <option value="4">Администратор</option>

          </select>

                        </div>


                        <div class="field">
                            <label>Логин</label>

                            <div class="ui icon input">
         <!-- <input type="text" name="username" placeholder="Username"> -->
         <input required name="login" placeholder="Логин" type="text" v-model="user.login">
         <i class="user icon"></i>
       </div>

                        </div>
                        <div class="field">
                            <label>Пароль</label>
                                <div class="ui icon input">
                                  <i class="lock icon"></i>
                            <input required name="password" placeholder="Пароль" type="text" v-model="user.password">
                          </div>
                        </div>

                        <div class="field">
                            <label>Email</label>
                            <div class="ui icon input">
                            <i class="mail icon"></i>
                            <input name="email" placeholder="e-mail" type="text" v-model="user.email">
                        </div>
  </div>
                    </div>
                    <div class="three fields">
                                            <div class="field">
                            <label>Стоимость часа</label>
                                <div class="ui icon input">
                                  <i class="lock icon"></i>
                            <input required name="hour_rate" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Стоимость часа" type="text" v-model="user.hour_rate">
                          </div>
                        </div>
                                            <div class="field">
                            <label>Внешняя стоимость %</label>
                                <div class="ui icon input">
                                  <i class="lock icon"></i>
                            <input required name="hour_rate_margin" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Внешняя стоимость %" type="text" v-model="user.hour_rate_margin">
                          </div>
                        </div>

</div>
<!--                     <table class="ui basic table">
                        <thead>
                            <th>Доступ</th>
                            <th>Свои организации</th>
                            <th>Просмотр всех</th>
                            <th>Редактирование всех</th>
                        </thead>

                    </table> -->
                    
                    <button v-if="!this.$route.params.id" type="submit" class="ui positive labeled icon button">Добавить<i class="write icon"></i></button>
                    <button v-if="this.$route.params.id" type="submit" class="ui positive labeled icon button">Редактировать<i class="write icon"></i></button>

                    <div v-if="user.user_id != 1 && this.$route.params.id"  class="my_float_right inline field">
                        <div class="ui toggle checkbox">
                            <input name="delete" tabindex="0" class="hidden" type="checkbox">
                            <label>Удалить</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
