<script type="text/x-template" id="tmpl_vacation">
	<div>
		<h3>Отпуска, Больничные, Командировки</h3>
		<div class="ui horizontal fitted divider"></div>

		<button id="vacation_additem" class="ui small green labeled icon button" v-on:click="showAddModal()">
			<i class="add icon"></i>Добавить
		</button>

		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th>Имя cотрудник</th>
					<th>Дата начала</th>
					<th>Дата окончания</th>
					<th>Комментарий</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(vacation, index) in vacations" :key="index">
					<td><a class="my_title_name" :href="'#user/'+ vacation.user_id">{{vacation.name}} {{vacation.surname}}</a></td>
					<td>{{vacation.b_date}}</td>
					<td>{{vacation.e_date}}</td>
					<td>{{vacation.comment}}</td>
				</tr>

			</tbody>
		</table>

		<div class="ui horizontal fitted divider"></div>

		<div id="vacation_addform_modal" class="ui modal">
			<i class="close icon"></i>
			<div class="header">
				Добавить 
			</div>
			<div class="content">

				<form id="vacation_addform" class="ui form" @submit.prevent="addItem">
					<div class="five wide field">
						<label>Дата начала</label>
						<div id="vacation_b_date_calendar" class="ui calendar field">
							<div class="ui input left icon">
								<i class="calendar icon"></i>
								<input name="b_date" type="text" placeholder="Дата начала">
							</div>
						</div>
					</div>
					<div class="five wide field">
						<label>Дата окончания</label>
						<div id="vacation_e_date_calendar" class="ui calendar field">
							<div class="ui input left icon">
								<i class="calendar icon"></i>
								<input name="e_date" type="text" placeholder="Дата окончания">
							</div>
						</div>
					</div>
					<div class="field">
						<label>Сотрудник</label>
						<select id="vacation_add_users" name="user_id" class="ui fluid dropdown">
							<option></option>
							<option v-for="(user, index) in users" :value="user.user_id">
								{{user.name}} {{user.surname}}
							</option>
						</select>
					</div>
					<textarea rows=3 class="field" placeholder="Комментарий" name="comment" type="text" v-model="newitem.comment"></textarea>
					<div class="ui horizontal fitted divider"></div>
					<div v-model="project_info" class="project_info">
						<p v-for="(project, index) in project_info">
							Сотрудник закреплен за выполнением задания: "{{project.title}}" в период с {{project.date_start}} по {{project.deadline}}. 
						</p>
					</div>
					<div class="ui horizontal fitted divider"></div>
					<button class="ui green button" type="submit">Добавить</button>
				</form>
			</div>
		</div>
	</div>
</script>