<template>
<div>

<h3>Уведомления</h3>
    <span class="ui button" v-on:click="subscribe">Подписаться</span>
</div>
</template>
<script>
  export default {
name: 'Push',
  methods: {
    
    subscribe(){
      OneSignal.push(function() {
      OneSignal.registerForPushNotifications();
});
    },
    
  },
    
  }
</script>