<template>
	<div id="app-users"  class="js-app">
		<div class="ui top stackable menu">
			<span class="item">	<b >Пользователи</b></span>
			<span class="item">
				<a href="#/users/add"><i class="plus green icon"></i>Добавить</a>

			</span>
	<!-- <div class="right menu">
				<span class="item">
			<a href="#users/vacations" class="ui blue basic ">Отпуска | Больничные</a>
		</span>
	</div> -->
		</div>

		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th></th>
					<!--<th>Доступны направления</th>-->
					<th>Уровень</th>
					<th>Логин</th>
					<!-- <th class="">Пароль</th> -->
				</tr>
			</thead>
			<tbody>
				<tr v-for="(user, index) in users" :key="index">
					<td><a class="my_title_name" :href="'#/user/'+index+'/edit'">{{user.name}} {{user.surname}}</a></td>
					<!--<td>{{user.deps}}</td>-->
					<td>{{user.user_level_name}}</td>
					<td>{{user.login}}</td>
					<!-- <td class="">{{user.password}}</td> -->
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>
	export default{
		name: 'Users',
		data: function() {
			return {
				users:{}
			};
		},
		created: function() {
			$.getJSON('users', (data) => this.users = data.users)
		},
	}
</script>
