<template>
<div id="app-users" class="js-app">

	<div class="ui top stackable menu">
		<span class="item">
				<b >{{user.name}} {{user.surname}}</b>
			</span>
		<span class="item">
				<a :href="'#/user/' + user_id + '/edit'" class="ui blue basic">Редактировать</a>
			</span>
	</div>

	<div class="ui segment my_form">
		<div class="ui form">
			<form id="useredit_form" type="post" action="">
				<div class="four fields">
					<div class="field">
						<label>Имя</label>
						<input name="name" disabled placeholder="Название" type="text" v-model="user.name">
					</div>
					<div class="field">
						<label>Отчество</label>
						<input name="middlename" disabled placeholder="Отчество" type="text" v-model="user.middlename">
					</div>
					<div class="field">
						<label>Фамилия</label>
						<input name="surname" disabled placeholder="Фамилия" type="text" v-model="user.surname">
					</div>

					<div class="field">
						<label>Телефон 1</label>
						<input name="phone1" disabled placeholder="Телефон 1" type="number" v-model="user.phone1">
					</div>
					<div class="field">
						<label>Телефон 2</label>
						<input name="phone2" disabled placeholder="Телефон 2" type="number" v-model="user.phone2">
					</div>

				</div>
				<div class="four fields">
					<div class="field">
						<label data-content="Менеджер видит события всех направлений, к которым есть доступ. Администратор может устанавливать роли" data-variation="very wide">Статус
								<!-- <i class="ui grey icon help" ></i> -->
							</label>

						<select disabled data-content="Менеджер видит события всех направлений, к которым есть доступ. Администратор может устанавливать роли" required name="user_level" v-model="user.user_level" class="ui search dropdown">
								<option value="1">Стажер</option>
								<option value="2">Пользователь</option>
								<option value="3">Менеджер</option>
								<option value="4">Администратор</option>
							</select>

					</div>


					<div class="field">
						<label>Логин</label>
						<input name="login" disabled placeholder="Логин" type="text" v-model="user.login">
					</div>
					<div class="field">
						<label>Пароль</label>
						<input name="password" disabled placeholder="Пароль" type="text" v-model="user.password">
					</div>

					<div class="field">
						<label>email</label>
						<input name="email" disabled placeholder="e-mail" type="email" v-model="user.email">
					</div>

				</div>
				<!--<div class="four fields">-->
					<!--<div class="field">-->
						<!--<label>Стоимость часа</label>-->
						<!--<div class="ui icon input">-->
							<!--<i class="lock icon"></i>-->
							<!--<input disabled name="hour_rate" placeholder="Стоимость часа" type="text" v-model="user.hour_rate">-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="field">-->
						<!--<label>Внешняя стоимость %</label>-->
						<!--<div class="ui icon input">-->
							<!--<i class="lock icon"></i>-->
							<!--<input disabled name="hour_rate_margin" placeholder="Внешняя стоимость %" type="text" v-model="user.hour_rate_margin">-->
						<!--</div>-->
					<!--</div>-->

			<!--</div>-->
		</form>
		</div>

	</div>
</div>
</template>
<script>
export default {
	props:['user_id'],
	name: 'User',
	data: function() {
		return {
			user: {},
		};
	},
	created: function() {
		$.getJSON('user/' + this.user_id, (data) => this.user = data.data);
	},
}
</script>
