<template>
	<div id="app-useradd" class="js-app">
		<!-- <div class="ui horizontal fitted divider"></div> -->
		<div class="ui top stackable menu">
			<span class="item">
				<b v-if="!this.$route.params.id">Новый пользователь</b>
				<b v-if="this.$route.params.id">Редактирование</b>
			</span>
		</div>

		<div class="ui segment my_form">
			<div class="ui form">
				<form id="useradd_form" type="post" action="" @submit.prevent="postItem">
					<div class="four fields">
						<div class="required field">
							<label>Имя</label>
							<input autofocus name="name" required placeholder="Имя" type="text" v-model="user.name">
						</div>
						<div class="field">
							<label>Отчество</label>
							<input name="middlename" placeholder="Отчество" type="text" v-model="user.middlename">
						</div>
						<div class="field">
							<label>Фамилия</label>
							<input name="surname" placeholder="Фамилия" type="text" v-model="user.surname">
						</div>

						<div class="field">
							<label>Телефон 1</label>
							<input name="phone1" placeholder="Телефон 1" type="text" v-model="user.phone1">
						</div>
						<div class="field">
							<label>Телефон 2</label>
							<input name="phone2" placeholder="Телефон 2" type="text" v-model="user.phone2">
						</div>

					</div>
					<div class="three fields">

						<div class="required field">
							<label>Доступ</label>
							<select required v-model="user.user_level" name="user_level" class="ui search dropdown">
								<option  value="1">Стажер</option>
								<option value="2">Пользователь</option>
								<option value="3">Менеджер</option>
								<option value="4">Администратор</option>

							</select>

						</div>


						<div class="required field">
							<label>Логин</label>

							<div class="ui icon input">
								<!-- <input type="text" name="username" placeholder="Username"> -->
								<input required name="login" placeholder="Логин" type="text" v-model="user.login">
								<i class="user icon"></i>
							</div>

						</div>
						<div class="required field">
							<label>Пароль</label>
							<div class="ui icon input">
								<i class="lock icon"></i>
								<input required name="password" placeholder="Пароль" type="text" v-model="user.password">
							</div>
						</div>

						<div class="field">
							<label>Email</label>
							<div class="ui icon input">
								<i class="mail icon"></i>
								<input name="email" placeholder="e-mail" type="text" v-model="user.email">
							</div>
						</div>
					</div>
					<!--<div class="three fields">-->
						<!--<div class="field">-->
							<!--<label>Стоимость часа, р</label>-->
							<!--<div class="ui icon input">-->
								<!--<i class="lock icon"></i>-->
								<!--<input name="hour_rate" placeholder="Стоимость часа" type="number" v-model="user.hour_rate">-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="field">-->
							<!--<label>Внешняя стоимость %</label>-->
							<!--<div class="ui icon input">-->
								<!--<i class="lock icon"></i>-->
								<!--<input name="hour_rate_margin" placeholder="Внешняя стоимость %" type="number" v-model="user.hour_rate_margin">-->
							<!--</div>-->
						<!--</div>-->

					<!--</div>-->
					<!-- <div class="field">
					<multiselect :items="deps" v-model="user.deps" index="dep_id" :item_view="{fields:['dep'],separator:' '}"></multiselect>
					</div> -->
					
					<!--<select v-model="user.dep_id" class="ui dropdown">-->
<!--<option v-for="dep in deps"-->
<!--v-bind:value="dep.dep_id">{{dep.dep}}</option>-->
<!--</select>-->


					<button v-if="!this.$route.params.id" type="submit" class="ui positive labeled icon button">Добавить<i class="write icon"></i></button>
					<button v-if="this.$route.params.id" type="submit" class="ui positive labeled icon button">Редактировать<i class="write icon"></i></button>

					<div v-if="user.user_id != 1 && this.$route.params.id"  class="my_float_right inline field">
						<div xxclass="ui toggle checkbox">
							<label><input v-model="user.hide" true-value="1"
										  false-value="0" name="delete" tabindex="0" class="hidden" type="checkbox">
							Удалить</label>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</template>
<script>
	export default{
		name: 'User_add',
		data: function() {
			return {
				user:{
					hour_rate_margin:0,
					hour_rate:0
				},
			};
		},
		computed:{
			deps(){
				return this.$store.state.deps
			},
		},
		created: function() {
			if (this.$route.params.id) $.getJSON('user/'+this.$route.params.id, (data) => this.user = data.data);
		},
		methods: {
			postItem: function () {
				var self = this;
				if (this.$route.params.id)
					$.post('user/'+this.$route.params.id+'/edit',this.user,(data) =>{
						data.success ? self.$router.push('/users') : alert(data.errinfo);
					} ,'json');
				else $.post('user/',this.user,(data) => {
					data.success ? self.$router.push('/users') : alert(data.errinfo);
				},'json')

			},
		}
	}
</script>
