<template>
	<div>
		<div class="ui top stackable menu">
			<span class="item">	<b >Отпуска, Больничные, Командировки</b></span>
			<span class="item">
				<a class="ui green basic  labeled icon " v-on:click="showAddModal()"><i class="plus icon"></i>Добавить</a>
			</span>
		</div>

		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th>Имя cотрудник</th>
					<th>Дата начала</th>
					<th>Дата окончания</th>
					<th>Комментарий</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(vacation, index) in vacations" :key="index">
					<td><a class="my_title_name" :href="'#user/'+ vacation.user_id">{{vacation.name}} {{vacation.surname}}</a></td>
					<td>{{vacation.b_date}}</td>
					<td>{{vacation.e_date}}</td>
					<td>{{vacation.comment}}</td>
				</tr>

			</tbody>
		</table>

		<div class="ui horizontal fitted divider"></div>

		<div id="vacation_addform_modal" class="ui modal">
			<i class="close icon"></i>
			<div class="header">
				Добавить 
			</div>
			<div class="content">
				<form id="vacation_addform" class="ui form" @submit.prevent="addItem">
					<div class="fields ">
						<div class="field eight wide">
							<label>Период</label>
							<calendar v-model="newitem.b_date" type="daterange" v-on:enddate="enddate"></calendar>
						</div>

						<div class="field eight wide">
							<label>Сотрудник</label>
							<multiselect :items="users" v-model="newitem.user_id" multiple="false" index="user_id" :item_view="{fields:['name','surname'],separator:' '}" label="Сотрудник"></multiselect>
						</div>
					</div>

					<textarea rows=3 class="field" placeholder="Комментарий" name="comment" type="text" v-model="newitem.comment"></textarea>

					<div class="ui horizontal fitted divider"></div>
					<div class="project_info">
						<p v-for="(project, index) in project_info">
							Сотрудник закреплен за выполнением задания: "{{project.title}}" в период с {{project.date_start}} по {{project.deadline}}. 
						</p>
					</div>
					<div class="ui horizontal fitted divider"></div>
					<button class="ui green button" type="submit">Добавить</button>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'Vacations',
		data: function() {
			return {
				vacations:{},
				newitem:{
					user_id : '',
					comment : '',
				},
				users: {},
				project_info:{},
				
			};
		},

		created: function() {
			$.getJSON('users', (data) => {
				this.users = data.users
				$.getJSON('vacation', (data) => this.vacations = data.data);
			});
			
		},
		methods: {
			showAddModal: function(stage_id = 0) {
				var self = this;
				$('#vacation_addform_modal').modal({autofocus:false}).modal('show');
			},
			addItem: function () {
				var self = this;
				if (this.newitem.b_date && this.newitem.e_date && this.newitem.user_id && this.newitem.comment){
					$.post('vacation',this.newitem,(data) => {
						self.$set(self.vacations,data.insert_id,data.data);
					},'json');
					$('#vacation_addform_modal').modal('hide');
				}
			},
			checkProjects: function() {
				if (this.newitem.b_date && this.newitem.e_date && this.newitem.user_id){
					var data = {'level':1,'project_id':-1,'parent_id':-1,'user_id':this.newitem.user_id,'e_date':this.newitem.e_date,'b_date':this.newitem.b_date}
					$.getJSON('project_todo', data, (data) => this.project_info = data.data);
				} else {
					this.project_info = {}
				}
			},
			enddate:function(value) {
				this.newitem.e_date = value
			}

		}
	}
</script>