<script id="handlebars-topnav" type="text/x-handlebars-template">


    <div class="ui horizontal fitted divider"></div>


    <div id="menu" class="ui stackable menu">

        <div class="ui item search">
            <div class="ui left icon input">
                <input class="prompt" autofocus placeholder="Поиск..." type="text">
                <i class="search link icon"></i>
            </div>
        </div>


        <a href="/#/todos" class="item"><i class="block checked calendar icon"></i>Задачи</a>
        <a href="/#/orgs" class="item" id="menu-firms"><i class="list layout icon"></i>Организации</a>
        <a href="/#/projects" class="item"><i class="block sitemap icon"></i>Проекты</a>



        <!-- <a id="menu-firms" href="#firms/all" class=" item">
            <i class="list layout blue icon"></i>Организации</a> -->

        <!-- <a id="menu-activity" href="#activity" class="item">
            <i class="call blue icon"></i>Мои события
        </a> -->

        {{#if admin}}
        <!-- <a id="menu-calendar" href="#calendar" class="item">
            <i class="calendar blue icon"></i>Отчеты</a> -->
      {{/if}} {{#if admin}}

        <div class="ui pointing dropdown link right item">
            <span class="text"><i class="setting grey icon"></i>Администратор</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <!-- <a href="#tasks" class="item"><i class="block wizard blue icon"></i>Задачи</a> -->
                <a href="#users" class="item"><i class="user blue icon"></i>Пользователи</a>

                <a href="#deps" class="item"><i class="block layout blue icon"></i>Направления</a>
                <!-- <a href="/app2#/projects" class="item"><i class="block layout blue icon"></i>Проекты</a> -->


  <a id="menu-director" href="#director" class="item"><i class="calendar blue icon"></i>Продуктивность</a>

            </div>
        </div>


        {{/if}}
        <!-- data-tooltip="Выход из системы"  data-position="left center" -->
        <a id="menu-logout" href="logout" class="right item">
            <i class="sign out icon"></i>{{login}}</a>

    </div>


</script>
