<template>
    <div>
        <h2>Статистика общения</h2>
<!--<pre>-->
        <!--{{user}}-->
    <!--<hr>-->
        <!--{{table}}-->
<!--</pre>-->
        <!--<pre>{{params}}</pre>-->
        <el-date-picker
                ref="datepicker"
                v-model="params.range"
                @change="picker_change"

                type="daterange"
                range-separator="-"
                align="right"
                placeholder="Период, даты"

                :picker-options="pickerOptions">
        </el-date-picker>
        <div class="ui green button" @click="getAjax">Показать</div>

        <table class="ui selectable celled fixed sortable table">
            <thead>
            <tr>
                <!--<span class="my_popup" data-content='со статусом "входящая заявка", "ознакомление с КП", "выставлен счет", "прочее"'>Переговоры</span>-->
                <th>Менеджер</th>
                <th @click="th_sort('total')"
                    :class="{sorted: params.sort_field=='total',ascending: params.sort_dir=='ASC',descending: params.sort_dir=='DESC'}">Всего
                </th>
                <th @click="th_sort('cold')"
                    :class="{sorted: params.sort_field=='cold',ascending: params.sort_dir=='ASC',descending: params.sort_dir=='DESC'}">
                    Переговоры <i class="ui call grey icon"></i></th>
                <th @click="th_sort('refuse')"
                    :class="{sorted: params.sort_field=='refuse',ascending: params.sort_dir=='ASC',descending: params.sort_dir=='DESC'}">
                    Отказ <i class="ui frown grey icon"></i></th>
                <th @click="th_sort('deal')"
                    :class="{sorted: params.sort_field=='deal',ascending: params.sort_dir=='ASC',descending: params.sort_dir=='DESC'}">
                    Продажи <i class="ui ruble grey icon"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in table">
                <td><span class="user_row" :class="{user_selected : (row.id==params.selected_user_id)}"
                          @click="toggle_user(row.id)">{{row.surname}} {{row.name}}</span></td>
                <td>{{row.total}}</td>
                <td>{{row.cold}}</td>
                <td>{{row.refuse}}</td>
                <td>{{row.deal}}</td>

            </tr>
            </tbody>
            <!--<tfoot>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th>Сколько записей общения всего</th>-->
                <!--<th>со статусом "входящая заявка", "ознакомление с КП", "выставлен счет", "прочее"</th>-->
                <!--<th>со статусом "отказ, нет потребности", "не дозвонился"</th>-->
                <!--<th>со статусом "продажа, отгрузка"</th>-->

            <!--</tr>-->
            <!--</tfoot>-->
        </table>


        <div v-if="params.selected_user_id>0">
            <!--<h3 v-if="params.selected_user_id>0">{{$store.state.users[params.selected_user_id].name}} {{$store.state.users[params.selected_user_id].surname}}</h3>-->

          <div class="filter">
            <label class="filter_label"><input type="radio" class="filter_radio"  value="total" name="filter" v-model="params.filter">Все общение</label>
            <!--<label class="filter_label"><input type="radio" class="filter_radio" value="cold" name="filter" v-model="params.filter">Переговоры</label>-->
            <label class="filter_label"><input type="radio" class="filter_radio" value="deal" name="filter" v-model="params.filter">Только продажи</label>
            <label class="filter_label"><input type="radio" class="filter_radio" value="refuse" name="filter" v-model="params.filter">Только отказы</label>
</div>

            <table class="ui celled very compact selectable table">
                <thead>
                <th class="collapsing">Дата</th>
                <th class="collapsing">План</th>
                <th>Клиент и текст</th>
                <th class="collapsing">Статус</th>

                  </thead>
                <tbody>
                <tr  v-for="action in user" v-if="filter_row(action.action_type_id)" class="ui segment">
                    <td class="collapsing">{{action.datetime1 | moment('from') }} <br><span class="my_label">{{action.datetime1 | moment('DD-MM-YY') }}</span></td>
                    <td class="collapsing">{{action.future}}
                        <!--<br><span class="my_label">{{action.datetime1 | moment('DD-MM-YY') }}</span>-->
                    </td>
                    <td><a :href="'#/firm/'+action.org_id">{{action.name_short}}</a> <br>
                        {{action.txt}}</td>
                   <td class="collapsing" :class="'action_type_id'+action.action_type_id">{{$store.state.action_types[action.action_type_id]}}</td>
      </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Stats",
        mounted() {
             // console.log(this.$route.query)
            // this.params = this.$route.query;
            if(this.$route.query.selected_user_id){

                this.params.date1 = this.$route.query.date1;
                this.params.date2 = this.$route.query.date2;
                this.params.filter = this.$route.query.filter;
                this.params.range = [this.$route.query.date1,this.$route.query.date2];
                this.params.selected_user_id = this.$route.query.selected_user_id;
                this.params.sort_dir = this.$route.query.sort_dir;
                this.params.sort_field = this.$route.query.sort_field;
                this.getUser(this.params.selected_user_id);

            } else {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                this.params.range =[start, end];
            }

            this.getAjax();
                },
        watch: {
            'params.selected_user_id' (newParam) {
                this.router_push()
            },
            'params.date1' (newParam) {
                this.router_push()
            },
            'params.filter' (newParam) {
                this.router_push()
            },
        },
        methods: {
            router_push(){
                this.$router.push({
                    path: 'stats',
                    query: this.params
                });
            },
            getAjax() {
                var url_between = '';
                var url_sort = "&orderby_field=" + this.params.sort_field + "&orderby_dir=" + this.params.sort_dir;

                if (this.params.range) {
                    this.params.date1 = moment(this.params.range[0]).format('YYYY-MM-DD');

                    // this.params.date2 = moment(this.params.range[1]).format('YYYY-MM-DD'); // было
                    this.params.date2 = moment(this.params.range[1]).add(1, 'days').format('YYYY-MM-DD');
                    // workaround - если выбрать одини тот же день в календарике (типа хочу только сегодня посмотреть),
                    // то некоторые записи не попадали даже для <= & >= т.к. я передаю только дату без времени

                    url_between = "&d1=" + this.params.date1 + "&d2=" + this.params.date2;
                }

                $.getJSON('stats?' + url_sort + url_between, (data) => this.table = data.stats );
            },
            picker_change(){
                this.getAjax();
            },
            getUser(user_id) {
                    var url_param = "?user_id=" + user_id + "&date1=" + this.params.date1 + "&date2=" + this.params.date2;
                     $.getJSON('stats/user' + url_param, (data) => this.user = data.user );

            },
            filter_row(action_type_id){
                if (this.params.filter=='total') return true;
                else if (this.params.filter=='cold' && (action_type_id==1 || action_type_id==2 || action_type_id==3 || action_type_id==4) ) return true;
                else if (this.params.filter=='refuse' && (action_type_id==6 || action_type_id==7)) return true;
                else if (this.params.filter=='deal' && action_type_id==5) return true;
                else return false;
            },
            toggle_user(user_id) {
                if (this.params.selected_user_id == user_id) {
                    this.params.selected_user_id = 0;
                }
                else {
                    this.params.selected_user_id = user_id;
                    this.getUser(user_id);
                }
            },


            th_sort(field) {

// первый или клик на другой колонке (а не повторный на той же)
                if (this.params.sort_field != field)
                    this.params.sort_dir = 'ASC';
                this.params.sort_field = field;

                if (this.params.sort_dir == 'DESC') {
                    this.params.sort_dir = 'ASC';
                } else {
                    this.params.sort_dir = 'DESC';
                }

                this.getAjax();

            },

        },
        data() {
            return {
                params:{
                    filter:'total',
                    date1: 0,
                    date2: 0,
                    selected_user_id: 0,
                    sort_field: 'total',
                    sort_dir: 'DESC',
                    range: [],
                },
                user: {},
                table: {},
                pickerOptions: {
       firstDayOfWeek:1,
                    shortcuts: [{
                        text: 'Неделя',
                      onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Месяц',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '2 месяца',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 60);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '3 месяца',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '6 месяцев',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 180);
                            picker.$emit('pick', [start, end]);
                        }
                    }
                        , {
                            text: '12 месяцев',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 360);
                                picker.$emit('pick', [start, end]);
                            }
                        }
                    ]
                }

            }
        }
    }
</script>

<style scoped>
    .filter_radio{
     vertical-align: middle;
        margin-right: 3px;
    }
    .filter_label{
        margin-right: 1em;
    }
    .filter{
        vertical-align: baseline;
    }
    /*отказ / нет потребности*/
    .action_type_id6{
        background-color: #ffe5e5;
    }
    /* 	продажа / отгрузка  */
    .action_type_id5{
        background-color: #eeffec;
    }

    .user_selected {
        font-weight: bold;
        font-size: 140%;
        /*border:none!important;*/
    }

    .user_row {
        border-bottom: 1px dashed #005fab;
        cursor: pointer;
    }
</style>