<script id="handlebars-actionedit" type="text/x-handlebars-template">
    <div id="app-actionedit" class="js-app">


        <div class="ui segment my_form">
            <h5>{{name_short}}, {{datetime1}}</h5>
            <form id="action_editform" class="ui form" method="POST">
                <div class="inline fields">

                    <div class="field">
                        <div class="ui radio checkbox">
                            <input class="hidden" name="action_type_id" value="1" checked="" type="radio" {{#xif " action_type_id == 1 "}}checked{{/xif}}>
                            <label>Звонок</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui radio checkbox">
                            <input class="hidden" name="action_type_id" value="2" type="radio" {{#xif " action_type_id == 2 "}}checked{{/xif}}>
                            <label>E-mail</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input class="hidden" name="action_type_id" value="3" type="radio" {{#xif " action_type_id == 3 "}}checked{{/xif}}>
                            <label>Встреча</label>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <textarea name="txt" rows="10" placeholder="Опишите действие" required>{{txt}}</textarea>
                </div>
                <!-- <input type="date" placeholder="След. контакт"> -->
                <div class="three fields">

                    <div class="field"><input name="contact_person" type="text" value="{{contact_person}}" placeholder="Менеджер клиента, имя"></div>

                    <div class="ui calendar field" id="">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="future" type="text" placeholder="След. контакт" value="{{future}}">

                        </div>
                    </div>
                    <div class="field">
                        <div id="task_id" class="ui selection dropdown">
                            <input type="hidden" name="task_id">
                            <i class="dropdown icon"></i>
                            <div class="default text">Задача</div>
                            <div class="menu">
                                {{#each tasks.tasks}}

                                <div class="item" data-value="{{task_id}}">{{label}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>


                <button class="ui green labeled icon button" type="submit"><i class="edit icon"></i>Редактировать</button>

                <div class="my_float_right inline field">
                    <div class="ui toggle checkbox">
                        <input name="delete" tabindex="0" class="hidden" type="checkbox">
                        <label>Удалить</label>
                    </div>
                </div>

            </form>
        </div>


    </div>
</script>
