<template>
	<div>
		<div class="ui top stackable menu">	<span class="item"><b>Звонки</b></span>			</div>

		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th>Время</th>
					<th>Направление</th>
					<th>Кто</th>
					<th>Кому</th>
					<th>Время, с</th>
					<th>Текст</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="call in calls">
					<td>{{ call.calldate }} <br><small>{{call.calldate | moment('from') }}</small></td>
					<td><a :href="call.path"><i class="volume up icon"></i> {{dest(call.dcontext)}}</a></td>
					<td>{{call.src}}</td>
					<td>{{call.dst}}</td>
					<td>{{call.billsec}}</td>
					<td class='my_single_line_td translation' @click="td_expand_click($event)">{{call.translation}}</td>

				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>
	export default{
		name: 'Calls',
		data: function() {
			return {
				calls:{}
			};
		},
		created: function() {
			$.getJSON('Asterisk', (data) => this.calls = data.calls)
		},
		methods: {
			dest: function (label) {
				if (label=='ext-local') return 'Входящий';
				else if (label=='from-internal') return 'Исходящий';

			},
			td_expand_click(event) {
				// console.log(event);
							$(event.target).toggleClass('my_single_line_td');
                // $(event.path[0]).toggleClass('my_single_line_td');
			},
		}
	}
</script>

<style lang="css" scoped>
/*.my_single_line_td{
	white-space: nowrap;
	overflow: hidden;
	 text-overflow:ellipsis;

}*/
.translation{
	max-width: 40em;
	cursor: pointer;
}

</style>
