<script id="handlebars-projectadd" type="text/x-handlebars-template">

    <div id="app-projectadd" class="js-app">

        <div class="ui segment my_form">
          <h3>Новый проект</h3> 
            <div class="ui form">
                <form id="projectadd_form" type="post" action="">
                  <div class="ui field">
                      <input autofocus name="title" placeholder="Название проекта" type="text">
                  </div>
                  <div class="ui field">
                      <input name="info" placeholder="Описание" type="text">
                  </div>
                    <button type="submit" class="ui positive labeled icon button">
                    Добавить
                    <i class="plus icon"></i>
                </button>
                </form>
            </div>
        </div>

    </div>

</script>
