.my_grabbing, .my_grabbing2{
  cursor: move;
cursor: -webkit-grabbing;
}
.my_grabbing.my_grabbing:hover, .my_grabbing2.my_grabbing2:hover{
  color:green!important; /* удвоение классна намерянно, для увеличения веса и перезаписи стиля семантика */
}
.my_stage_title{
  color: #67b476;
}

.sortable-ghost {
	opacity: .2;
}

.sortable-chosen {
/*background-color: #ccc!important;*/
border: 1px solid rgb(199, 177, 228)!important;
}
