<script id="handlebars-projectitem" type="text/x-handlebars-template">

    <div id="app-projectitem" class="js-app">
        <h1>{{project_title}}</h1> {{project_info}} <br><br>
        <a class="ui green basic labeled icon button" href="#projects/{{project_id}}/addstage"><i class="plus icon"></i>Добавить этап</a>
        <div class="ui horizontal my_divider divider"></div>
        {{#each stages}}
        <div class="ui segment">
            <h3><i class="ui hand paper grey icon my_grabbing"></i> <a href=""  class="my_stage_title">{{stage_title}}</a> <span class="my_header_label">{{stage_deadline}}</span></h3> {{stage_info}}

            <div id="todos{{stage_id}}" class="ui segments">
                {{#each todos}}
                <div class="ui segment">
                    <i class="my_grabbing2 content grey icon"></i>
                    <a href=""><b>{{todo_title}}</b></a>. {{todo_info}} <span class="my_label">{{todo_deadline}}</span>
                </div>
                {{/each}}
                <div class="ui segment">Добавить</div>
            </div>

        </div>
        <div class="ui horizontal divider"></div>
        {{/each}}

    </div>

    </div>

</script>
