<script id="handlebars-projects" type="text/x-handlebars-template">

    <div id="app-projects" class="js-app">
        <h3>Проекты</h3>

        <a class="ui green basic labeled icon button" href="#project/add"><i class="plus icon"></i>Добавить проект</a>

        <table class="ui  celled table">
            <tbody>
  {{#each projects}}
                <tr>
                    <td>{{#if hide}}<span class="my_label_notice">Закрыто</span>{{/if}} <a class="my_title_name" href="#projects/{{@index}}">{{title}}</a>

                       <span class="my_label_attention">{{deadline}}</span>

                        <span class="my_grey">{{action_count}} событий</span> <br />
<div class="ui horizontal my_divider divider"></div>
                      <span class="my_label my_grey">{{created}}</span> {{info}}
                    </td>
                </tr>
  {{/each}}
            </tbody>
        </table>
 
    </div>

</script>
