<template>
    <div id="app-firms" class="js-app">
                <div class="ui top attached small stackable pointing menu">
            <a href="#/orgs" class="grey item"><i class="ui grey search icon"></i>Поиск</a>
            <a href="#/firms/next" class="grey item"><i class="ui grey idea icon"></i>Сегодня</a>
           <a href="#/firms/fav" class="grey active item"><i class="ui grey outline star icon"></i>Избранное</a>
            <a href="#/orgs/add" class="right item"><i class="add green icon"></i>Добавить организацию</a>
        </div>

<table class="ui table">
  <tr>
      <th style="width:5%"></th>
    <th style="width:60%">Клиент</th>
    <th style="width:15%">Последний контакт</th>
    <!--<th style="width:20%">Контакт по плану</th>-->
  </tr>
  <tr v-for="firm in firms">
      <td>  <i class="my_favlink link star large icon " :class="{'yellow': firm.is_in_fav, 'outline grey': !firm.is_in_fav}" v-on:click="fav(firm)"></i>
      </td>
  <td>

      <div class="my_title">
      <a class="my_title_name" :href="'#/firm/'+firm.org_id">{{firm.name_short}}</a>
      </div>
      {{firm.phone1}} {{firm.phone2}} {{firm.phone3}}
      <a class="my_grey2" :href="'mailto:'+firm.email">{{firm.email}}</a><br>
</td>
  <td>    <span class="my_grey">{{firm.action_last | moment("D MMM YYYY") }}:</span> <span class="ui basic tiny label">{{firm.action_last | moment("from")}}</span> {{firm.txt}}</td>
  <!--<td>{{firm.future | moment("D MMM YYYY") }} <span class="ui basic tiny label">{{firm.future | moment("from")}}</span></td>-->
  </tr>
</table>
 </div>


    </div>
</template>
<script>
	export default{
	name: 'Favorites',
	data: function() {
		return {
			firms:[],
			pagination:{},
		};
	},
	created: function() {

		this.get();
	},
	methods: {
		get: function(){

            var data = {};
			$.getJSON('firms?sort=fav',data,(data) => {
   			 this.firms = data.firms;

				this.pagination = {};
				this.pagination.title = data.list_title;
				this.pagination.info = data.list_info;
				this.pagination.perpage = data.perpage;
				this.pagination.prev = data.pre_perpage;
				this.pagination.next = data.next_perpage;
				this.pagination.sort = data.sortby;
			});
		},
        fav: function(org) {

            var url = 'firm/' + org.org_id;
            url += org.is_in_fav ? '/unfav' : '/fav'
            this.$http.get(url).then(data => {
                if (data.body.message)
                    org.is_in_fav = !org.is_in_fav;
            });
        },


	}
}
</script>
