<template>
    <div id="app-firmedit" class="js-app">

        <!--<div class="ui top stackable menu">-->
        <span class="item">
				<b v-if="!this.$route.params.id">Новая фирма</b>
				<b v-if="this.$route.params.id">Редактирование</b>
			</span>
        <!--</div>-->
        <div class="ui segment my_form">
            <h3 v-if="this.$route.params.id">{{firm.firm_info.name_short}}
                <i class="my_favlink link icon star"
                   :class="{'yellow': firm.firm_info.is_in_fav, 'outline grey': !firm.firm_info.is_in_fav}"
                   v-on:click="fav(firm.firm_info.org_id)"></i>
            </h3>
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <div class="ui radio checkbox" v-for="status in org_statuses">
                            <input :id="status.org_status" :value="status.status_id" v-model="firm.firm_info.status_id"
                                   type="radio">
                            <label :for="status.org_status">{{status.org_status}}</label>
                        </div>
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        <label>Название</label>
                        <input name="name_short" requied placeholder="Название" type="text"
                               v-model="firm.firm_info.name_short">
                    </div>
                    <div class="field">
                        <label>email</label>
                        <input name="email" placeholder="email" type="text" v-model="firm.firm_info.email">
                    </div>
                    <div class="field">
                        <label>Сайт</label>
                        <input name="site" placeholder="Сайт" type="text" v-model="firm.firm_info.site">
                    </div>
                </div>

                <div v-if="this.$route.params.id">
                    <div class="fields">
                        <div class="four wide field">
                            <label>Контакты</label>
                        </div>
                    </div>
                    <div class="fields"
                         v-if="firm.firm_info.phone1 || firm.firm_info.person1 || firm.firm_info.person1title">
                        <div class="four wide field">
                            <input name="phone1" type="text" v-model="firm.firm_info.phone1">
                        </div>
                        <div class="six wide field">
                            <input name="person1" type="text" v-model="firm.firm_info.person1">
                        </div>
                        <div class="six wide field">
                            <input name="person1title" type="text" v-model="firm.firm_info.person1title">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="four wide field">
                            <label>Имя</label>
                        </div>
                        <div class="three wide field">
                            <label>Телефон</label>
                        </div>
                        <div class="three wide field">
                            <label>Почта</label>
                        </div>
                        <div class="four wide field">
                            <label>Примечание</label>
                        </div>
                    </div>
                    <div class="fields" v-for="contact in firm.contacts">
                        <div class="four wide field">
                            <input name="person1" placeholder="Менеджер" v-on:blur="editContact(contact.org_contact_id)"
                                   type="text" v-model="contact.person">
                        </div>
                        <div class="three wide field">
                            <input name="phone1" placeholder="Телефон" v-on:blur="editContact(contact.org_contact_id)"
                                   type="text" v-model="contact.phone">
                        </div>
                        <div class="three wide field">
                            <input name="person1" placeholder="Почта" v-on:blur="editContact(contact.org_contact_id)"
                                   type="text" v-model="contact.email">
                        </div>
                        <div class="four wide field">
                            <input name="person1title" placeholder="Например: должность"
                                   v-on:blur="editContact(contact.org_contact_id)" type="text"
                                   v-model="contact.comment">
                        </div>
                        <div class="one wide field">
                            <div class="ui icon tiny button" @click="deleteContact(contact)"><i
                                    class="delete grey icon"></i></div>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="four wide field">
                            <input name="person" placeholder="Менеджер" type="text" v-model="new_contact.person">
                        </div>
                        <div class="three wide field">
                            <input name="phone" placeholder="Телефон" type="text" v-model="new_contact.phone">
                        </div>
                        <div class="three wide field">
                            <input name="email" placeholder="Почта" type="text" v-model="new_contact.email">
                        </div>
                        <!--<div class="four wide field">-->
                            <!--<input name="person1title" placeholder="Например: должность" type="text"-->
                                   <!--v-model="new_contact.comment">-->
                        <!--</div>-->
                        <div class="one wide field">
                            <div class="ui icon tiny button" v-on:click.prevent="addContact()"><i
                                    class="plus grey icon"></i></div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <!--                         <div class="three wide field">
                                                <label>Страна</label>
                                                <select id="country_id" required name="country_id" class="ui search dropdown">
                                                <option value="1285" selected>Россия</option>
                                                <option value="1317">Украина</option>
                                                <option value="1302">Беларусь</option>
                                                <option value="1290">Казахстан</option>

                                            </select>
                                        </div> -->

                    <div class="three wide field">
                        <label>Индекс</label>
                        <input placeholder="Индекс" type="text" v-model="firm.firm_info.postalcode">
                    </div>
                    <div class="three wide field">
                        <label>Город</label>
                        <el-autocomplete
                                v-model="firm.firm_info.city"
                                :fetch-suggestions="querySearch_city"
                                placeholder="Город"
                                :trigger-on-focus="false"
                                @select="handleSelect_city"
                        ></el-autocomplete>
                    </div>
                    <div class="three wide field">
                        <label>Улица</label>
                        <el-autocomplete
                                v-model="firm.firm_info.street"
                                :fetch-suggestions="querySearch_street"
                                placeholder="Улица"
                                :trigger-on-focus="false"
                                @select="handleSelect_street"
                        ></el-autocomplete>
                    </div>

                    <div class="six wide field">
                        <label>Адрес (прочее)</label>
                        <input placeholder="Дом,корпус,офис" type="text" @keyup="handleChange_House"
                               v-model="firm.firm_info.address_fact">
                    </div>
                </div>

                <div class="fields">

                    <div class="three wide field">
                        <label>ИНН</label>
                        <input placeholder="ИНН" type="text" v-model="firm.firm_info.inn">
                    </div>

                    <div class="three wide field">
                        <label>КПП</label>
                        <input placeholder="КПП" type="text" v-model="firm.firm_info.kpp">
                    </div>


                    <div class="three wide field">
                        <label>ОГРН</label>
                        <input placeholder="ОГРН" type="text" v-model="firm.firm_info.ogrn">
                    </div>


                </div>


                <div class="fields">

                    <div class="ten wide field">
                        <label>Направления и теги</label>
                        <el-select v-model="firm.firm_info.dep_ids" multiple placeholder="Направления и теги" style="width:100%">
                            <el-option
                                    v-for="dep in $store.state.deps"
                                    :key="dep.dep_id"
                                    :label="dep.dep"
                                    :value="dep.dep_id">
                            </el-option>
                        </el-select>
                        <!--установил мульти-селект из element-ui т.к. селект семантика не срабатывал по апдейту. самописнаый компонент семантик-селект -->
                        <!--вообще вешал браузер. к тому же element-ui  позволяет создавать свои теги -->
                        <!--updated() {-->
                        <!--$('#dropdown_deps').dropdown();-->
                        <!--},-->

                        <!--{{firm.firm_info.dep_ids}}-->
                        <!--<label>Направление</label>-->
                                 <!--<select v-model="firm.firm_info.dep_ids" id="dropdown_deps" name="deps"-->
                                <!--multiple="" class="ui fluid dropdown">-->
                            <!--<option v-for="dep in deps" v-bind:value="dep.dep_id">{{dep.dep}}</option>-->
                        <!--</select>-->
                    </div>






                </div>


                <div class="field">
                    <label>Примечание</label>
                    <textarea name="info" v-model="firm.firm_info.info" rows="2"></textarea>
                </div>

                <button v-if="!$route.params.id" v-on:click.prevent="edit()" class="ui positive labeled icon button">
                    Добавить
                    <i class="plus icon"></i>
                </button>
                <button v-if="$route.params.id" v-on:click.prevent="edit()" class="ui positive labeled icon button">
                    Сохранить
                    <i class="write icon"></i>
                </button>


                <div v-if="$route.params.id" class="my_float_right fields">

                    <select v-model="firm.firm_info.user_id">
                        <option v-for="user in $store.state.users" v-bind:value="user.user_id">
                            {{user.name}} {{user.surname}}
                        </option>
                    </select>

                    <div xclass="ui toggle checkbox">
                        <label><input v-model="firm.firm_info.hide" type="checkbox">Удалить</label>
                    </div>

                </div>
            </div>


        </div>
    </div>

</template>
<script>
    export default {
        name: 'Firm_edit',
        data: function () {
            return {
                options: [{
                    value: 'Option1',
                    label: 'Option1'
                }, {
                    value: 'Option2',
                    label: 'Option2'
                }, {
                    value: 'Option3',
                    label: 'Option3'
                }, {
                    value: 'Option4',
                    label: 'Option4'
                }, {
                    value: 'Option5',
                    label: 'Option5'
                }],
                select1:'',

                firm: {
                    // user_id:0,
                    firm_info: {
                        name_short: '',
                        dep_ids: [],
                        status_id: 1,
                        street: '',
                        city: '',
                        address_fact: '',
                        postalcode: '',
                        inn: '',
                        kpp: '',
                        ogrn: '',
                    },
                },
                new_contact: {
                    person: '',
                    phone: '',
                    email: '',
                    comment: '',
                },
                contacts: [],
                fias: {
                    aoguid: null,
                    house_int: [],
                },
            };
        },
        computed: {
            id() {
                return this.$route.params.id ? this.$route.params.id : 0
            },
            // deps() {
            //     return this.$store.state.deps
            // },
            org_statuses() {
                return this.$store.state.org_statuses
            }
        },
        created: function () {
            var self = this
            if (this.id) $.getJSON('firm/' + this.id, (data) => {
                self.firm = data
                if (self.firm.firm_info.city_guid != self.firm.firm_info.fias_aoguid)
                    $.getJSON('fias?street_uid=' + self.firm.firm_info.fias_aoguid, (data) => {
                        self.fias.house_int = data.data
                    })
      })

        },

        methods: {
              querySearch_city(queryString, cb) {
                var self = this
                //this.firm.firm_info.city_guid = null
                if (self.city_search_pending) return
                if (!queryString || queryString.length < 3) {
                    cb([])
                    return
                }
                self.city_search_pending = true;
                $.getJSON('fias?city=' + queryString, (data) => {
                    if (!data.success) {
                        cb([])
                        return
                    }
                    var sug = Object.keys(data.data).map(key => data.data[key])
                    for (var i = 0; i < sug.length; i++) {
                        sug[i].value = sug[i].shortname + ' ' + sug[i].offname
                    }
                    cb(sug);
                    self.city_search_pending = false;
                })

            },
            querySearch_street(queryString, cb) {
                var self = this
                if (self.street_search_pending) return
                if (queryString.length < 3 || !self.firm.firm_info.city_guid) {
                    cb([])
                    return
                }
                self.street_search_pending = true;
                $.getJSON('fias?city=' + self.firm.firm_info.city_guid + '&street=' + queryString, (data) => {
                    var sug = Object.keys(data.data).map(key => data.data[key])
                    for (var i = 0; i < sug.length; i++) {
                        sug[i].value = sug[i].shortname + ' ' + sug[i].offname
                    }
                    cb(sug);
                    self.street_search_pending = false;
                })
            },
            handleSelect_city(item) {
                this.firm.firm_info.city_guid = item.aoguid
                this.firm.firm_info.aoguid = item.aoguid
                this.firm.firm_info.postalcode = item.postalcode
                this.firm.firm_info.street = ''
            },
            handleSelect_street(item) {
                var self = this
                self.fias.house_int = []
                this.fias.aoguid = item.aoguid
                self.firm.firm_info.aoguid = item.aoguid
                if (item.postalcode && item.postalcode.length) self.firm.firm_info.postalcode = item.postalcode
                $.getJSON('fias?street_uid=' + item.aoguid, (data) => {
                    self.fias.house_int = data.data
                })
            },
            handleChange_House() {
                var hn = parseInt(this.firm.firm_info.address_fact)
                if (Number.isInteger(hn))
                    for (var i = 0; i < this.fias.house_int.length; i++) {
                        var fias_int = this.fias.house_int[i]

                        if (fias_int.intstart <= hn && fias_int.intend >= hn && (((hn % 2) + 2) == fias_int.intstatus || (fias_int.intstatus == 1))) {
                            console.log(fias_int.intstart, fias_int.intend, fias_int.intstatus, fias_int.postalcode, hn)
                            this.firm.firm_info.postalcode = fias_int.postalcode
                            return
                        }
                    }
            },
            fav: function () {
                var url = 'firm/' + this.firm.firm_info.org_id
                url += this.firm.firm_info.is_in_fav ? '/unfav' : '/fav'
                $.getJSON(url, (data) => {
                    if (data.message)
                        this.firm.firm_info.is_in_fav = !this.firm.firm_info.is_in_fav
                })
            },
            edit: function () {
                if (!(this.firm.firm_info.name_short)) return
                var self = this
                if (this.id) {
                    $.getJSON('/firm/' + this.id + '/edit', this.firm.firm_info, (data) => {
                            if (data.success) {
                                self.$router.push('/firm/' + this.id)
                                if (self.new_contact.person || self.new_contact.phone || self.new_contact.email) self.addContact()
                            } else alert(data.errinfo);
                        }
                    )
                } else {
                    $.post('/firm', this.firm.firm_info, (data) => {
                        data.success ? self.$router.push('/firm/' + data.insert_id + '/edit') : alert(data.errinfo);
                    }, 'json')
                }
            },
            addContact() {
                var self = this
                if (!(this.new_contact.phone || this.new_contact.email)) return
                $.getJSON('/firm/' + this.id + '/addcontact', this.new_contact, (data) => {
                    self.firm.contacts.push(data.data)
                    self.new_contact = {
                        person: '',
                        phone: '',
                        email: '',
                        comment: '',
                    }
                })
            },
            editContact(id, val) {
                var self = this
                var data = null
                var index = null
                for (var i = this.firm.contacts.length - 1; i >= 0; i--) {
                    if (this.firm.contacts[i].org_contact_id == id)
                        data = this.firm.contacts[i]
                    index = i
                }
                if (data) $.getJSON('/firm/' + this.id + '/editcontact/' + id, data, (data) => {
                    self.firm.contacts[i] = data.data

                })
            },
            deleteContact(contact) {
                var id = contact.org_contact_id
                $.getJSON('/firm/' + this.id + '/deletecontact/' + id, (data) => {

                    if (confirm('Действительно удалить ' + contact.person + ' ' + contact.comment + '?')) {
                        if (data.success) {
                            var index = null
                            for (var i = this.firm.contacts.length - 1; i >= 0; i--) {
                                if (this.firm.contacts[i].org_contact_id == id)
                                    index = i
                            }

                            if (index != null) this.firm.contacts.splice(index, 1)
                            console.log('Удален ' + id + index)
                        }
                    }

                    else console.log('Ошибка при удалении ' + id)
                })
            },

        },
    }
</script>
