<template>
    <div id="app-firms" class="js-app">
        <!-- <div id="firms-submenu" class="ui top attached small stackable pointing menu">
          <span class="item">
        <b>Организации</b>
        </span> -->
            <!-- <router-link to="/firms/all" v-on:click="get('all')" class="grey item">Все</router-link>
          	<router-link to="/firms/mine" v-on:click="get('mine')" class="grey item">Мои</router-link>
            <router-link to="/firms/fav"  v-on:click="get('fav')" class="grey item">Избранные</router-link>
 -->
            <!-- <a href="#firms/all" v-on:click="get('all')" class="grey item">Все</a>
            <a href="#firms/mine" v-on:click="get('mine')" class="grey item">Мои</a>
            <a href="#firms/fav" v-on:click="get('fav')" class="grey item">Избранные</a> -->

         <!--    <a href="#firms/contact" v-on:click="get('contact')" class="grey item">По активности</a>
            <a href="#firms/next" v-on:click="get('next')" class="grey item">По плану</a>
            <a href="#firmadd" class="right item"><i class="add green icon"></i>Добавить организацию</a>

        </div> -->

        <div class="ui top attached small stackable pointing menu">

            <a href="#/orgs" class="grey item"><i class="ui grey search icon"></i>Поиск</a>
            <!-- <a href="#/firms/mine" class="grey item">Мои</a> -->
            <!-- <a href="#/firms/fav" class="grey item">Избранные</a> -->
            <!-- <a href="#/firms/contact" class="grey item">По активности</a> -->
            <a href="#/firms/next" class="grey active item"><i class="ui grey idea icon"></i> Сегодня</a>
            <a href="#/firms/fav" class="grey item"><i class="ui grey empty star icon"></i>Избранное</a>
            <a href="#/orgs/add" class="right item"><i class="add green icon"></i>Добавить организацию</a>



        </div>



<table class="ui striped compact table">
  <tr>
    <th style="width:30%">Клиент</th>
    <th style="width:50%">Последний контакт</th>
    <th style="width:20%">Контакт по плану</th>
  </tr>
  <tr v-for="firm in firms">
  <td>    <div class="my_title">
      <a class="my_title_name" :href="'#/firm/'+firm.org_id">{{firm.name_short}}</a>
      </div>
      {{firm.phone1}} {{firm.phone2}} {{firm.phone3}}
      <a class="my_grey2" :href="'mailto:'+firm.email">{{firm.email}}</a><br>
</td>
  <td>    <span class="my_grey">{{firm.datetime1 | moment("D MMM YYYY") }}:</span> <span class="ui basic tiny label">{{firm.datetime1 | moment("from")}}</span> {{firm.txt}}</td>
  <td>{{firm.future | moment("D MMM YYYY") }} <span class="ui basic tiny label">{{firm.future | moment("from")}}</span></td>
  </tr>
</table>


        </div>


    </div>
</template>
<script>
	export default{
	name: 'Firms',
	data: function() {
		return {
			firms:[],
			pagination:{},
		};
	},
  watch: {
      '$route':'get',
    },
	created: function() {
		var sort = this.$route.params.sort ? this.$route.params.sort : 'all'
		var offset = this.$route.params.offset ? this.$route.params.offset : 0
		this.get(sort,offset);
	},
	methods: {
		get: function(sort,offset){
      // var data = {'sort':sort,'page':offset}
      // var data = {'sort':sort}
            var data = {'sort':'today'}
			$.getJSON('firm',data,(data) => {
        // this.firms =  Object.keys(data.firms).map(key => data.firms[key]);
				 this.firms = data.firms;

				this.pagination = {};
				this.pagination.title = data.list_title;
				this.pagination.info = data.list_info;
				this.pagination.perpage = data.perpage;
				this.pagination.prev = data.pre_perpage;
				this.pagination.next = data.next_perpage;
				this.pagination.sort = data.sortby;
			});
		},
		load: function(sort,offset){
			var data = {'sort':sort,'page':offset}
			if(!sort) data['sort'] = this.pagination.sort
			if(!offset) data['page'] = this.pagination.pre_perpage
			$.getJSON('firm',data,(data) => {
				for (var index in data.firms) {
					this.firms.push(data.firms[index])
				}
				this.pagination = {};
				this.pagination.title = data.list_title;
				this.pagination.info = data.list_info;
				this.pagination.perpage = data.perpage;
				this.pagination.prev = data.pre_perpage;
				this.pagination.next = data.next_perpage;
				this.pagination.sort = data.sortby;
			});
		},
		fav: function(id) {
			var url = 'firm/'+id
			url += this.firms[id].is_in_fav ? '/unfav' : '/fav'
			$.getJSON(url,(data) => {
				if (data.message)
					this.firms[id].is_in_fav = !this.firms[id].is_in_fav
			} )
		}
	}
}
</script>
