<template>
    <div>
        <div id="app-firmitem" class="js-app">
            <div class="ui segment">
                <span class="ui huge ribbon label">{{firm.firm_info.name_short}}</span>
                <span> <i class="my_favlink link large icon star"
                          :class="{'yellow': firm.firm_info.is_in_fav, 'outline grey': !firm.firm_info.is_in_fav}"
                          v-on:click="fav(firm.firm_info.org_id)"></i>  <span v-for="dep in firm.deps"
                                                                              class="ui basic label">{{dep.dep}}</span>
</span>


                <div class="ui horizontal my_divider divider"></div>

                <span class="my_status my_grey">{{firm.status}}</span>
                <span class=" ui basic tiny label my_grey">{{firm.firm_info.name}} {{firm.firm_info.surname}}</span>
                <br>

                <div class="ui horizontal my_divider divider"></div>
                <p><span v-if="firm.firm_info.postalcode"> Индекс:</span> {{firm.firm_info.postalcode}}
                    {{firm.firm_info.city}} {{firm.firm_info.street}} {{firm.firm_info.address_fact}} </p>

                <span v-if="firm.firm_info.phone1"
                      class="item">{{firm.firm_info.phone1}} {{firm.firm_info.person1}}</span>

                <a v-if="firm.firm_info.email" :href="'mailto:'+firm.firm_info.email"> <i class="mail icon"></i>{{firm.firm_info.email}}</a>
                <a v-if="firm.firm_info.site" class="item" :href="'http://'+firm.firm_info.site" target="_blank">{{firm.firm_info.site}}</a>

                {{firm.firm_info.info}}
                <!--<br>			<i v-if="!firm.contacts.length">Контакты отсутствуют</i>-->

                <table v-if="firm.contacts.length" class="ui very selectable compact basic celled table">
                    <!--<thead><tr>-->
                    <!--<th>Контактное лицо</th>-->
                    <!--<th>Телефон</th>-->
                    <!--<th>email</th>-->
                    <!--<th>Примечание</th>-->
                    <!--</tr></thead>-->
                    <tbody>
                    <tr v-for="contact in firm.contacts">
                        <td>{{contact.person}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.comment}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="ui horizontal divider"></div>
                <a class="ui tiny green basic button" v-if="firm.editable"
                   :href="'#/firm/'+firm.firm_info.org_id+'/edit'"><i class="green edit icon"></i>Редактировать</a>
                <!-- <div class="ui basic tiny label my_grey"></div> -->
            </div>


            <div id="actions" class="ui segments">

                <div class="ui segment my_form">
                    <h3>Общение</h3>
                    <!--{{action}}-->
                    <form v-if="firm.editable" v-on:submit.prevent="addAction()" id="actions_addform" class="ui form">

                        <div class="field action_statuses">
							<span v-for="(status, index) in $store.state.action_types">
							<label><input required type="radio" name="actions" :value="index"
                                          v-model="action.action_type_id">{{status}}</label> &nbsp;
																</span>
                        </div>
                        <div class="field">
                            <textarea v-model="action.txt" autofocus name="txt" rows="2"
                                      placeholder="Результат общения с клиентом" required></textarea>
                        </div>
                        <div class="fields">
                            <div class="ui field" :class="{required:(!action.future)}">
                                <el-date-picker :picker-options="{firstDayOfWeek:1}"  value-format="yyyy-MM-dd" prefix-icon="xxx" v-model="action.future"
                                                placeholder="Дата следующего контакта"></el-date-picker>
                                <!--<calendar v-model="action.future" placeholder="Дата следующего контакта"-->
                                <!--size="small" type="datetime"></calendar>-->
                            </div>
                            <div class="field">
                                <input style="width:300px;height: 41px;" id="action_contact_person"
                                       v-model="action.contact_person"
                                       type="text" placeholder="С кем общались (имя, должность)" list="managers"
                                       autocomplete="off">
                                <datalist id="managers">
                                    <option v-for="manager in firm.contacts" :value="manager.person"></option>
                                    <option :value="firm.firm_info.person1"></option>
                                </datalist>
                            </div>


                        </div>
                        <button :class="{disabled : isNextDate}" class="ui green tiny labeled icon button"
                                type="submit"><i class="checkmark  icon"></i>Добавить
                        </button>
                        <br>
                        <span v-if="isNextDate"
                              class="my_small_grey">Обязательно укажите дату следующего контакта</span>

                    </form>
                </div>


                <table class="ui striped basic celled table" style="background: white">
                    <thead>
                    <tr>
                        <th class="two wide"><span class="my_popup" data-content="Когда состоялось общение">Когда</span>
                        </th>
                        <th class="eight wide"><span class="my_popup" data-content="Характер и результаты общения">Резюме</span>
                        </th>
                        <th class="two wide"><span class="my_popup" data-content="Наш менеджер">Кто</span></th>
                        <th class="two wide"><span class="my_popup"
                                                   data-content="С кем на стороне клиента было общение">С кем</span>
                        </th>
                        <th class="two wide"><span class="my_popup" data-content="Дата следующего контакта">План</span>
                        </th>


                    </tr>
                    </thead>


                    <tbody class="actions">


                    <tr v-for="action in firm.actions" class="my_hover">
                        <td>
                            {{action.datetime1 | moment("DD-MM-YY") }} <a v-if="firm.editable"
                                                                          :href="'#/action/'+action.action_id"
                                                                          class="my_hover_action_inline"><i
                                class="write blue icon"></i>ред.</a> <br>
                            <span class="my_small_grey">{{ action.datetime1 | moment("from") }}</span>

                        </td>
                        <td>
                            {{action.txt}}
                     </td>
                        <td>{{action.name}} {{action.surname}}<br>
                            <span class="my_small_grey">{{$store.state.action_types[action.action_type_id]}}</span>
                        </td>
                        <td>{{action.contact_person}}</td>
                        <td :class="{my_fail: isAfter(action.future)}"><span v-if="action.future">	{{ action.future | moment("DD-MM-YY") }} <br>
							<span class="my_small_grey">{{ action.future | moment("from") }}</span>
						</span>
                        </td>


                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Firm',
        data: function () {
            return {
                firm: {
                    firm_info: {},
                    contacts: []
                },
                todos: {},
                action: {
                    action_type_id: false,
                    txt: '',
                    contact_person: '',
                    task_id: 0,
                    future: '',
                    org_id: 0,
                    project_todo_id: 0,
                    name: this.$store.state.user.name
                },
            };
        },
        computed: {
            isNextDate() {
                return (!this.action.future && this.action.action_type_id < 6)
            },
        },
        created: function () {
            var id = this.$route.params.id ? this.$route.params.id : 0
            $.getJSON('deps', (data) => this.deps = data.deps)

            // var data = {
            //     'level': '1',
            //     'user_id': '0',
            //     'parent_id': '-1'
            // }
            // $.getJSON('project_todo', data, (data) => this.todos = Object.keys(data.data).map(key => data.data[key]));
            //
            $.getJSON('firm/' + id, (data) => {
                this.firm = data
                $('action_contact_person').dropdown({})
            })
            this.action.org_id = id


        },
        mounted: function () {
            $('.my_popup').popup();

        },
        methods: {
            fav: function () {
                var self = this
                var url = 'firm/' + this.firm.firm_info.org_id
                url += this.firm.firm_info.is_in_fav ? '/unfav' : '/fav'
                this.$http.get(url).then(data => {
                    if (data.body.message)
                        self.firm.firm_info.is_in_fav = !self.firm.firm_info.is_in_fav
                });
            },
            addAction: function () {
                this.$http
                    .post('action', this.action)
                    .then(data => {
                        // this.firm.actions.unshift(data.body.data)
    // console.log(data.body)
                        this.firm.actions.unshift({
                            action_id:data.body,
                            action_type_id:this.action.action_type_id,
                            contact_person:this.action.contact_person,
                            future:this.action.future,
                            name:this.action.name,
                            txt:this.action.txt
                        });

                        this.action.txt = '';
                        }
                    )

            },
            isAfter(dateStr) {
                return moment().isAfter(dateStr);
            }
        },
    }
</script>
<style lang="css" scoped>
    .required > div {
        border: 1px solid #ffb7b7;
        border-radius: 4px;

    }

    .action_statuses {
        color: grey;

    }

    .action_statuses input[type=radio] {
        vertical-align: middle;
        margin-right: 4px;
    }

    .actions tr:first-child .my_fail {

        background-color: #f8e1df !important;

    }
</style>
