<template>
    <div>
        <div class="ajax_loading" v-if="is_loading">загрузка...</div>
        <!--{{search}}-->
        <div class="ui top attached small stackable pointing menu">

            <a href="#/orgs" class="grey active item"><i class="ui grey search icon"></i>Поиск</a>
            <!-- <a href="#/firms/mine" class="grey item">Мои</a> -->
            <!-- <a href="#/firms/fav" class="grey item">Избранные</a> -->
            <!-- <a href="#/firms/contact" class="grey item">По активности</a> -->
            <a href="#/firms/next" class="grey item"><i class="ui grey idea icon"></i>Сегодня</a>
            <a href="#/firms/fav" class="grey item"><i class="ui grey outline star icon"></i>Избранное</a>
            <a href="#/orgs/add" class="right item"><i class="add green icon"></i>Добавить организацию</a>
        </div>

        <!--{{search}}-->
        <div class="ui bottom attached segment">
            <form class="ui form" v-on:submit.prevent="submitSearch">
                <div id="org_search" class="ui action input">
                    <input id="org_search_str" type="text" placeholder="Поиск.." v-model.trim="search.search_str"
                           v-on:input="enable_search_button">

                    <select id="org_search_cities" v-model="search.search_city" v-on:change="enable_search_button"
                            class="ui compact dropdown">
                        <option value="0">Все города</option>
                        <option v-for="city in meta.filters.cities" v-bind:value="city.city">{{city.city}}</option>
                    </select>

                    <select v-if="$store.state.user.user_level>1" v-model="search.user_id" v-on:change="enable_search_button" class="ui compact  dropdown"
                            id="org_search_users">
                        <!-- <option value="-1">Мои направления</option> -->
                        <option value="0">Все менеджеры</option>
                        <option v-for="user in meta.filters.users" v-bind:value="user.user_id">
                            {{user.surname}} {{user.name}}</option>
                    </select>

                    <select id="org_search_status" v-model="search.status_id" v-on:change="enable_search_button"
                            class="ui compact  dropdown">
                        <option value="0">Все статусы</option>
                        <option v-for="status in meta.statuses" v-bind:value="status.status_id">{{status.org_status}}
                        </option>
                    </select>

                    <select id="org_search_deps" v-model="search.dep_ids" class="ui compact dropdown">
                        <option value="0">Все направления</option>
                        <option v-for="dep in $store.state.deps" v-bind:value="dep.dep_id">{{dep.dep}}</option>
                    </select>

                    <button id="org_search_button" type="submit" class="ui attached right labeled icon button"
                            xx-bind:disabled='search_button ? false : true'>
                        Искать<i class="left search icon"></i></button>
                </div>
            </form>

            <table class="ui striped very compact basic sortable table my_single_line_table" id="orgs_table">
                <thead>
                <tr>
                    <th style="width:70%" @click="th_sort('name_short')"
                        :class="{sorted: search.orderby_field=='name_short',ascending: search.orderby_dir=='ASC',descending: search.orderby_dir=='DESC'}">
                        Название
                    </th>
                    <th style="width:9rem" @click="th_sort('city')"
                        :class="{sorted: search.orderby_field=='city',ascending: search.orderby_dir=='ASC',descending: search.orderby_dir=='DESC'}">
                        Город
                    </th>

                    <th style="width:7rem" @click="th_sort('action_last')"
                        :class="{sorted: search.orderby_field=='datetime1',ascending: search.orderby_dir=='ASC',descending: search.orderby_dir=='DESC'}">
                        Общ дата
                    </th>
                    <th style="width:7rem" @click="th_sort('action_next')"
                        :class="{sorted: search.orderby_field=='action_next',ascending: search.orderby_dir=='ASC',descending: search.orderby_dir=='DESC'}">
                        Общ след
                    </th>

                    <th style="width:5rem" @click="th_sort('action_count')"
                        :class="{sorted: search.orderby_field=='countaction',ascending: search.orderby_dir=='ASC',descending: search.orderby_dir=='DESC'}">
                        Общ раз
                    </th>

                    <th style="width:8rem" @click="th_sort('user_id')"
                        :class="{sorted: search.orderby_field=='user_id',ascending: search.orderby_dir=='ASC',descending: search.orderby_dir=='DESC'}">
                        Менеджер
                    </th>
                    <!-- <th class="two wide" v-on:click="th_click_sort" data-orderby_field="status_id">
                      Статус
                    </th> -->
                </tr>
                </thead>
                <tbody>
                <tr v-for="org in orgs">
                    <td class="my_single_line_td" :class="{'highlight': prev_page.id==org.org_id }"
                        @click="td_expand_click($event)">
                        <a class="name_short" :href="'#/firm/'+org.org_id" :id="'firm'+org.org_id"><span
                                v-html="sh(org.name_short)"></span></a>
                    <template v-if="org.deps_id">

                        <span class="my_grey" v-for="dep_id in org.deps_id.split(',')"
                              v-if="$store.state.deps[dep_id]">{{$store.state.deps[dep_id].dep}}; </span></template>
                        <br>
                        <span v-html="sh(org.phone)"></span> <span v-html="sh(org.phone1)"></span>
                        <span class="my_grey" v-html="sh(org.info)"></span>

                    </td>
                    <td class="my_single_line_td" @click="td_expand_click($event)">
                        <span v-html="sh(org.city)"></span>
                    </td>

                    <td>          <span v-if="org.action_last"> {{org.action_last | moment("DD-MM-YY") }} <br>
              <span class="my_small_grey">{{org.action_last | moment("from") }}</span>
             </span>
                        <span v-else class="my_small_grey">общения нет<br><br></span>
                    </td>

                    <td>          <span v-if="org.action_next"> {{org.action_next | moment("DD-MM-YY") }} <br>
              <span class="my_small_grey" :class="{my_failed_next: isAfter(org.action_next)}"> {{org.action_next | moment("from") }}</span>
             </span>

                    </td>

                    <td class
                                ="my_single_line_td">
                        {{org.action_count}}
                    </td>

                    <td>
                        <span>{{org.name.charAt(0)}}. {{org.surname}}</span> <br>
                        <span class="my_small_grey">{{org.org_status}}</span>
                    </td>
                    <!-- <td class="my_single_line_td"  @click="td_expand_click($event)">
                      <span>{{org.org_status}}</span>
                    </td> -->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="5">
                        <!-- {{page_num}}  {{meta}} -->
                        <div v-if="meta.pre_perpage" class="ui stackable mini secondary menu">

                            <a v-if="search.page!=pages" @click="clickPrevPage" xhref="'#/orgs/'+meta.pre_perpage"
                               class="item"><i class="arrow left icon"></i>Предыдущие {{search.per_page}}</a>


                            <a v-if="search.page!=1" @click="clickNextPage" xhref="'#/orgs/'+meta.pre_perpage-1"
                               class="item">Следующие {{search.per_page}} &nbsp;<i class="arrow right icon"></i></a>

                            <span class="header item">Всего:{{meta.total}}</span>

                            <span class="item">        Страница № {{search.page}} из {{pages}}.
                </span> <span class="item">
                Перейти на &nbsp;&nbsp;<select id="org_search_page" v-model="search.page" v-on:change="router_goto"
                                               class="">
                      <option v-for="n in pages" :value="n">{{n}}</option>

                      </select>  </span>

                            <span class="item">
              Выводить по &nbsp;&nbsp; <select id="org_search_perpage" v-model="search.per_page" class=""
                                               v-on:change="perpage_change">
                        <!-- <option value="15">15</option> -->
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                        <option value="120">120</option>
                        <option value="200">200</option>
                        <option value="600">600</option>
                        </select>
            </span>

                            <div class="scrollTop" @click="scrollTop">&uarr; <br><span
                                    class="scrollTopLabel">наверх</span></div>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>


<script src='./orgs.js'></script>


<style lang="css">
    #org_search select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /*background: linear-gradient(-50deg, #828282 7px, #ffffff 0);*/

        /*border-radius: 15px;*/
        corner-shape: bevel;

        /*border: 2px solid red;*/
        border-bottom-right-radius: 10px;

    }
    .highlight {
        background-color: #ffffcb !important;

    }

    #orgs_table th {
        color: #adadad !important;
        font-weight: normal !important;
        text-transform: uppercase !important;
        font-size: 70% !important;
    }

    .name_short {
        font-size: 105%;
        font-weight: bold;
    }

    #org_search_button {
        width: 127px
    }

    #org_search_str {
        width: 25%
    }

    #org_search {
        width: 100%
    }

    .my_single_line_td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /*transition: all 0.5s;*/

    }

    .my_single_line_td span {
        cursor: pointer;
    }

    .my_single_line_table {
        table-layout: fixed;
    }

    tr.my_disable_ellipsis td {
        white-space: normal !important;
    }

    .scrollTop {
        position: fixed;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
        padding: 13px;
        font-size: 15px;
        display: none;
        /* border: 1px solid #e7e7e7; */
        color: #5b5b5b;
        text-align: center;
        background: #d2d2d22b;
    }

    .scrollTopLabel {
        font-size: 9px;
        color: #757575;
    }

    @keyframes highlight {
        0% {
            background-color: rgba(255, 255, 9, 0.96);
        }
        100% {
            background-color: rgba(255, 255, 0, 0.16);
        }
    }

    .sh_highlight {
        animation: highlight 2s;
        background-color: rgba(255, 255, 0, 0.16);
    }

    .ajax_loading {
        position: fixed;
        z-index: 999;
        top: 10px;
        right: 10px;
        background: #daf7da80;
        padding: 0.3em 1.6em;
        border-radius: 4px;
    }
    .my_failed_next{

        color: #b15353!important;
    }
</style>
