<script id="handlebars-tasks" type="text/x-handlebars-template">

    <div id="app-tasks" class="js-app">
        <h3>Целевые контакты</h3>

        <a class="ui green basic labeled icon button" href="#tasks/add"><i class="plus icon"></i>Добавить</a>

        <table class="ui  celled table">
            <tbody>
                {{#each tasks}}
                <tr>
                    <td>{{#if hide}}<span class="my_label_notice">Закрыто</span>{{/if}} <a class="my_title_name" href="#tasks/{{task_id}}">{{label}}</a>

                       <span class="my_label_attention">{{deadline}}</span>

                        <span class="my_grey">{{action_count}} событий</span> <br />
<div class="ui horizontal my_divider divider"></div>
                      <span class="my_label my_grey">{{created}}</span> {{info}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

</script>
