<script id="handlebars-taskedit" type="text/x-handlebars-template">

    <div id="app-taskedit" class="js-app">

        <div class="ui segment my_form">
            <h3>Редактировать цель</h3>
            <div class="ui form">
                <form id="taskedit_form" type="post" action="">
              <div class="field">      <input value="{{label}}" name="label" placeholder="Задача" type="text"></div>
 <div class="field">
<textarea name="info">{{info}}</textarea>
</div>

<div class="ui calendar field" id="">
    <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input name="deadline" type="text" placeholder="Конечная дата" value="{{deadline}}">
    </div>
</div>
                    <button type="submit" class="ui positive labeled icon button">Сохранить<i class="write icon"></i>
                </button>


                    <div class="my_float_right inline field">
                        <div class="ui toggle checkbox">
                            <input name="delete" tabindex="0" class="hidden" type="checkbox">
                            <label>Закрыть</label>
                        </div>

                </form>
                </div>
            </div>

        </div>

</script>
