<script id="handlebars-taskadd" type="text/x-handlebars-template">

    <div id="app-taskadd" class="js-app">

        <div class="ui segment my_form">
            <h3>Новая цель</h3>
            <div class="ui form">
                <form id="taskadd_form" type="post" action="">

              <div class="inline fields">
                      <div class="six wide field"> <input autofocus name="label" placeholder="Короткое описание (метка)" type="text">
                </div>
                <div class="ui calendar six wide field" id="">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input name="deadline" type="text" placeholder="Конечная дата">
                    </div>
                </div>
              </div>

                    <div class="twelve wide field">
                        <textarea autofocus name="info" rows="2" placeholder="Опишите задачу подробно" required></textarea>
                    </div>

                    <div class="inline fields">
                        <!-- <label></label> -->
                        <div class="four wide field">
                            <input type="text" placeholder="Отчетов в месяц, цель">
                        </div>
                        <div class="four wide field">
                            <input type="text" placeholder="Ударник каптруда!">
                        </div>
                        <div class="four wide field">
                            <input type="text" placeholder="Унылый минимум">
                        </div>

                    </div>
                    <button type="submit" class="ui positive labeled icon button">Добавить<i class="plus icon"></i>
                </button>
                </form>
            </div>
        </div>

    </div>

</script>
