<script type="text/x-template" id="tmpl_projects">
    <div>
        <div class="ui top stackable menu">
            <span class="item">
        <b>Проекты</b>
          </span>
            <span class="item">
        <a href="#" v-on:click.prevent="showAddModal()"><i class="plus green icon"></i>Добавить проект</a>
        </span> <span class="item">
          <a href="#projects/history"><i class="calendar grey icon"></i>История изменений</a>
          </span>
        </div>

        <div class="ui styled fluid accordion">

            <div v-for="(project, index) in projects" v-bind:key="project.project_id">
                <div class="title">
                    <i class="dropdown icon"></i> {{project.title}} <span class="my_float_right my_fontweight_400">
                   <div class="" v-bind:class="'ui horizontal label project_todo__status_id'+project.project_status_id">{{project.count_done_stages}} / {{project.count_stages}}</div>
                </span>

                </div>
                <div class="content">
                    <p class="transition hidden">
                        <table class="ui  very basic table">
                            <thead>
                                <tr>
                                    <th class="eight wide"><a class="my_title_name" v-bind:href="'#/project/' + index">В проект &rarr;</a></th>
                                    <th class="two wide"><span class="my_grey">Начало</th>
                                <th class="two wide"><span class="my_grey">Окончание</th>
                                <th class="two wide"><span class="my_grey">Задачи</th>
                                </tr>
                                </thead>
                              <tbody>
                                    <tr>
                                        <td>
                                          {{project.info}}
                                        </td>
                                        <td>{{project.date_start | formatDate }}</td>
                                        <td>{{project.deadline | formatDate}}</td>
                                        <td>{{ project.count_todos }}</td>
                                    </tr>
<tr><td colspan="4">

<div class="my_bottom_margin">
  <div class="tiny basic ui buttons">
    <button class="ui button" v-on:click="editItemModal(project.project_id)"><i class="blue edit icon"></i>Редактировать</button>
    <button class="ui button" v-on:click="removeItem(project.project_id)"><i class="Remove grey icon"></i>Удалить</button>
  </div>
</div>

  <div class="ui green tiny progress" v-bind:data-percent="procentDone(project.count_done_stages, project.count_stages)">
  <div class="bar"></div>
  <div class="label">завершено на {{ procentDone(project.count_done_stages, project.count_stages) }}%, {{project.count_done_stages}} этапа из {{project.count_stages}} сделаны</div>
</div>
<span v-for="user_id in project.user_ids" class="my_label_task">{{users[user_id].name}}</span>

                                        </td>
                                </tr>
                                </tbody>
                        </table>
                </div>
            </div>
            </p>
        </div>



        <!-- add popup -->
        <div id="projects_addform_modal" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Добавить проект
            </div>
            <div class="content">
                <form id="projects_addform" class="ui form" @submit.prevent="addItem">
                    <div class="fields">
                        <div class="six wide field"><label>Название</label>
                            <input required name="title" placeholder="Название проекта" type="text" v-model="newitem.title">
                        </div>
                        <div class="five wide field"><label>Начало
                          </label>
                            <div id="project_addform_calendar_date_start" class="ui calendar field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input name="date_start" type="text" placeholder="Старт, дата">
                                </div>
                            </div>

                        </div>
                        <div class="five wide field"><label>Окончание проекта
                          </label>
                            <div id="project_addform_calendar_deadline" class="ui calendar field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input name="deadline" type="text" placeholder="Дэдлайн">
                                </div>
                            </div>
                        </div>
                    </div>
                    <textarea rows=3 class="field" placeholder="Описание проекта" name="info" type="text" v-model="newitem.info"></textarea>

                    <div class="field"> <label for="">Исполнители</label>
                        <select id="project_addform_dropdown_users" name="users" multiple="" class="ui fluid dropdown">
                          <option  v-for="(user, index) in users" v-bind:value="user.user_id">
                          {{user.name}} {{user.surname}}
                          </option>
                          </select>
                    </div>
                    <button class="ui button" type="submit">Добавить</button>
                </form>

            </div>

        </div>
        <!-- add popup -->


        <!-- edit popup -->
        <div id="projects_edit_modal" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Редактировать проект &laquo;{{edititem.title}}&raquo;
            </div>
            <div class="content">
                <form id="projects_editform" class="ui form" @submit.prevent="editItemModalSubmit">
                    <div class="fields">
                        <div class="six wide field"><label>Название</label>
                            <input required name="title" placeholder="Название проекта" type="text" v-model="edititem.title">
                        </div>

                        <div class="five wide field"><label>Начало
                          </label>
                            <div id="project_editform_calendar_date_start" class="ui calendar field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input name="date_start" type="text" placeholder="Старт, дата">
                                </div>
                            </div>

                        </div>
                        <div class="five wide field"><label>Окончание проекта
                          </label>
                            <div id="project_editform_calendar_deadline" class="ui calendar field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input name="deadline" type="text" placeholder="Дэдлайн">
                                </div>
                            </div>

                        </div>

                    </div>
                    <textarea rows=3 class="field" placeholder="Описание проекта" name="info" type="text" v-model="edititem.info"></textarea>

                    <div class="field"> <label for="">Исполнители</label>

                        <select v-model="edititem.user_ids" id="project_editform_dropdown_users" name="users" multiple="" class="ui fluid dropdown">

                          <option v-for="(user, index) in users" v-bind:value="user.user_id">
                          {{user.name}} {{user.surname}}
                          </option>
                          </select>
                    </div>


                    <button class="ui button" type="submit">Редактировать</button>
                </form>

            </div>

        </div>
        <!-- edit popup -->
</div>

</script>
