<script type="text/x-template" id="tmpl_project_comments">
	<div class=" comments project_comments">
		<table class="ui celled table">
			<tbody>
				<tr class="comment project_comment" v-for="(comment, index) in comments" >
				<td>
					<b>{{comment.name}}</b> <i>{{comment.timestamp | formatDate}}</i><br>
					<i>{{comment.title}}</i> {{comment.content}}
				</td>
				</tr>
			</tbody>
		</table>
		<!-- <h4>Добавить коментарий</h4> -->
		<form id="project_todo_addform" class="ui form" @submit.prevent="addItem">
			<div class="six wide field">
				<label>Заголовок</label>
				<input required name="title" type="text" v-model="newitem.title">
			</div>
			<div class="field">
				<label>Сообщение</label>
				<textarea rows=3 class="field" placeholder="Сообщение" name="content" type="text" v-model="newitem.content"></textarea>
			</div>
			<button class="ui button" type="submit">Добавить комментарий</button>
		</form>
	</div>
</script>
