<script type="text/x-template" id="tmpl_project_history">
  <div>
    <h3>История изменеия проектов на {{accessTime.date}}</h3>
    <table class="ui celled table">
      <thead>
        <tr>
  <!--           <td>
              ID
            </td> -->
          <td>
            Время <i v-on:click="sort('datetime',true)" class="sort ascending icon"></i> <i v-on:click="sort('datetime',false)" class="sort descending icon"></i>
          </td>
          <td>
            Пользователь <i v-on:click="sort('name',true)" class="sort ascending icon"></i><i v-on:click="sort('name',false)" class="sort descending icon"></i>
          </td>
          <td>
            Событие <i v-on:click="sort('event',true)" class="sort ascending icon"></i><i v-on:click="sort('event',false)" class="sort descending icon"></i>
          </td>
          <td>
            Проект <i v-on:click="sort('project_title',true)" class="sort ascending icon"></i><i v-on:click="sort('project_title',false)" class="sort descending icon"></i>
          </td>
          <td>
            Комментарий <i v-on:click="sort('comment',true)" class="sort ascending icon"></i> <i v-on:click="sort('comment',false)" class="sort descending icon"></i>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(event, index) in history">
  <!--           <td>
              {{index}}
            </td> -->
          <td>
            {{event.datetime}}
          </td>
          <td>
          <a v-bind:href="'#users/'+event.user_id">{{event.name}}</a>
          </td>
          <td>
            {{event.event}}
          </td>
          <td>
            <a v-bind:href="'#project/'+event.project_id">{{event.project_title}}</a>
          </td>
          <td>
            {{event.comment}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</script>
