<script type="text/x-template" id="tmpl_project_estimated_time">
	<div>
		<h2 class="ui header">
			<div class="sub header">проект</div>
			{{project.title}}
		</h2> {{project.info}} 
		<br>
		<div class="project_todo__dates">Создан: {{project.deadline | formatDate }} <br> Срок выполнения: {{project.created | formatDate }}</div>
		<div class="ui horizontal divider"></div>


		<div class="ui top stackable menu">
			<span class="item project_todo__todo_title">
				<b>Затраченное время</b>
			</span>

		</div>
						<div v-for="stage in stages" >
					<span>{{stage.title}}</span> {{stage.info}}</td>
				
		<table class="ui celled basic table">
			<thead>
				<tr class="my_bg_grey my_th">
					<td class="eight wide" rowspan="2">Задача</td>
					<td colspan="2">Время</td>
					<td colspan="2">Стоимость</td>
				</tr>
				<tr>
					<td class="two wide"><span class="my_grey">По плану</span></td>
					<td class="two wide"><span class="my_grey">По факту</span></td>
					<td class="two wide"><span class="my_grey">По плану</span></td>
					<td class="two wide"><span class="my_grey">По факту</span></td>
				</tr>
			</thead>
			<tbody>

				<tr v-for="todo in stage.todos">
					<td><span>{{todo.title}}</span> <br>{{todo.info}}</td>
					<td>{{todo.hours_estimate}}</td>
					<td>{{todo.hours_spent}}</td>
					<td>{{todo.cost_estimated}}</td>
					<td>{{todo.cost}}</td>
				</tr>

			</tbody>
		</table>


</div>
	</div>
</script>