
.project_todo__stage_title {
    font-size: 150%;
}
.project_todo__todo_title {
  font-size: 80%!important;
  text-transform: uppercase!important;
  color: #313131!important;
  font-weight: bold;
}
.my_th{
  font-size: 80%;
  text-transform: uppercase;
  color: #909090;
}
.project_todo__todo_select{
  font-size: 80%;
margin-bottom: 5px;  

}
 .project_todo__dates {
     font-size: 80%;
     text-transform: uppercase;
     color: #555;
 }

 .project_todo__status {
     padding: 1px 5px;
     color: black!important;
     font-weight: 400!important;
     transition: all 0.4s!important;
         cursor: pointer;

 }
