<template>
	<div>
		<div class="ui top stackable menu">
			<span class="item"><b>Задачи</b></span>
			<a class="item" href="#/todos/month">Месяц</a>
			<a class="item" href="#/todos/day">Сегодня</a>
			<a class="item" href="#/todos/history">История</a>
		</div>
		<div class="ui">
			<fullcalendar :events="events" firstDay="1" ></fullcalendar>
		</div>
	</div>
</template>
<script type="text/javascript">
	export default{
		name: 'todos_month',
		data: function() {
			return {
				todos:[],
				sortDir:0,
				events:[],
				statuses: {
					1: {
						status_id: 1,
						status: "Создан",
					},
					2: {
						status_id: 2,
						status: "В работе",
					},
					3: {
						status_id: 3,
						status: "Пауза",
					},
					4: {
						status_id: 4,
						status: "Сделано!",
					},
					5: {
						status_id: 5,
						status: "Отменено",
					},
					6: {
						status_id: 6,
						status: "Проблема",
					}

				},

			};
		},
		created: function() {
			this.get();
		},
		methods:{
			get: function(){
				var self = this;
				this.events = []
				var data = {'level':1,'user_id':0,'parent_id':-1}
				this.$http.get('project_todo',{params:data}).then(data => {
					self.todos = Object.keys(data.body.data).map(key => data.body.data[key]);
					for (var i = 0 ; i < self.todos.length ; i++) {
						var event = {'start':self.todos[i].date_start,'title':self.todos[i].title,'end':self.todos[i].deadline}
						self.events.push(event)
					}
					var data = {'project_todo_id':-1};
					self.$http.get('action',{params:data}).then(data => {
						for(var action in data.body.data){
							var action = {'start':data.body.data[action].future,'title':data.body.data[action].name_short,'color':'#335833',url:'#firm/'+data.body.data[action].org_id}
							self.events.push(action)							
						}
					})
				});
			},

		}
	}
</script>