<template>
	<div>
		<div class="ui top stackable menu">
			<span class="item"><b>Задачи</b></span>
			<a class="item" href="#/todos/month">Месяц</a>
			<a class="item" href="#/todos/day">Сегодня</a>
			<a class="item" href="#/todos/history">История</a>
		</div>
		<div class="ui">
			<div id="app-calendar" class="js-app">
				<div id="menu_calendar" class="ui segment">
					<div class="ui stackable secondary menu">
						<div class="item" v-if="user.user_id == 1">
							<multiselect :items="users" v-model="calendar.user_id" multiple="false" index="user_id" :item_view="{fields:['name','surname'],separator:' '}"></multiselect>
						</div>
						<div class="item">
							<div class="item">
								<calendar v-model="calendar.month_num" format="yyyy-MM" type="month"></calendar>
							</div>
							<div class="item">
								<div id="calendar_filter_button" v-on:click="get" class="ui green animated button" tabindex="0">
									<div class="visible content">Фильтровать</div>
									<div class="hidden content">
										<i class="right arrow icon"></i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="calendar-segments" class="ui segments">
						<div class="ui segment" v-for="action in actions">
							<i class="icon checkmark" v-if="action.status"></i>
							<span class="my_label my_grey">{{action.datetime1}}	</span>
							<span class="my_contact_person">{{action.name}}</span>&nbsp;<a class="my_title_name" :href="'#firm/'+action.org_id">{{action.name_short}}</a> {{action.txt}}
							<span class="my_label_task"></span>
							<span class="my_contact_person"> {{action.contact_person}} </span>
							<span class="my_label" v-if="action.future"> Позвонить: {{action.future}}</span>
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'todos_history',
		data: function() {
			return {
				todos:[],
				actions:{},
				calendar:{
					todo_id:'0',
					user_id:'',
					month_num:'',
				}
			};
		},
		computed:{
			users(){
				return this.$store.state.users
			},
			user(){
				return this.$store.state.user
			}
		},
		created() {
			this.calendar.user_id = this.user.user_id
			this.calendar.month_num = moment().format('YYYY-MM-01')
			this.get();			
		},
	methods: {
			get: function(){
				$.getJSON('calendar/' + this.calendar.user_id + '/' + this.calendar.todo_id + '/' + this.calendar.month_num, (data) => this.actions = data.actions)
			},
		}
	}
</script>