<template>
	<div>
		<div class="ui top stackable menu">
			<span class="item"><b>Задачи</b></span>
			<a class="item" href="#/todos/month">Месяц</a>
			<a class="item" href="#/todos/day">Сегодня</a>
			<a class="item" href="#/todos/history">История</a>
		</div>
		<div class="ui">
			<h2 class="ui center aligned header">{{moment('date')}}</h2>
			<table class="ui celled selectable table very compact">
				<thead>
					<tr>
						<th colspan="3">
							{{moment('dayweek')}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="event in failed" class="failed_todos project_todo__status_id6">
						<td class="two wide"><span v-html="event.cont"></span></td>
						<td v-if="!event.action" class="two wide"> 
							<select v-bind:class="'status_select project_event__status project_event__status_id'+event.project_status_id" v-on:change="changeStatus(event.project_status_id, event.project_todo_id, $event)" v-model="event.project_status_id">
								<option v-for="status in statuses" v-bind:value="status.status_id" >
									{{ status.status }}
								</option>
							</select> 
						</td>
						<td v-if="event.action"  class="two wide"><a href="#" class="ui button" v-on:click.prevent="showActionModal(event.org_id,event.action_id)">Завершить</a> </td>
						<td><span v-html="event.content"></span></td>
					</tr>
					
					<tr v-for="event in inprogress">
						<td class="two wide"><span v-html="event.cont"></span></td>
						<td v-if="!event.action" class="two wide"> 
							<select v-bind:class="'status_select project_event__status project_event__status_id'+event.project_status_id" v-on:change="changeStatus(event.project_status_id, event.project_todo_id, $event)" v-model="event.project_status_id">
								<option v-for="status in statuses" v-bind:value="status.status_id" >
									{{ status.status }}
								</option>
							</select> 
						</td>
						<td v-if="event.action"  class="two wide"> <a href="#" class="ui button" v-on:click.prevent="showActionModal(event.org_id,event.action_id)">Завершить</a></td>
						<td><span v-html="event.content"></span></td>
					</tr>
					<tr v-for="event in done" class=" project_todo__status_id4">
						<td class="two wide"><span v-html="event.cont"></span></td>
						<td v-if="!event.action" class="two wide"> 
							<select v-bind:class="'status_select project_event__status project_event__status_id'+event.project_status_id" v-on:change="changeStatus(event.project_status_id, event.project_todo_id, $event)" v-model="event.project_status_id">
								<option v-for="status in statuses" v-bind:value="status.status_id" >
									{{ status.status }}
								</option>
							</select> 
						</td>
						<td v-if="event.action"  class="two wide"> <span class="ui button green" >Завершено</span></td>
						<td><span v-html="event.content"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id='action_modal' class="ui modal">
			<div class="ui segment my_form">
					<h3>События</h3> 
					<form v-on:submit.prevent="addAction()" id="actions_addform" class="ui form" >
						<div class="inline fields">
							<div class="field">
								<div class="ui radio checkbox">
									<input id="action_type_id" v-model="action.action_type_id" name="action_type_id" value="1"  type="radio">
									<label for="action_type_id">Звонок</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input v-model="action.action_type_id" name="action_type_id" value="2" type="radio">
									<label>E-mail</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input v-model="action.action_type_id" name="action_type_id" value="3" type="radio">
									<label>Встреча</label>
								</div>
							</div>
						</div>
						<div class="field">
							<textarea v-model="action.txt" autofocus name="txt" rows="2" placeholder="Описание" required></textarea>
						</div>
						<div class="three fields">
							<div class="field">
								<input name="contact_person" v-model="action.contact_person" type="text" placeholder="Менеджер клиента, имя" list="managers" autocomplete="off">
								<datalist id="managers">
								<option v-for="manager in action_contacts" :value="manager.person"></option>

							</datalist>
							</div> 
								<div class="ui field" >
									<calendar v-model="action.future" type="datetime"></calendar>
								</div>
							<div class="field" v-if="todos.length">
							  <select id="project_todo_id" v-model="action.project_todo_id" name="project_todo_id" class="ui dropdown">
								<option v-for="todo in todos"  :value="todo.project_todo_id">{{todo.title}}</option>
							</select>

						</div>
					</div>
					<button class="ui green tiny labeled icon button" type="submit"><i class="checkmark  icon"></i>Добавить</button>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
	import moment from 'moment'
	moment.locale('ru');
	export default {
		name: 'todos',
		data: function() {
			return {
				todos:[],
				sortDir:0,
				inprogress:[],
				events:[],
				done:[],
				action:{},
				action_contacts:[],
				failed:[],
				statuses: {
					1: {
						status_id: 1,
						status: "Создан",
					},
					2: {
						status_id: 2,
						status: "В работе",
					},
					3: {
						status_id: 3,
						status: "Пауза",
					},
					4: {
						status_id: 4,
						status: "Сделано!",
					},
					5: {
						status_id: 5,
						status: "Отменено",
					},
					6: {
						status_id: 6,
						status: "Проблема",
					}

				},

			};
		},

		created: function() {
			$('#action_modal').modal({})
			this.get();

		},
		mounted:function(){
			$('#todos_accordion').accordion({
				exclusive: false
			});
		},
		filters:{
			dateFormat:function(date) {
				return moment(date).fromNow();
			}
		},
		methods: {
			moment:function (type) {
					if (type == "date") return moment().format('LL')
					else if (type == "dayweek") return moment().format('dddd')
			},
			get: function(){
				var self = this;
				this.todos = []
				this.events = []
				this.failed = []
				this.done = []
				this.inprogress = []
				var data = {'level':1,'user_id':0,'parent_id':-1}
				this.$http.get('project_todo',{params:data}).then(data => {
					self.todos = Object.keys(data.body.data).map(key => data.body.data[key]);
					for (var i = 0 ; i < self.todos.length ; i++) {
						var event = {'start':self.todos[i].date_start,'project_todo_id':self.todos[i].project_todo_id,'project_status_id':self.todos[i].project_status_id,'title':self.todos[i].title,'content':'Задание: ' + self.todos[i].title + '<br> Информация: ' + self.todos[i].info,'end':self.todos[i].deadline}
						self.events.push(event)
						if (moment(event.start) < moment().startOf('day') && moment(event.end) > moment().endOf('day')) 
							event.cont = 'Весь день'
						else if (moment(event.start) >  moment().endOf('day') && moment(event.start) < moment().endOf('day')) 
							event.cont = ' ' + moment(event.start).fromNow() + ' \n' + moment(event.start).format('LT');
						else if (moment(event.start) >  moment().endOf('day')) 
							continue
						else if (moment(event.end) < moment().startOf('day') && event.project_status_id == 4) 
							continue
						if ((event.project_status_id != 4 && moment(event.end) < moment().startOf('day')) || event.project_status_id == 6) {
							event.cont = moment(event.end).fromNow();
							self.failed.push(event)
							continue
						} else if (event.project_status_id == 4) 
							self.done.push(event)
						else if (event.project_status_id != 4) 
							self.inprogress.push(event)
					}
					var data = {'project_todo_id':-1};
					self.$http.get('action',{params:data}).then(data => {
						for(var action in data.body.data){
							var action = {'start':data.body.data[action].future,'title':data.body.data[action].name_short,'content':'<a href="#firm/'+ data.body.data[action].org_id +'">'+data.body.data[action].name_short+' </a><br> Прошлое событие: ' + data.body.data[action].txt + '<br> Прошлый контакт: ' +  moment(data.body.data[action].datetime1).fromNow(),'color':'#335833',url:'#firm/'+data.body.data[action].org_id,'action':true,org_id: data.body.data[action].org_id,action_id: data.body.data[action].action_id,status:data.body.data[action].status}
							self.events.push(action)
							if (action.status == 1 && moment(action.start) > moment().startOf('day') && moment(action.start) < moment().endOf('day') )
								self.done.push(action)
							else if (moment(action.start) > moment() && moment(action.start) < moment().endOf('day')){
								action.cont = moment(action.start).format('LT') + '<br>' + moment(action.start).fromNow()
								self.inprogress.push(action)
							}
							else if (moment(action.start) < moment() && moment(action.start) > moment().startOf('day') && action.status == 0){
								action.cont = moment(action.start).format('LT') + '<br>	' + moment(action.start).fromNow()
								self.failed.push(action)
							}
								continue	

							
						}
					})
				});
			},
			sort: function (dir) {
				var self = this
				console.log(this.todos)
				console.log(this.todos.sort(function(a, b) {
				// 	var ap = moment(a['future'] ? a['future'] : a['deadline'] ? a['deadline'] : 0);
				// 	var bp = moment(b['future'] ? b['future'] : b['deadline'] ? b['deadline'] : 0);
				var ap = a['title'] ? a['title'] : a['txt'] ? a['txt'] : '';
				var bp = b['title'] ? b['title'] : b['txt'] ? b['txt'] : '';
				var dir = dir * 2 - 1;
				console.log(ap,bp,ap > bp,ap < bp)
				return (ap > bp ? dir : (ap < bp) ? -dir : 0);
			}))
				console.log(this.todos)
			},
			changeStatus: function(status_id, todo_id, $event) {
				var self = this
				$.post('project_todo/' + todo_id + '/update_status', {
					"status": status_id
				},data => self.get());
				
			},
			showActionModal: function(org_id,action_id) {
				var self = this;
				this.action = {action_type_id:1,'org_id':org_id,'action_id':action_id,contact_person:'',txt:''}
				$('#action_modal').modal('show');
				$.getJSON('/firm/'+org_id+'/getcontacts',(data) => self.action_contacts = data.data)
			},
			addAction:function() {
				var self = this
				$.post('action/', this.action,data => {
					self.get()
					$('#action_modal').modal('hide');
					self.action = {
						action_type_id: 1,
						txt: '',
						contact_person: '',
						task_id: 0,
						future: '',
						org_id: 0,
						project_todo_id: 0,
					}
				}
					);
			}
		}
	}
</script>
<style type="text/css">
	.status_select{
		width: 122px;
height: 39px;
cursor: pointer;
display: inline-block;
min-height: 1em;
outline: 0;
border: none;
vertical-align: baseline;
background: #E0E1E2;
color: rgba(0,0,0,.6);
font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
margin: 0 .25em 0 0;
padding: .78571429em 1.5em;
text-transform: none;
text-shadow: none;
font-weight: 700;
line-height: 1em;
font-style: normal;
text-align: center;
text-decoration: none;
border-radius: .28571429rem;
box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
will-change: '';
-webkit-tap-highlight-color: transparent;
	}

</style>