<script id="handlebars-user1" type="text/x-handlebars-template">


    <div id="app-users" class="js-app">
        <div class="ui horizontal fitted divider"></div>

        <div class="ui segment my_form">
            <h3>{{name}} {{surname}}</h3>
            <div class="ui form">
                <form id="useredit_form" type="post" action="">
                    <div class="four fields">
                        <div class="field">
                            <label>Имя</label>
                            <input name="name" requied placeholder="Название" type="text" value="{{name}}">
                        </div>
                        <div class="field">
                            <label>Отчество</label>
                            <input name="middlename" placeholder="Отчество" type="text" value="{{middlename}}">
                        </div>
                        <div class="field">
                            <label>Фамилия</label>
                            <input name="surname" placeholder="Фамилия" type="text" value="{{surname}}">
                        </div>

                        <div class="field">
                            <label>Телефон 1</label>
                            <input name="phone1" placeholder="Телефон 1" type="text" value="{{phone1}}">
                        </div>
                        <div class="field">
                            <label>Телефон 2</label>
                            <input name="phone2" placeholder="Телефон 2" type="text" value="{{phone2}}">
                        </div>

                    </div>
                    <div class="four fields">
                        <div class="field">
                            <label data-content="Менеджер видит события всех направлений, к которым есть доступ. Администратор может устанавливать роли" data-variation="very wide">Статус
                              <!-- <i class="ui grey icon help" ></i> -->
                            </label>

                            <select data-content="Менеджер видит события всех направлений, к которым есть доступ. Администратор может устанавливать роли" required name="user_level" class="ui search dropdown">
                              {{#select user_level}}

                              <option value="1">Стажер</option>
                              <option value="2">Пользователь</option>
                              <option value="3">Менеджер</option>
                              <option value="4">Администратор</option>

                              {{/select}}
          </select>

                        </div>


                        <div class="field">
                            <label>Логин</label>
                            <input name="login" placeholder="Логин" type="text" value="{{login}}">
                        </div>
                        <div class="field">
                            <label>Пароль</label>
                            <input name="password" placeholder="Пароль" type="text" value="{{password}}">
                        </div>

                        <div class="field">
                            <label>email</label>
                            <input name="email" placeholder="e-mail" type="text" value="{{email}}">
                        </div>

                    </div>

                    <table class="ui basic table">
                        <thead>
                            <th>Доступ</th>
                            <th><span class="my_popup" data-content="Возможность добавлять и редактировать только свои организации">Свои организации</span></th>
                            <th><span class="my_popup" data-content="Просмотр данных по всем (и чужим) организациям направления">Просмотр всех</span></th>
                            <th><span class="my_popup" data-content="Возможность редактировать чужие организации">Редактирование всех</span></th>
                        </thead>
                        {{#each deps}}
                        <tr>
                            <td>{{this.dep}}
                            </td>
                            <td>
                                <div class="ui toggle checkbox">
                                    <input {{#xif " this.levels[1] == 1 "}}checked{{/xif}} name="level[{{@key}}][]" value="1" type="checkbox" tabindex="0" class="hidden">

                                </div>
                            </td>
                            <td>
                                <div class="ui toggle checkbox">
                                    <input {{#xif " this.levels[2] == 2 "}}checked{{/xif}} name="level[{{@key}}][]" value="2" type="checkbox" tabindex="0" class="hidden">

                                </div>
                            </td>
                            <td>
                                <div class="ui toggle checkbox">
                                    <input {{#xif " this.levels[3] == 3 "}}checked{{/xif}} name="level[{{@key}}][]" value="3" type="checkbox" tabindex="0" class="hidden">
                                    <!-- <label>Toggle</label> -->
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </table>



                    <button type="submit" class="ui positive labeled icon button">
                    Сохранить
                    <i class="write icon"></i>
                </button>

          {{#xif " this.user_id != 1 "}}
                    <div class="my_float_right inline field">
                        <div class="ui toggle checkbox">
                            <input name="delete" tabindex="0" class="hidden" type="checkbox">
                            <label>Удалить</label>
                        </div>
                    </div>
          {{/xif}}

                </form>
            </div>



        </div>

</script>
