<script id="handlebars-users" type="text/x-handlebars-template">


  <div id="app-users"  class="js-app">
<!-- <div class="ui horizontal fitted divider"></div> -->
<h3>Пользователи</h3>

<a class="ui green basic  labeled icon button" href="#useradd"><i class="plus icon"></i>Добавить</a>
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th></th>
          <th>Доступны направления</th>
          <th>Уровень</th>
            <th>Логин</th>
          <th class="">Пароль</th>
        </tr>
      </thead>
      <tbody>
          {{#each users}}
        <tr>
          <td><a class="my_title_name" href="#user/{{user_id}}">{{name}} {{surname}}</a></td>
          <td>{{deps}}</td>
            <td>{{user_level_name}}</td>
              <td>{{login}}</td>
          <td class="">

            {{password}}</td>
        </tr>
          {{/each}}

      </tbody>
    </table>


  <!-- <div class="ui bottom attached segment segments">

      <div class="ui segment">
    <div class="ui header"></div>

      </div>

  </div> -->

</div>

</script>
