<script id="handlebars-useradd" type="text/x-handlebars-template">


    <div id="app-useradd" class="js-app">
        <!-- <div class="ui horizontal fitted divider"></div> -->

        <h3>Новый пользователь</h3>
        <div class="ui segment my_form">
            <div class="ui form">
                <form id="useradd_form" type="post" action="">
                    <div class="four fields">
                        <div class="field">
                            <label>Имя</label>
                            <input autofocus name="name" required placeholder="Имя" type="text" value="{{name}}">
                        </div>
                        <div class="field">
                            <label>Отчество</label>
                            <input name="middlename" placeholder="Отчество" type="text" value="{{middlename}}">
                        </div>
                        <div class="field">
                            <label>Фамилия</label>
                            <input name="surname" placeholder="Фамилия" type="text" value="{{surname}}">
                        </div>

                        <div class="field">
                            <label>Телефон 1</label>
                            <input name="phone1" placeholder="Телефон 1" type="text" value="{{phone1}}">
                        </div>
                        <div class="field">
                            <label>Телефон 2</label>
                            <input name="phone2" placeholder="Телефон 2" type="text" value="{{phone2}}">
                        </div>

                    </div>
                    <div class="three fields">

                        <div class="field">
                            <label>Доступ</label>
                            <select name="user_level" class="ui search dropdown">
              <option value="1">Стажер</option>
              <option value="2">Пользователь</option>
              <option value="3">Менеджер</option>
              <option value="4">Администратор</option>

          </select>

                        </div>


                        <div class="field">
                            <label>Логин</label>

                            <div class="ui icon input">
         <!-- <input type="text" name="username" placeholder="Username"> -->
         <input required name="login" placeholder="Логин" type="text" value="{{login}}">
         <i class="user icon"></i>
       </div>

                        </div>
                        <div class="field">
                            <label>Пароль</label>
                                <div class="ui icon input">
                                  <i class="lock icon"></i>
                            <input required name="password" placeholder="Пароль" type="text" value="{{password}}">
                          </div>
                        </div>

                        <div class="field">
                            <label>Email</label>
                            <div class="ui icon input">
                            <i class="mail icon"></i>
                            <input name="email" placeholder="e-mail" type="text" value="{{email}}">
                        </div>
  </div>
                    </div>

                    <table class="ui basic table">
                        <thead>
                            <th>Доступ</th>
                            <th>Свои организации</th>
                            <th>Просмотр всех</th>
                            <th>Редактирование всех</th>
                        </thead>
                        {{#each deps}}
                        <tr>
                            <td>{{dep}}</td>
                            <td>
                                <div class="ui toggle checkbox">
                                    <input name="level[{{dep_id}}][]" value="1" type="checkbox" tabindex="0" class="hidden">

                                </div>
                            </td>
                            <td>
                                <div class="ui toggle checkbox">
                                    <input name="level[{{dep_id}}][]" value="2" type="checkbox" tabindex="0" class="hidden">

                                </div>
                            </td>
                            <td>
                                <div class="ui toggle checkbox">
                                    <input name="level[{{dep_id}}][]" value="3" type="checkbox" tabindex="0" class="hidden">
                                    <!-- <label>Toggle</label> -->
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </table>

                    <!-- {{#each deps}}
        <div class="inline fields">
    <label>{{dep}}</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="dep{{dep_id}}" checked="checked">
        <label>Без доступа</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="dep{{dep_id}}">
        <label>Стажёр</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="dep{{dep_id}}">
        <label>Пользователь</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="dep{{dep_id}}">
        <label>Руководитель</label>
      </div>
    </div>
  </div>

{{/each}} -->

                    <button type="submit" class="ui positive labeled icon button">
                    Добавить
                    <i class="write icon"></i>
                </button>


                </form>
                <!-- <div class="ui submit green button">Редактировать</div> -->
            </div>
        </div>



    </div>

</script>
