<template lang="">
<div class="">

  <div class="ui segment my_form">
    <h4>{{action.name_short}}</h4> {{action.datetime1 | moment("LL")}}, {{action.datetime1 | moment("from")}}
    <br> <br>

    <form id="action_editform" class="ui form" v-on:submit.prevent="postForm">

      <div class="field">
        <textarea v-model="action.txt" name="txt" rows="10" placeholder="Опишите действие" required></textarea>
      </div>

<div class="field action_statuses">
    <span v-for="(status, index) in $store.state.action_types" >
    <label><input required type="radio" name="actions" :value="index" v-model="action.action_type_id">{{status}}</label> &nbsp;
</span>
</div>

      <div class="three fields">


        <div class="field">
          <label for="">Менеджер клиента</label>
          <input name="contact_person" type="text" v-model="action.contact_person" placeholder="Менеджер клиента, имя">

        </div>

        <div class="field">
          <label for="">Перезвонить {{action.future}}</label>

    <!-- почему-то не срабатывает v-model="action.future" календарик не заполненный. какой-то туопй глюк... -->
    <calendar v-model="action.future" placeholder="Дата следующего контакта" size="small" type="datetime" style="width:300px"></calendar>
 <!--input type="text" v-model="action.future" /-->





    </div>

      </div>

     <button class="ui green labeled icon button" type="submit"><i class="edit icon"></i>Редактировать</button>

      <div class="my_float_right inline field">

        <div class="ui checkbox">
          <input v-model="action.hide" type="checkbox" name="hide" id="action_hide">
          <label for="action_hide">Удалить</label>
        </div>
        <!-- <div class="ui toggle checkbox">
          <input v-model="action.hide" name="delete" tabindex="0" class="hidden" type="checkbox">
          <label>Удалить</label>
        </div> -->

      </div>

    </form>
  </div>

</div>
</template>
<script lang="">
export default {
  name: 'Action_edit',
  props: ['action_id'],

  data: function() {
    return {
      action: {
        txt: '',
        contact_person: '',
        future: '',
        datetime1: '',
        action_type_id:0,
        hide: 0,
        user_id:1
      },
      meta: {
        t: ''
      }
    };
  },
  created() {
    $.getJSON('action/' + this.action_id, (data) => this.action=data )
  },
  methods: {
    postForm: function() {
      $.post('action/' + this.action_id, this.action, (res) => {
        if (res.success) {
          this.$router.go(window.history.back())
        } else {
          console.log(res.errinfo);
          alert('ошибка отправки\n' + res.errinfo);
        }
      }, 'json');



    }
  }
}
</script>
<style lang="">

    label6{
        cursor: pointer;
    }

</style>