<template lang="">
<div>
  <div class="ui top stackable menu">
    <span class="item">
  <b>Направления и теги</b>
    </span>
  </div>
<!-- {{editing_item_flag}} -->
  <div class="ui segment">
    <form v-on:submit.prevent="formAddSubmit" class="ui form">
      <div class="inline fields">
        <div class="field">
          <input type="text" v-model="newdep" placeholder="Новое направление">
        </div>

    <div class="field">
    <label><input type="radio" value="0" v-model="newgroup">Направление</label>
    <label><input type="radio" value="1" v-model="newgroup">Тег</label>
    </div>
        <div class="field">
          <input :class="{ disabled : !newdep }" type="submit" name="name" value="Добавить" class="ui positive basic button">
        </div>


      </div>
    </form>
  </div>

  <!-- [TODO]  фокус на инпут после его показа. удалялка подразделений
удаление и редактирование только что созданных
 -->
  <transition-group name="transbg" class="ui segments _list_deps" tag="div">
    <div v-for="(item, index) in deps" class="ui segment" v-bind:key="item.dep_id" :class="{editing: item == editing_item_flag}">
      <a class="my_title_name dash_underline" href="" @click.prevent="startEdit(item)">{{item.dep}}</a> <span class="group">{{group[item.group]}}</span>

      <input type="text" v-model="item.dep" @keyup.enter="submitEdit(item)" @keyup.esc="cancelEdit(item)"> &nbsp;
      <button class="ui icon tiny button" @click="submitEdit(item)"><i class="checkmark green icon"></i></button>
      <button class="ui icon tiny button" @click="submitDel(item)"><i class="remove red icon"></i></button>

      <span v-if="item.count" class="my_grey my_float_right">{{item.count}} организаций </span>
    </div>
  </transition-group>

</div>
</template>


<script lang="">
export default {
  data: function() {
    return {
      group:{0:'Направление', 1:'Тэг'},
      deps: [{
        dep: '',
          newgroup:0,
        dep_id: 0,
        hide:0
      }],
      newdep: '',
      newgroup: 1,
      editing_item_flag: null,
      dep_name_backup: ''
    }
  },

  created: function() {
    $.getJSON('deps', (data) => {
      this.deps = data.deps;
    });
  },
  methods: {
    formAddSubmit: function() {
      $.post('dep/add', {dep:this.newdep,group:this.newgroup}, (r) => {

        // this.deps.unshift({
        //   dep: this.newdep,
        //   group: this.newgroup,
        //   dep_id: r.insert_id
        // });

          this.$set(this.deps, this.newdep, {
              dep: this.newdep,
              group: this.newgroup,
              dep_id: r.insert_id
          });

        this.newdep = '';
       
      });
    },

    startEdit: function(item) {
      this.editing_item_flag = item;
      this.dep_name_backup = item.dep;
    },
    submitDel:function (item) {
      if (confirm('удалить "'+ item.dep + '"?')){
      item.hide=1;
      this.submitEdit(item);

      // var index = this.deps.indexOf(item);
      // this.deps.splice(index, 1);

		this.$delete(this.deps,item.dep_id);
    }
    },
    submitEdit: function(item) {
      if(item.dep!=this.dep_name_backup || item.hide){ // реально изменен ли текст? или утсановили как удалнное?
            $.post(
            'dep/'+item.dep_id+'/edit',
            item,
            // (r) => {    if(r.success) this.editing_item_flag = null;  }
         );
    }
    this.editing_item_flag = null;
    },

    cancelEdit: function(item) {
      this.editing_item_flag = null;
      item.dep = this.dep_name_backup; // ...и вдруг передумали редактировать
    }

  }



}
</script>


<style lang="" scoped>
    .group{
        color:grey;
    }
.dash_underline {
  border-bottom: 1px dashed #52b1f2;
  padding-bottom: 2px;
}

._list_deps .segment input,._list_deps .segment button {
  display: none!important;
}

._list_deps .segment.editing a {
  display: none!important;
}

.segment.editing input,.segment.editing button {
  display: inline-block!important;

}

._list_deps .segment input {
  /* from semantic ui */
  padding: .67861429em 1em;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
}
</style>
