<script type="text/x-template" id="tmpl_top_nav">
	<div>
		<div class="ui horizontal fitted divider"></div>

		<div id="top_nav" class="ui stackable menu">

			<div class="ui item search">
				<div class="ui left icon input">
					<input class="prompt" autofocus placeholder="Поиск..." type="text">
					<i class="search link icon"></i>
				</div>
			</div>

			<a href="#todos" class="item"><i class="block Checked Calendar violet icon"></i>Задачи</a>
			<a href="/#firms" class="item" id="menu-firms"><i class="list layout blue icon"></i>Организации</a>
			<a href="#projects" class="item"><i class="block sitemap teal icon"></i>Проекты</a>

			<div class="ui pointing dropdown link right item">
				<span class="text"><i class="setting grey icon"></i>{{user.name}}</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<a v-if="user.user_id == 1" href="#users" class="item"><i class="setting grey icon"></i>Пользователи</a>
					<a v-if="user.user_id == 1" href="/#deps" class="item"><i class="block layout blue icon"></i>Направления</a>
					<a id="menu-logout" href="/logout" class="item"> <i class="sign out icon"></i>Выход</a>
				</div>
			</div>

		</div>
		<div class="ui horizontal fitted divider"></div>
	</div>
</script>
