<template lang="html">
    <div>
        <h2 class="ui header">
            <div class="sub header">проект</div>
            {{project.title}}
        </h2>
        {{project.info}} <br>

        <div class="project_todo__dates">Создан: {{project.created | formatDate }}</div>
        <div class="project_todo__dates">Старт проекта: {{project.date_start | formatDate }}</div>

        <div class="project_todo__dates"> Плановое окончание (дедлайн): {{project.deadline | formatDate }}</div>
        <div class="ui horizontal divider"></div>

        <a class="ui green basic button" href="#" v-on:click.prevent="showAddModal()"><i class="plus green icon"></i>Добавить
            этап</a>
        <div class="ui horizontal divider"></div>

        <!--<div class="ui top stackable menu">-->
        <!--<span class="item project_todo__todo_title">-->
        <!--Этапы-->
        <!--</span>-->
        <!--<span class="item">-->
        <!--<a class="ui green basic button" href="#" v-on:click.prevent="showAddModal()"><i class="plus green icon"></i>Добавить этап</a>-->
        <!--</span>-->

        <!--<div class="right menu">-->
        <!--<span class="item">-->
        <!--<a :href="'#/project/'+newitem.project_id+'/history'"><i class="calendar grey icon"></i>История изменений</a>-->
        <!--</span>-->

        <!--<span class="item">-->
        <!--<a :href="'#/project/'+newitem.project_id+'/estimated'"><i class="tasks grey icon"></i>Затраты времени</a>-->
        <!--</span>-->
        <!--</div>-->

        <!--</div>-->

        <div v-if="stages" class="ui styled fluid accordion" id="project_todo_stages">

            <div v-for="stage in stages" v-bind:id="'stage'+stage.project_todo_id">

                <div class="title">
                    <i class="dropdown icon"></i> <span class="stage_title">{{stage.title}}</span>

                    <span class="my_float_right my_fontweight_400">
<span class="ui my_bg_light_grey label">{{stage.date_start | formatDate }}</span>
<span class="ui my_bg_light_grey label">{{stage.deadline | formatDate}}</span>
               <div class="" v-bind:class="'ui horizontal label project_todo__status_id'+stage.project_status_id">
                 {{ getStatuscount(stage.todos,4) }}
                  / {{ getTotalTodos(stage.project_todo_id) }}</div>
                  
                  <div class="" v-bind:class="'ui horizontal label project_todo__status_id'+stage.project_status_id">{{$store.state.project_todo_statuses[stage.project_status_id].status}}</div>
                     
             </span>
                </div>
                <div class="content">


                    <table class="ui very basic table">
                        <tbody>

                        <tr class="xx-my_bg_light_grey">
                            <td class="eight wide">
                                {{stage.info}}

                                <span v-for="user_id in stage.user_ids"
                                      class="my_label_task">{{users[user_id].name}} {{users[user_id].surname}}</span>


                            </td>

                            <td class="one wide">{{stage.date_start | formatDate }}<br>
                                <span class="my_small_grey">{{stage.date_start | moment("from") }}</span>
                            </td>
                            <td class="one wide">{{stage.deadline | formatDate}}<br>
                                <span class="my_small_grey">{{stage.deadline | moment("from") }}</span>
                            </td>
                            <td  class="three wide" style="text-align: right;">
                                <select
                                        v-bind:class="'project_todo__status project_todo__status_id'+stage.project_status_id"
                                        v-on:change="changeStatus(stage.project_status_id, stage.project_todo_id, $event)"
                                        v-model="stage.project_status_id">
                                    <option v-for="status in statuses" v-bind:value="status.status_id">
                                        {{ status.status }}
                                    </option>
                                </select>

                                <div class="ui horizontal divider"></div>

                                <div class="ui mini compact basic buttons">
                                    <button class="ui mini compact button" v-on:click="editItemModal(stage.project_todo_id)"><i
                                            class="edit grey icon"></i>Редакт.
                                    </button>
                                    <button class="ui mini compact button" v-on:click="removeItem(stage.project_todo_id)"><i
                                            class="remove grey icon"></i>Удалить
                                    </button>
                                </div>
                            </td>


                        </tr>

                        </tbody>
                    </table>


                    <table class="ui very basic celled table">

                        <tbody>

                        <tr v-if="Object.keys(stage.todos).length > 0" class="my_th">
                            <td class="eight wide">Задачи</td>
                            <td class="one wide"><span class="my_grey">Начало</span></td>
                            <td class="one wide"><span class="my_grey">Окончание</span></td>
                            <td class="three wide" style="text-align: right;"><span class="my_grey">Статус</span></td>
                        </tr>


                        <tr v-for="todo in stage.todos" v-bind:key="todo.project_status_id">
                            <td class="my_hover">
                                <!--<span class="project_todo__todo_title">{{todo.title}}</span>-->
                                <b>{{todo.title}}</b>. {{todo.info}}

                          <span v-for="user_id in todo.user_ids"
                                      class="my_label_task">{{users[user_id].name}} {{users[user_id].surname}}</span>


                            </td>

                            <td>{{ todo.date_start | formatDate }}<br>
                                <span class="my_small_grey">{{todo.date_start | moment("from") }}</span>
                            </td>
                            <td>{{ todo.deadline | formatDate }}<br>
                                <span class="my_small_grey">{{todo.deadline | moment("from") }}</span>
                            </td>
                            <td style="text-align: right;">

                                <select
                                    v-bind:class="'project_todo__status project_todo__todo_select project_todo__status_id'+todo.project_status_id"
                                    v-on:change="changeStatus(todo.project_status_id, todo.project_todo_id, $event)"
                                    v-model="todo.project_status_id">
                                <option v-for="status in statuses" v-bind:value="status.status_id">
                                    {{ status.status }}
                                </option>
                            </select>
                                <!--<div class="ui horizontal divider"></div>-->


                                <div class="ui basic  mini compact buttons">
                                    <button class="ui tiny button"
                                            v-on:click="editItemModal(stage.project_todo_id,todo.project_todo_id)">
                                        <i class="edit grey icon"></i>Редакт.
                                    </button>
                                    <button class="ui tiny button"
                                            v-on:click="removeItem(stage.project_todo_id,todo.project_todo_id)"><i
                                            class="remove grey icon"></i>Удалить
                                    </button>

                                </div>

                            </td>
                        </tr>
                        </tbody>

                        <!--<tfoot class="full-width">-->
                        <!--<tr>-->
                            <!--<th colspan="4">-->
                            <!--<div v-on:click="showAddModal(stage.project_todo_id)"-->
                                     <!--class="ui tiny  green basic button">-->
                                    <!--<i class="plus icon"></i> Добавить задачу-->
                                <!--</div>-->
                            <!--</th>-->
                        <!--</tr>-->
                        <!--</tfoot>-->



                    </table>

                    <div v-on:click="showAddModal(stage.project_todo_id)"
                         class="ui tiny  green basic button">
                        <i class="plus icon"></i> Добавить задачу
                    </div>

                </div>
            </div>
        </div>


        <div class="ui horizontal divider"></div>

        <!--
              <div id="project_todo_comments" class="ui styled fluid accordion">
                  <div class="title">
                      <i class="dropdown icon"></i> Комментарии
                  </div>
                  <div class="content">
                      <component is="project_comments" :project_id=project.project_id></component>
                  </div>

              </div> -->

        <div class="ui horizontal divider"></div>


        <!-- popup -->
        <div id="project_todo_addform_modal" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Добавить
                <span v-if="newitem.parent_id">задачу</span>
                <span v-else="newitem.parent_id">этап</span>
            </div>
            <div class="content">

                <form id="project_todo_addform" class="ui form" @submit.prevent="addItem">

                    <div class="fields">
                        <div class="sixteen wide required field">
                            <label>Короткое описание</label>
                            <input required name="title" placeholder="Что делать?" type="text" v-model="newitem.title">
                        </div>
                    </div>

                    <div class="fields">
                        <div class="four wide field">
                            <label>Дата начала</label>

                            <el-date-picker :picker-options="{firstDayOfWeek:1}" value-format="yyyy-MM-dd" v-model="newitem.date_start"
                                            placeholder="Дата начала"  prefix-icon="xxx"></el-date-picker>


                            <!--<div id="project_todo_add_calendar_start" class="ui required calendar field">-->
                                <!--<div class="ui input left icon">-->
                                    <!--<i class="calendar icon"></i>-->
                                    <!--<input required name="deadline" type="text" placeholder="Старт по плану">-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                        <div class="four wide field">
                            <label>Дата окончания</label>
                            <el-date-picker :picker-options="{firstDayOfWeek:1}" value-format="yyyy-MM-dd" v-model="newitem.deadline"
                                            placeholder="Дата окончания"  prefix-icon="xxx"></el-date-picker>

                            <!--<div id="project_todo_add_calendar_finish" class="ui calendar field">-->
                                <!--<div class="ui input left icon">-->
                                    <!--<i class="calendar icon"></i>-->
                                    <!--<input name="deadline" type="text" placeholder="Окончание по плану">-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                        <div class="four wide field">
                            <label>Затраты времени, ч</label>
                            <input name="title" placeholder="часов по плану" type="number"
                                   v-model="newitem.hours_estimate">
                        </div>
                        <div v-if="newitem.parent_id" class="five wide required field">
                            <label>Этап</label>
                            <select required id="project_todo_add_parent" name="stage" class="ui dropdown"
                                    v-model="newitem.parent_id">
                                <!-- <option value=0>[Новый этап]</option> -->
                                <option v-for="stage in stages" v-bind:value="stage.project_todo_id">
                                    {{stage.title}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <textarea rows=3 class="field" placeholder="Подробное описание" name="info" type="text"
                              v-model="newitem.info"></textarea>
                    <div class="field">
                        <label>Участники</label>
                        <!--<select id="project_todo_add_users" name="users" multiple="" class="ui fluid dropdown">-->
                            <!--<option v-for="(user, index) in $store.state.users" v-bind:value="user.user_id">-->
                                <!--{{user.name}} {{user.surname}}-->
                            <!--</option>-->
                        <!--</select>-->

                        <el-select v-model="newitem.user_ids" multiple placeholder="Исполнители" style="width:100%">
                            <el-option
                                    v-for="user in $store.state.users"
                                    :key="user.user_id"
                                    :label="user.surname"
                                    :value="user.user_id">
                            </el-option>
                        </el-select>

                    </div>
                    <div class="ui horizontal fitted divider"></div>
                    <div xx-v-model="vacation_info" class="vacation_info">
                        <p v-for="(vacation, index) in vacation_info">
                            Сотрудник: {{vacation.name}} {{vacation.sername}} в период с {{vacation.b_date}} по
                            {{vacation.e_date}} может отсутствовать. Причина: {{vacation.comment}}.</p>
                    </div>
                    <div class="ui horizontal fitted divider"></div>
                    <button class="ui green button" type="submit">Добавить</button>
                </form>
            </div>

        </div>
        <!-- add popup -->


        <!-- edit popup -->
        <div id="project_todo_editform_modal" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Редактировать "{{edititem.title}}"
            </div>
            <div class="content">

                <form id="project_todo_editform" class="ui form" @submit.prevent="editItemModalSubmit">
                    <div class="fields">
                        <div class="sixteen wide required field">
                            <label>Короткое описание</label>
                            <input required name="title" placeholder="Что делать?" type="text" v-model="edititem.title">
                        </div>
                    </div>

                    <div class="fields">
                        <div class="four wide field">
                            <label>Дата начала</label>
                          <div class="ui field" >  <el-date-picker :picker-options="{firstDayOfWeek:1}" value-format="yyyy-MM-dd" v-model="edititem.date_start"
                                            placeholder="Дата начала"  prefix-icon="xxx"></el-date-picker>
                          </div>

                            <!--<div id="project_todo_edit_calendar_start" class="ui calendar field">-->
                                <!--<div class="ui input left icon">-->
                                    <!--<i class="calendar icon"></i>-->
                                    <!--<input name="deadline" type="text" placeholder="Старт по плану">-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                        <div class="four wide field">
                            <label>Срок окончания</label>
                            <div class="ui field" >  <el-date-picker class="ui field" :picker-options="{firstDayOfWeek:1}" value-format="yyyy-MM-dd" v-model="edititem.deadline"
                                            placeholder="Срок окончания"  prefix-icon="xxx"></el-date-picker>
                            </div>
                            <!--<div id="project_todo_edit_calendar_finish" class="ui calendar field">-->
                                <!--<div class="ui input left icon">-->
                                    <!--<i class="calendar icon"></i>-->
                                    <!--<input name="deadline" type="text" placeholder="Окончание по плану">-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                        <div class="four wide field">
                            <label>Затраты времени, ч</label>
                            <input name="hours_estimate" placeholder="часов по плану" type="number"
                                   v-model="edititem.hours_estimate">
                        </div>
                        <div class="four wide field">
                            <label>Время по факту, ч</label>
                            <input name="hours_spent" placeholder="Реально затрачено часов" type="number"
                                   v-model="edititem.hours_spent">
                        </div>
                    </div>


                    <textarea rows=3 class="field" placeholder="Описание проекта" name="info" type="text"
                              v-model="edititem.info"></textarea>

                    <div class="field">
                        <label>Исполнители</label>

                        <el-select v-model="edititem.user_ids" multiple placeholder="Исполнители" style="width:100%">
                            <el-option
                                    v-for="user in $store.state.users"
                                    :key="user.user_id"
                                    :label="user.surname"
                                    :value="user.user_id">
                            </el-option>
                        </el-select>

                        <!--<select id="project_todo_edit_users" v-model="edititem.user_ids" name="users" multiple=""-->
                                <!--class="ui fluid dropdown">-->

                            <!--<option v-for="(user, index) in users" v-bind:value="user.user_id">-->
                                <!--{{user.name}} {{user.surname}}-->
                            <!--</option>-->
                        <!--</select>-->

                    </div>


                    <button class="ui green tiny button" type="submit">Редактировать</button>
                </form>
            </div>

        </div>
        <!-- edit popup -->


        <!-- del modal popup -->
        <div class="ui basic modal" id="project_todo_delete_modal">
            <div class="ui icon header">
                <i class="trash outline icon"></i> Удалить &laquo;{{delete_modal_msg1}}&raquo;?
            </div>
            <div class="content">
                <p>{{delete_modal_msg2}}</p>
            </div>
            <div class="actions">
                <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i> Отмена
                </div>
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i> Удалить
                </div>
            </div>
        </div>
        <!-- del modal popup -->


        <gantt :project="project" :stages="stages"></gantt>

        <div class="ui horizontal divider"></div>


        <div class="ui mini compact basic buttons">
            <a  class="ui mini compact button" :href="'#/project/'+newitem.project_id+'/history'"><i class="calendar grey icon"></i>История изменений</a>

            <a  class="ui mini compact button" :href="'#/project/'+newitem.project_id+'/estimated'"><i class="tasks grey icon"></i>Затраты времени</a>

        </div>


    </div>
</template>

<script src="./project_todo.js"></script>

<style lang="css">

    .title.active .my_float_right{
        display: none;
        transition: all ;
    }
    .project_todo__stage_title {
        font-size: 150%;
    }

    .project_todo__todo_title {
        font-size: 80% !important;
        text-transform: uppercase !important;
        color: #313131 !important;
        font-weight: bold;
    }

    .stage_title {
        font-size: 135% !important;
        font-weight: normal;
    }

    .my_th {
        font-size: 80%;
        text-transform: uppercase;
        color: #909090;
    }

    .project_todo__todo_select {
        font-size: 80%;
        margin-bottom: 5px;

    }

    .my_bg_light_grey {
        background-color: #f5f5f5 !important;
    }

    .project_todo__dates {
        font-size: 80%;
        text-transform: uppercase;
        color: #555;
    }

    .project_todo__status {
        padding: 1px 5px;
        color: black !important;
        font-weight: 400 !important;
        transition: all 0.4s !important;
        cursor: pointer;
        border: 1px solid grey;

    }

</style>
