<template lang="html">
  <div>
    <h3>Все пользователи</h3>

<form class="ui form">
  <input id="working" type="radio" name="radio" value="working" v-model="radio"><label for="working">Задачи в работе</label> <small>(исключаем &laquo;корзину&raquo; и &laquo;сделано&raquo;)</small><br>
  <input id="failed" type="radio" name="radio" value="failed" v-model="radio"><label for="failed" >Только пропущенные дедлайны</label><br>
  <input id="done" type="radio" name="radio" value="done" v-model="radio"><label for="done">Сделано!</label><br>
    <input id="trash" type="radio" name="radio" value="trash" v-model="radio"><label for="trash">Корзина</label><br>

</form>

<table class="ui table">
<thead>
  <tr>
    <th>Дедлайн</th>
  <th>Создано<nobr> &darr;</nobr></th>
    <th v-if="radio=='done'">Сделано</th>
  <th>Задача </th>
  <th>Список</th>
  <th>Пользователь</th>

  </tr>
</thead>
  <tr v-for="row in rows" v-bind:class="failed(row.deadline)" v-if="ifShow(row)">
    <td>{{ format(row.deadline) }} <br> <span class="diff">{{ diff(row.deadline) }}</span></td>
    <td>{{row.created | moment("D MMM") }}</td>
    <td v-if="radio=='done'">{{row.date_finish | moment("D MMM") }}<br>
      <span class="diff">{{ diff(row.date_finish) }}</span></td>
    <td>{{row.info}}</td>
      <td>{{row.title}}</td>
        <td><a :href="'/#/simple_todo/'+row.user_ids">{{row.name}}</a></td>

  </tr>
</table>


  </div>
</template>

<script>
export default {
  data: function() {
    return {
      radio:'working',
      rows: []
    }
  },

  created: function() {
    $.getJSON('simple_todo/all', (data) => {
      this.rows = data.result;
    });
  },
  methods: {
ifShow(row){
  var ret = false;
  switch (this.radio) {
    case 'working':
      if (row.project_status_id==1 || row.project_status_id==2 || row.project_status_id==3) ret = true;
      break;
      case 'trash':
        if (row.project_status_id==0) ret = true;
        break;
        case 'failed':
          if (moment().diff(row.deadline, 'days')>0 && row.project_status_id!=4) ret = true; // пропуск дедлайна 1 или более дней, не сделано
          break;
        case 'done':
          if (row.project_status_id==4) ret = true;
          break;
  }

  return ret;

},

    format(date) {
     if (date) return moment(date).format('DD MMM');
      },

    diff(date)  { if (date)
      return moment(date).fromNow();
     },

    failed(date) {
      var overdueDays = moment().diff(date, 'days'); // сколько после дедлайна просрочено дней
      var cssClass='';
    if(overdueDays > 7) cssClass ='failed'
    else if(overdueDays >1) cssClass ='danger'
    else if(overdueDays <2 && overdueDays > -3) cssClass ='today'

 return cssClass;
}
  }

}
</script>
<style lang="css">
small{
  font-size: 75%;
  color: grey;
}
.navform{
  font-size: 130%!important;
    line-height: 130%!important;
}
label{
  cursor: pointer;
      margin-left: 5px;
}
.diff{
  font-size: 80%;
  color:grey;
}
.failed td:first-child{
  color: #f123b7!important;
      border-left: 1px solid #ff0167!important;
}
.danger td:first-child{
  color: #b5099d!important;
}
.today td:first-child{
  color: rgb(190, 100, 17)!important;
}

</style>
