<template lang="html">
    <div>
        <div v-if="this.$store.state.user.user_id==1" class="ui secondary stackable menu" style="position:relative">
            <span class="item">Задачи для</span>

            <select class="ui dropdown" v-on:change="changeList($event)">
                <option v-for="user in users"
                        v-bind:selected="user.user_id == user_id ? 'selected' : ''" v-bind:value="user.user_id">
                    {{user.name}} {{user.surname}}
                </option>
            </select>

            <div class="right menu">


                <a class="ui grey basic button item" href="#/simple_todo/all"><i class="fitted idea up icon"></i>Все
                    пользователи</a>
                <!-- <a class="ui grey basic button item"  href="#/simple_todo/deadlines"><i class="fitted frown  icon"></i>Дедлайны</a> -->
                <!-- <a class="ui grey basic button item"  href="#/simple_todo/done"><i class="fitted thumbs outline up icon"></i>Сделано!</a>
                  <a class="ui grey basic button item"  href="#/simple_todo/trash"><i class="fitted trash outline up icon"></i>Корзина</a> -->
            </div>
        </div>

        <div class="ui equal width stackable grid my_invisible_bg" style="position: relative;">
            <template v-for="list in lists">

                <!-- корзина-иконка внизу  -->
                <trashbin v-if="list.project_status_id==0"
                           v-bind:list="list.todos" :onend="onEnd" :onmove="onMove"
                          :list_id="list.project_todo_id" :list_status_id="list.project_status_id"
                          :options="{group:'group1'}" :dragging="dragging"
                          :show_trashbin.sync="show_trashbin">
                </trashbin>

                <div v-if="list.project_status_id!=0 || show_trashbin" class="column">
                    <!-- прячем список корзины изначально -->
                    <h4 v-bind:class="'arrow'+list.project_status_id">{{list.title}}
                        <span v-if="list.project_status_id==0" class="my_small_grey" style="font-weight:normal">&nbsp;&nbsp;очищается через 30 дней</span>
                        <span v-if="list.project_status_id==4" class="my_small_grey" style="font-weight:normal">&nbsp;&nbsp;<span
                                class="my_js_link" @click="toggleDone">{{(show_done=='today') ? 'сегодня' : 'за все время'}}</span></span>
                    </h4>


                    <form v-if="list.project_status_id==1" v-on:submit.prevent="addTodo(list.project_todo_id)"
                          xclass="ui form" style="overflow: hidden;margin-bottom: 6px;">
                        <textarea v-on:keyup.ctrl.enter="addTodo(list.project_todo_id)" class="edititem ui input"
                                  name="name" rows=2 placeholder="Добавить задачу" v-model="newitem.info">{{list.project_status_id}}</textarea>
                        <transition name="fade">
                            <div v-if="newitem.info">
                                <!--<el-date-picker  v-model="newitem.deadline" value-format="dd/MM" prefix-icon=""-->
                                                <!--placeholder="Дедлайн"  size="small" style="width:120px;margin-top:6px;" ></el-date-picker>-->

                                <!---->
                                <calendar v-model="newitem.deadline" size="small" type="datetime" format="dd/MM"
                                          placeholder="Дедлайн" style="width:120px;margin-top:6px;"></calendar>
                                <button title="Ctrl + Enter" class="ui tiny green button" type="submit"
                                        style="margin: 5px 0;float: right;">Добавить
                                </button>
                            </div>
                        </transition>
                        <br></form>

                    <sortable :list="list.todos" :list_id="list.project_todo_id" :list_status_id="list.project_status_id" :options="sortable_options"
                              :onend="onEnd" :onmove="onMove" xx-onchange="onchange" :onstart="onstart"  :dragging="dragging">
                        <div v-for="todo in list.todos" :key="todo.project_todo_id" class="ui segment kanban_item"
                             @dblclick="editStart(todo.project_todo_id)"
                             v-if="filterDone(list.project_status_id,todo.date_finish)">
                            <span v-if="todo.deadline && !todo.date_finish" class="deadline" :class="deadlineClass(todo.deadline)">{{todo.deadline | moment("from") }}</span>
                            <span v-if="todo.date_finish" class="date_finish">сделано {{todo.date_finish | moment("from")}}</span>
                            <div v-if="todo.project_todo_id!=edititem.id" class="kanban_item_text">{{todo.info}}</div>
                            <div v-if="todo.project_todo_id==edititem.id">

                                <textarea v-model="todo.info" v-on:blur="editEnd(todo)"
                                          v-on:keyup.ctrl.enter="editEnd(todo)" class="edititem"></textarea>
                                <calendar v-if="todo.creator_id==user_id || $store.state.user.user_id==1"
                                          v-model="todo.deadline" size="mini" type="date" format="dd/MM"
                                          placeholder="Дедлайн" style="width:100px"></calendar>
                                <span v-on:click="editEnd(todo)" title="Ctrl + Enter"
                                      class="ui basic tiny label  button my_grey">Сохранить</span>
                            </div>
                            <span v-if="todo.creator_id!=user_id" class="creator">{{$store.state.users[todo.creator_id].name}}</span>
                            <span class="creator">{{todo.created | moment('from') }}</span>
                            <div class="saved" v-bind:id="'saved'+todo.project_todo_id">Сохранено</div>
                        </div>

                    </sortable>

                </div>
            </template>

        </div>

        <!-- <img src="templates/gif/1.gif" class="welldone"> -->

    </div>
</template>


<script src="./simple_todo.js"></script>

<style lang="" scoped>
.date_finish{
    font-size: 80%;
    color: #8e8e8e;
}
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0
    }

    .welldone {
        width: 200px;
        position: fixed;
        bottom: 0;
        right: 0;

    }

    .arrow1::after, .arrow2::after, .arrow3::after {
        content: '\2192';
        color: #d6d6d6;
        margin-left: 7px;
    }

    /*.arrow1::after{
      color: #4caf50;
    }
    .arrow2::after{
    color: #96d6de;
    }
    .arrow3::after{
    color: rgb(251, 212, 94);
    }*/

    .h4arrow::after {
        content: '\21E8';
        color: #bdbdbd;
        margin-left: 7px;
    }

    .el-input__inner {
        padding: 0 5px !important;
        background-color: red !important;
    }

    .deadline {
        font-size: 85%;

    }

    .failed {
        color: #f10521 !important;
    }

    .danger {
        color: #de4b00 !important;
    }

    .today {
        color: #9500ff !important;
    }

    .creator {
        color: grey;
        font-size: 85%;
    }

    .my_js_link {
        cursor: pointer;
        border-bottom: 1px dashed grey;
    }

    .edititem {
        width: 100%;
        height: 7em;
        padding: 6px;
        border-radius: 3px;
        border: 1px solid #a2a2a2;
        background: white;
    }

    #simple_todo_add_textarea {
        height: 4em;
    }

    .my_simple_todo:hover {
        cursor: pointer;
        background-color: #fafafa;
        transition: all 0.2s;
    }

    .todo_active {
        background-color: #fffced;
    }

    .todo_active:hover {
        background-color: #f9f2d2;
    }

    .todo_active::after {
        content: '\203A';
        position: absolute;
        right: 0.1em;
        top: 0.2em;
        font-size: 3em;
        color: rgba(117, 115, 103, 0.29);
    }

    .my_invisible_bg {
        background-color: #fbfbfb !important;
        /*border: 1px solid #fbfbfb!important;*/
    }

    .my_no_border {
        box-shadow: none !important;
        border: none !important;
    }

    .bg_white {
        background-color: white;
    }

    /*.my_panels {
      transition: all 0.5s;
    }*/

    .todo_panel,
    .comments_panel {
        transition: all 0.5s;
    }

    .todo_panel {
        width: 65% !important;
    }

    .todo_panel_active {
        width: 50% !important;
    }

    .comments_panel {
        /*width: 5%!important;*/
        transition: all 0.2s;
        width: 35% !important;
        visibility: hidden;
    }

    .comments_panel_active {
        width: 50% !important;
        visibility: visible !important;
        background-color: white !important;
        /*border: none!important;*/
    }

    .display_none {
        display: none;
    }

    .font400 {
        font-weight: normal;

    }

    /* kanban view  66 */

    .sortable-ghost {
        /*background-color: #f0f0f0;*/
        /*opacity: 0.5;*/
        /*transform: rotate(20deg);*/
    }

    .sortable-chosen {
        border: 2px solid rgb(116, 218, 144) !important;
        cursor: grabbing !important;
    }

    .kanban_item {
        background-color: rgb(255, 255, 246) !important;
        transition: all 0.3s;

    }

    .kanban_item:hover {
        /*background-color: rgba(245, 255, 248, 1)!important;*/
        background-color:#ffffdb!important;
        cursor: grab;
    }
    .kanban_item_text{
        white-space: pre-line;
    }
    .saved {
        font-size: 80%;
        color: black;
        position: absolute;
        bottom: -5px;
        padding: 0 4px;
        background: #f5ffee;
        right: -5px;
        /* text-transform: uppercase; */
        border: 1px solid white;
        border-radius: 7px;
        display: none;
    }

    .FadeInAndOut {
        -webkit-animation: fadeinout 4s linear forwards;
        animation: fadeinout 4s linear forwards;
        opacity: 0;
    }

    @-webkit-keyframes fadeinout {
        50% {
            opacity: 1;
        }
    }

    @keyframes fadeinout {
        50% {
            opacity: 1;
        }
    }




</style>
