<script id="handlebars-msg" type="text/x-handlebars-template">


  <div id="app-msg"  class="js-app">
     <div class="ui horizontal divider"></div> 
  Сообщения! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fuga officiis iure laborum vero est!
</div>

</script>
