<script id="handlebars-calendar" type="text/x-handlebars-template">
    <div id="app-calendar" class="js-app">

        <div id="menu_calendar" class="ui segment">
        
            <div class="ui stackable secondary menu">
                <div class="item">

                    <select id="select_user" name="user_id" class="ui dropdown">
                <option value="all_users">Все пользователи</option>
                {{#each users}}
                <option  value="{{user_id}}">{{name}} {{surname}}</option>
                {{/each}}
                </select>
                </div>
                <div class="item">
                    <select id="select_task" name="task_id" class="ui dropdown">
                <option value="all_tasks">Все задачи</option>
                {{#each tasks}}
                <option  value="{{task_id}}">{{label}}</option>
                {{/each}}
                </select></div>
                <div class="item">
                    <div id="calendar_widget" class="ui calendar field">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="calendar_users" name="future" type="text" placeholder="События по месяцам">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div id="calendar_filter_button" class="ui green animated button" tabindex="0">
                        <div class="visible content">Фильтровать</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <table class="ui celled table">
                <tbody>
                    {{#each groupbyusers}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{count}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table> -->
        </div>


        <div id="calendar-segments" class="ui segments">
            <!-- [AJAX ВСТАВКА ТУТ] -->
        </div>

    </div>
</script>
