<script id="handlebars-calendar" type="text/x-handlebars-template">
    <div id="app-fav" class="js-app">


        <div class="ui top attached tabular menu">
          <a class="item" data-tab="tab_actions">События</a>
          <!-- <a class="item" data-tab="tab_deps">Направления</a> -->
          <!-- <a class="item" data-tab="tab_graph">График</a> -->
          <a class="item" href="#calendar/tasks" data-tab="tab_tasks">Задачи</a>

        </div>
        <div id="menu_tasks" class="ui bottom attached tab segment" data-tab="tab_tasks">

           <div class="ui stackable secondary menu">
              <div class="item">

                <select id="select_task" name="task_id" class="ui dropdown">
                <option value="_all">Все задачи</option>
                {{#each tasks}}
                <option  value="{{task_id}}">{{label}}</option>
                {{/each}}
                </select>
              </div>

              <!-- <div class="item">
                  <div class="ui calendar field">
                      <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input  id="calendar_users" name="future" type="text" placeholder="События по месяцам">
                      </div>
                  </div>
              </div> -->


          </div>
        </div>

        <div id="menu_users" class="ui bottom attached tab segment" data-tab="tab_actions">

           <div class="ui stackable secondary menu">
              <div class="item">

                <select id="select_user" name="user_id" class="ui dropdown">
                <option value="_all">Все пользователи</option>
                {{#each users}}
                <option  value="{{user_id}}">{{name}} {{surname}}</option>
                {{/each}}
                </select>
              </div>

              <div class="item">
                  <div class="ui calendar field">
                      <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input  id="calendar_users" name="future" type="text" placeholder="События по месяцам">
                      </div>
                  </div>
              </div>

          </div>

                        <table class="ui celled table">
                          <tbody>
                          {{#each groupbyusers}}
                              <tr>
                              <td>{{name}}</td>
                              <td>{{count}}</td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
        </div>

        <!-- <div id="menu_deps" class="ui bottom attached tab segment active" data-tab="tab_deps">
           <div class="ui stackable secondary menu">
          <div class="item">
            <select id="select_dep" name="dep_id" class="ui dropdown">
                <option value="_all">Все направления</option>
                  {{#each deps}}
                <option  value="{{dep_id}}">{{dep}}</option>
                  {{/each}}
            </select>

          </div>

          <div class="item">
              <div class="ui calendar field">
                  <div class="ui input left icon">
                      <i class="calendar icon"></i>
                      <input id="calendar_deps" name="future" type="text" placeholder="События по месяцам">
                  </div>
              </div>
          </div>


          </div>
       </div> -->

<!-- <div  class="ui bottom attached tab segment" data-tab="tab_graph">
<div class="ct-chart ct-double-octave"></div>
</div> -->


        <div id="calendar-segments" class="ui segments">
        <!-- [AJAX ВСТАВКА ТУТ] -->
        </div>

    </div>
</script>
