<script id="handlebars-calendar-list" type="text/x-handlebars-template">






{{#each actions}}
<div class="ui segment">

    <span class="my_contact_person">{{name}}</span>&nbsp;<a class="my_title_name" href="#firms/{{org_id}}/item">{{name_short}}</a> {{txt}}
        <span class="my_label_task">{{label}}</span>
    <span class="my_contact_person">{{contact_person}}</span>
    <span class="my_label">{{datetime1}}</span>

    {{#if future}}<span class="my_label my_grey">{{future}}</span>{{/if}}

    <!-- {{dep}} -->


</div>
{{else}}
<div class="ui segment">Список пуст</div>
{{/each}}


</script>
