<script type="text/x-template" id="tmpl_project_todoedit">
<div>
  <hr>
  <!-- <pre>tmpl_project_todoedit {{$data}}</pre> -->
  <form @submit.prevent="update"> <input type="text" v-model="title"></form>

  <hr>
</div>
</script>

<script type="text/x-template" id="tmpl_project_todo_edit">
    <div>



        <div id="project_todo_addform_modal" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Редактировать этап или задачу
            </div>
            <div class="content">
                <form id="project_todo_addform" class="ui form" @submit.prevent="addItem">

                    <div class="fields">
                        <div class="five wide required field">
                            <label>Этап или задача</label>
                            <select required id="project_todo_add_parent" name="stage" class="ui dropdown" v-model="item.parent_id">
                      <option value=0>[Новый этап]</option>
                      <option v-for="stage in stages" v-bind:value="stage.project_todo_id">
                       {{stage.title}}
                      </option>
                      </select>
                        </div>

                        <div class="six wide required field">
                            <label>Короткое описание</label>
                            <input required name="title" placeholder="Что делать?" type="text" v-model="item.title">
                        </div>

                        <div class="five wide field">
                            <label>Срок выполнения</label>
                            <div id="project_todo_add_calendar" class="ui calendar field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input name="deadline" type="text" placeholder="Дэдлайн">
                                </div>
                            </div>
                        </div>
                    </div>

                    <textarea rows=3 class="field" placeholder="Описание проекта" name="info" type="text" v-model="item.info"></textarea>

                    <div class="field">
                        <label>Участники</label>
                        <select id="project_todo_add_users" name="users" multiple="" class="ui fluid dropdown">
                    <option v-for="(user, index) in users" v-bind:value="user.user_id">
                    {{user.name}} {{user.surname}}
                    </option>
                      </select>
                    </div>

                    <button class="ui green button" type="submit">Добавить проект</button>
                </form>

            </div>

        </div>

    </div>
</script>
