<script type="text/x-template" id="tmpl_firm">
	<div>
		<div id="app-firmitem" class="js-app">
			<div class="ui segment">
				<h2>{{firm.firm_info.name_short}} <i class="my_favlink link icon star" :class="{'yellow': firm.firm_info.is_in_fav, 'empty grey': !firm.firm_info.is_in_fav}" v-on:click="fav(firm.firm_info.org_id)"></i></h2>

				<span class="my_status my_grey">{{firm.status}}</span>
				<span class=" ui basic tiny label my_grey">{{firm.firm_info.name}}</span> 
				<div v-for="dep in firm.deps" v-if="dep.selected" class="my_label">{{dep.dep}}</div>

				<div class="ui horizontal my_divider divider"></div>

				<span class="item">{{firm.firm_info.phone1}} {{firm.firm_info.person1}}

					<a :href="'mailto:'+firm.firm_info.email"> <i class="mail icon"></i>{{firm.firm_info.email}}</a>
					<a class="item" :href="'http://'+firm.firm_info.site" target="_blank">{{firm.firm_info.site}}</a>
				</span>

				<div class="ui horizontal divider"></div>
				<a class="ui tiny green basic button" v-if="firm.editable" :href="'#firm/'+firm.firm_info.org_id+'/edit'"><i class="green edit icon"></i>Редактировать</a> 
				<!-- <div class="ui basic tiny label my_grey"></div> -->
			</div>


			<div id="actions" class="ui attached segments">

				<div class="ui segment my_form">
					<h3>События</h3> 
					<form v-if="firm.editable" v-on:submit.prevent="addAction()" id="actions_addform" class="ui form" >
						<div class="inline fields">
							<div class="field">
								<div class="ui radio checkbox">
									<input id="action_type_id" v-model="action.action_type_id" name="action_type_id" value="1"  type="radio">
									<label for="action_type_id">Звонок</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input v-model="action.action_type_id" name="action_type_id" value="2" type="radio">
									<label>E-mail</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input v-model="action.action_type_id" name="action_type_id" value="3" type="radio">
									<label>Встреча</label>
								</div>
							</div>
						</div>
						<div class="field">
							<textarea v-model="action.txt" autofocus name="txt" rows="2" placeholder="Описание" required></textarea>
						</div>
						<div class="three fields">
							<div class="field">
								<input name="contact_person" v-model="action.contact_person" type="text" :value="firm.firm_info.person1" placeholder="Менеджер клиента, имя">
							</div>
							<div class="ui calendar field" id="action_add_calendar">
								<div class="ui input left icon">
									<i class="calendar icon"></i>
									<input name="future"  type="text" placeholder="След. контакт">
								</div>
							</div>
							<div class="field">
							  <select id="project_todo_id" v-model="action.project_todo_id" name="project_todo_id" class="ui dropdown">
								<option v-for="todo in todos"  :value="todo.project_todo_id">{{todo.title}}</option>
							</select>
						</div>
					</div>
					<button class="ui green tiny labeled icon button" type="submit"><i class="checkmark  icon"></i>Добавить</button>
				</form>
			</div>


			<div v-for="action in firm.actions" class="my_action my_hover ui segment">
				<span class="action__date ui basic tiny label">{{action.datetime1}}</span> 
				<span v-if="action.future" class="action__future ui basic tiny label my_grey">{{action.future}}</span>
				<span class="my_grey">{{action.name}}</span>
				<span class="action__text">{{action.txt}}</span>
				<span class="action__person my_contact_person">{{action.contact_person}}</span>
				<span v-if="action.label" class="action__task my_label_task">{{action.label}}</span>
				<div class="action__editicon my_hover_action ui bottom right attached big my_bg_white label"><a :href="'#action/'+action.action_id"><i class="write grey icon"></i></a></div>
			</div>
		</div>
	</div>
</div>
</script>
