<script type="text/x-template" id="tmpl_firm_edit">
	<div id="app-firmedit" class="js-app">
		<!-- <div class="ui horizontal divider"></div> -->
		<div class="ui segment my_form">
			<h3>{{firm.firm_info.name_short}} <i class="my_favlink link icon star" :class="{'yellow': firm.firm_info.is_in_fav, 'empty grey': !firm.firm_info.is_in_fav}" v-on:click="fav(firm.firm_info.org_id)"></i></h3>
			<div class="ui form">
				<form id="firmedit_form" v-on:submit.prevent="edit()">
					<div class="inline fields">

						<div class="field">
							<div class="ui radio checkbox">
								<input id="status_client" name="status" value="1" v-model=" firm.firm_info.status_id" type="radio">
								<label for="status_client">Клиент</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="status_postoyan" name="status" value="2" v-model=" firm.firm_info.status_id" type="radio">
								<label for="status_postoyan">Постоянный</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="status_osobiy" name="status" value="3" v-model=" firm.firm_info.status_id" type="radio">
								<label for="status_osobiy">Особый</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="status_konkurent" name="status" value="4" v-model=" firm.firm_info.status_id" type="radio">
								<label for="status_konkurent">Конкурент</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="status_postavshik" name="status" value="5" v-model=" firm.firm_info.status_id" type="radio">
								<label for="status_postavshik">Поставщик</label>
							</div>
						</div>

						<div class="field">
							<div class="ui radio checkbox">
								<input id="status_" name="status" value="6" v-model=" firm.firm_info.status_id" type="radio">
								<label for="status_">Закрыт</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="status_" name="status" value="7" v-model=" firm.firm_info.status_id" type="radio">
								<label for="status_">Отказ</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="status_" name="status" value="8" v-model=" firm.firm_info.status_id" type="radio">
								<label for="status_">	Другой профиль</label>
							</div>
						</div>
					</div>




					<div class="three fields">
						<div class="field">
							<label>Название</label>
							<input name="name_short" requied placeholder="Название" type="text" v-model="firm.firm_info.name_short">
						</div>
						<div class="field">
							<label>email</label>
							<input name="email" placeholder="email" type="text" v-model="firm.firm_info.email">
						</div>
						<div class="field">
							<label>Сайт</label>
							<input name="site" placeholder="Сайт" type="text" v-model="firm.firm_info.site">
						</div>
					</div>

					
					<div class="fields">
						<div class="four wide field">
							<label>Телефон 1</label>
							<input name="phone1" placeholder="Телефон" type="text" v-model="firm.firm_info.phone1" required>
						</div>
						<div class="six wide field">
							<label>Имя 1</label>
							<input name="person1" placeholder="Менеджер" type="text" v-model="firm.firm_info.person1">
						</div>
						<div class="six wide field">
							<label>Примечание 1</label>
							<input name="person1title" placeholder="например: должность" type="text" v-model="firm.firm_info.person1title">
						</div>
					</div>

					<div class="fields">
						<div class="four wide field">
							<label>Телефон 2</label>
							<input name="phone2" placeholder="Телефон" type="text" v-model="firm.firm_info.phone2">
						</div>
						<div class="six wide field">
							<label>Имя 2</label>
							<input name="person2" placeholder="Менеджер" type="text" v-model="firm.firm_info.person2">
						</div>
						<div class="six wide field">
							<label>Примечание 2</label>
							<input name="person2title" placeholder="" type="text" v-model="firm.firm_info.person2title">
						</div>
					</div>


					<div class="fields">
						<div class="four wide field">
							<label>Телефон 3</label>
							<input name="phone3" placeholder="Телефон" type="text" v-model="firm.firm_info.phone3">
						</div>
						<div class="six wide field">
							<label>Имя 3</label>
							<input name="person3" placeholder="Руководитель" type="text" v-model="firm.firm_info.person3">
						</div>
						<div class="six wide field">
							<label>Примечание 3</label>
							<input name="person3title" placeholder="" type="text" v-model="firm.firm_info.person3title">
						</div>
					</div>


					<div class="fields">


						<div class="four wide field">
							<label>Город</label>
							<input name="city" placeholder="Адрес" type="text" v-model="firm.firm_info.city">
						</div>
						<div class="twelve wide field">
							<label>Адрес</label>
							<input name="address_fact" placeholder="Адрес" type="text" v-model="firm.firm_info.address_fact">
						</div>


					</div>

<!-- 					<div class="field">
						 <input name="gender" type="hidden" value="0,1">
						<select id="select_dep" name="deps[]" multiple="" class="ui fluid dropdown">
							<option value="">Подразделения</option>
							<option v-for="dep in deps" :value="dep.dep_id">{{dep.dep}}</option>

						</select>
					</div> -->

					<div class="field">
						<label>Примечание</label>
						<textarea name="info" v-model="firm.firm_info.info" rows="2"></textarea>
					</div>

					<button type="submit" class="ui positive labeled icon button">
					  Сохранить
					  <i class="write icon"></i>
				  </button>


				  <div class="my_float_right inline field">
					<div class="ui toggle checkbox">
						<input name="delete" tabindex="0" v-model="firm.firm_info.hide" type="checkbox">
						<label>Удалить</label>
					</div>
				</div>
			</form>


		</div>


	</div>
</div>
</script>
