<script type="text/x-template" id="tmpl_firms">
    <div id="app-firms" class="js-app">
        <div id="firms-submenu" class="ui top attached small stackable pointing menu">

            <a href="#firms/all" v-on:click="get('all')" class="grey item">Все</a>
            <a href="#firms/mine" v-on:click="get('mine')" class="grey item">Мои</a>
            <a href="#firms/fav" v-on:click="get('fav')" class="grey item">Избранные</a>

            <a href="#firms/contact" v-on:click="get('contact')" class="grey item">По активности</a>
            <a href="#firms/next" v-on:click="get('next')" class="grey item">По плану</a>
            <a href="#firmadd" class="right item"><i class="add green icon"></i>Добавить организацию</a>

        </div>

        <div class="ui bottom attached segment segments">


            <div v-for="firm in firms" class="ui segment">
                <!--a class="ui red ribbon label">{{title}}</a-->

                <div class="my_title">
                <a class="my_title_name" :href="'#firm/'+firm.org_id">{{firm.name_short}}</a>
                <i class="my_favlink link icon star" :class="{'yellow': firm.is_in_fav, 'empty grey': !firm.is_in_fav}" v-on:click="fav(firm.org_id)"></i>

                </div>
                {{firm.phone1}} {{firm.phone2}} {{firm.phone3}} <br> <a class="my_grey2" :href="'mailto:'+firm.email">{{firm.email}}</a>
                <div class="ui horizontal fitted divider"></div>

                <!-- <span class="my_label">{{deps}}</span> -->

                    <br>  <span class="my_label">{{firm.name}}</span> <span class="my_label_task">{{firm.label}}</span>
                      {{firm.txt}} <span   class="my_contact_person">{{firm.contact_person}}</span>
                    <!-- <div class="ui basic tiny label" title="Дата последней активности">{{datetime1}}</div> -->
                    <span class="my_label">{{firm.datetime1}}</span>

                    <span class="my_label my_grey">{{firm.future}}</span>
                    <span class="my_grey">Нет событий</span>

            </div>
            <li v-if="this.firms.length == 0">Список пуст</li>
        </div>

        <div class="ui stackable mini secondary  menu">
            <a v-on:click="load('all',pagination.prev)" class="item"><i class="arrow right icon"></i>Следующие {{pagination.perpage}}</a>

        </div>



    </div>
</script>
