<script id="handlebars-director" type="text/x-handlebars-template">

    <div id="app-director" class="js-app">

        <div class="ui menu">

            <a class="item" href="#tasks"><i class="ui write green icon "></i> Редактировать цели</a>

        </div>

  

<div class="ui styled fluid accordion">
        {{#each tasks}}
        <div class="title">
         <i class="dropdown icon"></i>
         {{label}}
       </div>
       <div class="content">
         <p class="transition hidden">
           <table class="ui celled selectable table">
               <thead>
                   <tr>
                       <th class="eight wide">
                         <!-- <span class="my_popup" data-title="{{deadline}}" data-content="{{info}}" data-position="right center">{{label}}</span> -->
                         Всего
                          <a href="#calendar/all_users/{{task_id}}/all_months">{{count}}</a>


                       </th>
                       <th class="two wide"><span class="my_grey">10/16 <a href="#calendar/all_users/{{task_id}}/2016-10-01">{{colsum10}} </a></span></th>
                       <th class="two wide"><span class="my_grey">11/16 <a href="#calendar/all_users/{{task_id}}/2016-11-01">{{colsum11}} </a></span></th>
                       <th class="two wide"><span class="my_grey">12/16 <a href="#calendar/all_users/{{task_id}}/2016-12-01">{{colsum12}} </a></span></th>

                   </tr>
               </thead>


               {{#each data}}
               <tbody>
                   <tr>
                       <td>{{name}} <a href="#calendar/{{user_id}}/{{../task_id}}/all_months">{{rowsum}}</a></td>

                       <td {{#xif " m10<5"}}class="negative" {{/xif}} {{#xif " m10==15"}}class="warning" {{/xif}} {{#xif " m10>80"}}class="positive" {{/xif}}><a href="#calendar/{{user_id}}/{{../task_id}}/2016-10-01">{{m10}}</a></td>
                       <td {{#xif " m11<5"}}class="negative" {{/xif}} {{#xif " m11==15"}}class="warning" {{/xif}} {{#xif " m11>80"}}class="positive" {{/xif}}><a href="#calendar/{{user_id}}/{{../task_id}}/2016-11-01">{{m11}}</a></td>
                       <td {{#xif " m12<5"}}class="negative" {{/xif}} {{#xif " m12==15"}}class="warning" {{/xif}} {{#xif " m12>80"}}class="positive" {{/xif}}><a href="#calendar/{{user_id}}/{{../task_id}}/2016-12-01">{{m12}}</a></td>

                   </tr>
                   {{/each}}
               </tbody>


           </table>
         </p>
       </div>


        {{/each}}
</div>

    </div>

</script>
