<script id="handlebars-activity" type="text/x-handlebars-template">
    <div id="app-fav" class="js-app">


        <div id="menu_users" class="ui segment" >

          <div class="ui calendar field">
              <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input id="calendar_deps" name="future" type="text" placeholder="События по месяцам">
              </div>
          </div>

        </div>



        <div id="calendar-segments" class="ui segments">



          {{#each actions}}
          <div class="ui segment">

              <span class="my_contact_person">{{name}}</span>&nbsp;<a class="my_title_name" href="#firms/{{org_id}}/item">{{name_short}}</a> {{txt}}
                <span class="my_label_task">{{label}}</span>
              <span class="my_contact_person">{{contact_person}}</span>
              <span class="my_label">{{datetime1}}</span>

              {{#if future}}<span class="my_label my_grey">{{future}}</span>{{/if}}


          </div>
          {{else}}
          <div class="ui segment">Список пуст</div>
          {{/each}}


        </div>

    </div>
</script>
