<template>

  <div class="ui container">

  <component is="top_nav"></component>
  <!-- <transition appear name="slide-fade"> -->
    <router-view></router-view>
  <!-- </transition> -->
      <div class="ui horizontal divider"></div>
        <div class="ui horizontal tiny divider"></div>
  </div>
</template>

<script>
import top_nav from './components/top_nav'

export default {
  name: 'app',
  components: {
    top_nav
  },
  created(){
    this.$store.dispatch('loadUserData')
    this.$store.dispatch('loadDeps')
    this.$store.dispatch('loadOrg_statuses')
    this.$store.dispatch('load_project_todo_statuses')
      this.$store.dispatch('loadUsers')
      // this.$store.dispatch('loadActionStatuses')

      this.$store.commit('loadOrgPerPage')

  }
}
</script>

<style lang="">
[v-cloak] {
  display: none;
}
/* https://vuejs.org/v2/api/#v-cloak */



.slide-fade-enter-active,.slide-fade-leave-active {
  transition: opacity .15s;
}
/*.slide-fade-leave-active {
  transition: all .2s;
}*/
.slide-fade-enter, .slide-fade-leave-to {
  /*transform: translateX(10px);*/
  opacity: 0;
}


/*.transbg-enter-active,.transbg-leave-active {
  background-color: rgba(224, 255, 222, 0.93)!important;
  transition: all 1s;
}

.transbg-enter-to{
  animation: transbg_ani 2s;
    background-color: rgba(255, 255, 0, 0.16);
}
*/


/*@keyframes transbg_ani {
 	0% {
 	  background-color: rgba(255, 255, 9, 0.96);
 	}
 	100% {
 	  background-color: rgba(255, 255, 0, 0.16);
 	}
}*/


.list-enter-active,.list-leave-active {
  background-color: rgba(224, 255, 222, 0.93)!important;
  transition: all 1s;
}

.list-enter,.list-leave-to {
  opacity: 0;
  background-color: white;
  transform: translateY(-50px);
}


/*.highlight-leave-active*/
/*.highlight2-enter-active {
  background-color: rgba(224, 255, 222, 0.93)!important;
  transition: all 1s;
  opacity: 1;
}


.highlight2-enter{
    opacity: 0;

    transition: all 1s ease;

}
.highlight2-enter-to {
  background-color: rgba(255, 254, 223, 0.93)!important;
  transition: all 1s;
}*/


/*.highlight-leave-active*/
.highlight-enter-active {
  background-color: rgba(224, 255, 222, 0.93)!important;
  transition: all 1s;
  opacity: 1;
}
.highlight-enter-to {
  background-color: rgba(255, 254, 223, 0.93)!important;
  transition: all 1s;
}

.highlight-enter{
    opacity: 0;
  /*background-color: rgba(224, 255, 222, 0.93)!important;
  transition: all 1s;*/
    /*opacity: 0;*/
    /*background-color: green!important;*/
    transition: all 1s ease;

}

.highlight-leave-to {
  opacity: 0;
  background-color: white!important;
  transition: all 1s;
}



.project_todo__status_id1 {
  /*Создан*/
    background-color: rgb(239, 248, 254)!important;
}


.project_todo__status_id2 {
    /*В работе*/
    background-color: rgb(255, 254, 238)!important;
}

.project_todo__status_id3 {
    /*Пауза*/
    background-color: rgb(228, 228, 228)!important
}

.project_todo__status_id4 {
    /*Сделано*/
    background-color: rgb(243, 250, 235)!important;
}

.project_todo__status_id5 {
    /*Отменено*/
    background-color: rgb(235, 250, 246)!important;
}

.project_todo__status_id6 {
    /*Проблема*/
    background-color: rgb(255, 234, 233)!important;
}


/* ** ** мои некоторые добавки к SemanticUI */

.my_grey {
    color: #adadad!important;
}

.my_grey2 {
    color: #919191!important;
}

.my_bg_white {
    background-color: white!important;
}
.my_bg_grey{
    background-color: #eaeaea!important;
}

.my_form input, .my_form textarea {
    background-color: #fbfbfb!important;
}

.my_float_right {
    float: right;
}
.my_fontweight_400{
  font-weight: 400;
}
.my_status {
    margin-top: -1em;
}

.my_title_name {
    font-size: 120%;
    border-bottom: 1px solid #e0e0e0;
    color: #2898bd;
    transition: all 0.3s;
}

.my_contact_person {
    font-size: 90%;
    font-variant: small-caps;
}

.my_header_label {
    font-size: 90%;
    font-weight: 400;
    color: #858585;
}

.my_divider {
    margin: 5px!important;
}

a.my_title_name:hover {
    color: #006cd6!important;
    border: none;
}

.my_title {
    margin-bottom: 10px;
}

.my_label, .my_label_attention {
    display: inline-block;
    font-size: 80%;
    border: 1px solid #efefef;
    border-radius: 1px;
    padding: 0.1em 0.3em;
    color: #929292;
    /*margin: 0 0 1px 2px;*/
}

.my_label_attention {
    color: #d07511;
    border: 1px solid #f7dfc6;
    border-radius: 4px;
}

.my_label_notice {
    color: #99a069;
    border: 1px solid #dedc99;
    border-radius: 4px;
    background-color: #fcffea;
    padding: 2px 5px;
    font-size: 90%;
    margin: 0 5px;
}

.my_label_task {
    border: 1px solid #d6d6d6;
    padding: 1px 4px;
    border-radius: 3px;
    color: #848484;
    font-size: 90%;
    margin-right: 3px;
}

.my_small_grey {
    font-size: 70%;
    color: grey;
}

.my_label_task:empty {
    display: none;
}

.my_popup[data-content] {
    border-bottom: 1px dashed grey;
    cursor: help;
}


/* всплываюие иконки при наведении  [TODO] при мобильном экране показывать их сразу, т.к. на мобильном нет hover  */

.my_hover:hover .my_hover_action {
    display: block!important;
}
.my_hover:hover .my_hover_action_inline{
    display: inline-block!important;
  background: white;
  /*padding: 2px 4px;*/
  /*border-radius: 2px;*/
  font-size: 95%;
  /*border: 1px solid #80808061;*/
}
.my_hover_action,.my_hover_action_inline {
    display: none!important;
}

.my_bottom_margin{
  margin-bottom: 1em!important;
}
/*.favlist_star_selected {
  animation: hvr-icon-pop 0.4s 1 ease;
}
.favlist_star_unselected {
  animation: hvr-icon-push 0.4s 1 ease-out;
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}*/

body {
    background-color: #fbfbfb;
}

.ui.label {
  font-weight: normal;
}
/* переопределение стилей семантика  */
.ui.dimmer{
      /*background-color: rgba(0, 0, 0, 0.34)!important;*/
}
select.ui.dropdown{
  background-color: white;
}
.ui.radio.checkbox .box, .ui.radio.checkbox label {
    padding-left: 1.5em!important;
}

.ui.basic.striped.table tbody tr:nth-child(2n) {
     background-color: inherit;
}


@media only screen and (max-width: 1400px) and (min-width: 768px) {
    .ui.container {
        width: 97%!important;
    }
}

</style>
